<div style="height: 100%;" class="rulechain-page-custom-scroll">
  <div
    style="
      width: 100%;
      height: 100%;
      background: #ffffff;
      display: flex;
      flex-direction: row;
    "
  >
    <div style="width: 100%; height: 100%;">
      <div
        style="
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      >
        <span
          style="
            font-family: Heebo, sans-serif;
            font-weight: 500;
            font-size: 16px;
            font-style: normal;
            color: #363c4a;
            padding-top: 14px;
            margin-left: 20px;
            padding-bottom: 10px;
          "
          >Applications</span
        >
        <div
          style="
            height: 50px;
            border: solid white;
            border-top-color: #abb2b933;
          "
        >
          <div
            style="
              display: flex;
              margin-left: 20px;
              flex-direction: row;
              align-items: center;
              gap: 20px;
              width: 100%;
              justify-content: flex-start;
            "
          >
            <button
              (click)="toggleOverlay()"
              mat-raised-button
              style="
                cursor: pointer;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                border-radius: 24px;
                background-color: #6d7f8b;
                color: #f8fbfb;
                margin-bottom: 10px;
              "
            >
              <mat-icon>add</mat-icon>
              <spa>New App</spa>
            </button>
            <button
              (click)="loadGridTiles()"
              mat-raised-button
              style="
                cursor: pointer;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                border-radius: 24px;
                background-color: #6d7f8b;
                color: #f8fbfb;
                margin-bottom: 10px;
              "
            >
              <mat-icon>refresh</mat-icon>
              <spa>Refresh Apps</spa>
            </button>
            <dynamic-search style="width: 300px;" [options]="dropDownList"></dynamic-search>
          </div>
        </div>
      </div>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isProssesing"
      ></mat-progress-bar>
      <div style="background-color: #dee6eb; height: calc(100% - 100px);">
        <div
          style="
            display: flex;
            height: 100%;
            width: 97.8%;
            overflow-y: scroll;
            flex-direction: column;
            background-color: #dee6eb;
          "
        >
            <div>
              <div>
                <div
                  style="
                    color: #17aee0;
                    margin-left: 8px;
                    width: 97%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  "
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      font-family: Heebo, sans-serif;
                      font-weight: normal;
                      font-size: 16px;
                      font-style: normal;
                    "
                  >
                    <span (click)="resetStart()" style="color: #00a2b3; cursor: pointer !important;">Previous</span>
                    <span style="margin-left: 10px; color: #00a2b3;">
                      {{ this.appCount }}
                    </span>
                    <span (click)="setStart()" style="margin-left: 10px; color: #00a2b3; cursor: pointer !important;">Next</span>
                  </div>
                  <div
                    class="font-family: Heebo,sans-serif; font-weight: normal; font-size: 16px; font-style: normal; color: #00a2b3;"
                  >
                    Items per page: 10
                  </div>
                </div>
                <div
                  style="
                    margin-left: 24px;
                    width: 95%;
                    height: 12px;
                    background-color: rgb(24, 190, 148);
                    border: 2px solid;
                    border-color: white;
                    border-radius: 10px;
                  "
                ></div>
              </div>
              <div
                style="
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  margin-left: 80px;
                  margin-top: 20px;
                  gap: 30px;
                "
              >
                <div *ngFor="let app of filteredApplications">
                  <div
                    style="z-index: 2;"
                  >
                    <grid-tile [app]="app"></grid-tile>
                  </div>
                </div>
              </div>
              <div>
                <div
                  style="
                    color: #17aee0;
                    margin-left: 8px;
                    width: 97%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  "
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      font-family: Heebo, sans-serif;
                      font-weight: normal;
                      font-size: 16px;
                      font-style: normal;
                    "
                  >
                  <span (click)="resetStart()" style="color: #00a2b3; cursor: pointer !important;">Previous</span>
                  <span style="margin-left: 10px; color: #00a2b3;">
                    {{ this.appCount }}
                  </span>
                  <span (click)="setStart()" style="margin-left: 10px; color: #00a2b3; cursor: pointer !important;">Next</span>
                  </div>
                  <div
                    class="font-family: Heebo,sans-serif; font-weight: normal; font-size: 16px; font-style: normal; color: #00a2b3;"
                  >
                    Items per page: 10
                  </div>
                </div>
                <div
                  style="
                    margin-left: 24px;
                    width: 95%;
                    height: 12px;
                    background-color: rgb(24, 190, 148);
                    border: 2px solid;
                    border-color: white;
                    border-radius: 10px;
                    margin-bottom: 20px;
                  "
                ></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <ul
      class="nav nav-tabs right-tabs sideways-tabs"
      role="tablist"
      style="
        position: fixed;
        background-color: #30303d;
        margin-top: 0;
        right: 4.5rem;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 75%;
          justify-content: space-between;
        "
      >
        <div
          role="presentation"
          style="
            display: flex;
            width: 50%;
            height: 7%;
            justify-content: center;
            align-items: center;
          "
        >
          <h1 class="display-4" style="transform: rotate(90deg);">
            <img
              src="../assets/images/apps_icon.png"
              style="width: 38px; transform: rotate(270deg);"
            />
          </h1>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 40%;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              (click)="changeSplit('dashboard')"
              data-bs-toggle="tab"
              style="
                height: 2rem !important;
                margin-top: 24px !important;
                color: #abb2b9;
                background-color: #30303d !important;
                text-transform: capitalize !important;
              "
              [ngClass]="{
                active: currentTab == 'dashboard',
                active_color: currentTab == 'dashboard'
              }"
              type="button"
              role="tab"
              aria-selected="false"
            >
              Dashboard
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              (click)="changeSplit('application')"
              data-bs-toggle="tab"
              style="
                height: 2rem !important;
                margin-top: 24px !important;
                color: #abb2b9;
                background-color: #30303d !important;
                text-transform: capitalize !important;
              "
              [ngClass]="{
                active: currentTab == 'application',
                active_color: currentTab == 'application'
              }"
              type="button"
              role="tab"
              aria-selected="true"
            >
              Apps
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              (click)="changeSplit('uib-runtime')"
              data-bs-toggle="tab"
              style="
                height: 2rem !important;
                margin-top: 24px !important;
                color: #abb2b9;
                background-color: #30303d !important;
                text-transform: capitalize !important;
              "
              [ngClass]="{
                active: currentTab == 'uib-runtime',
                active_color: currentTab == 'uib-runtime'
              }"
              type="button"
              role="tab"
              aria-selected="false"
            >
              Runtimes
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              (click)="changeSplit('uib-build')"
              data-bs-toggle="tab"
              style="
                height: 2rem !important;
                margin-top: 24px !important;
                color: #abb2b9;
                background-color: #30303d !important;
                text-transform: capitalize !important;
              "
              [ngClass]="{
                active: currentTab == 'uib-build',
                active_color: currentTab == 'uib-build'
              }"
              type="button"
              role="tab"
              aria-selected="false"
            >
              Team
            </button>
          </li>
        </div>
        <span
          class="logout"
          style="
            width: 50%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            align-items: center;
          "
        >
          <button
            mat-mini-fab
            matTooltip="Logout"
            [matMenuTriggerFor]="menu"
            style="width: 34px; height: 34px; margin-left: -2px;"
            color="primary"
          >
            <mat-icon>perm_identity</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </span>
      </div>
    </ul>
  </div>
</div>