<div [formGroup]="queryStoreNodeConfigFormGroup">

<!--  <section *ngIf="commandDb" class="mat-block" fxFlex>
    <mat-label>Command DB: {{commandDb}}</mat-label>
  </section>
  <section *ngIf="queryDb" class="mat-block" fxFlex>
    <mat-label>Query DB: {{queryDb}}</mat-label>
  </section>-->
  <mat-form-field fxFlex class="mat-block">
    <mat-label>DB Type</mat-label>
    <mat-select formControlName="dbType" [disabled]="readOnlyDbType">
      <mat-option value="mongo">Mongo</mat-option>
      <mat-option value="sqlite3">SQLite3</mat-option>
    </mat-select>
  </mat-form-field>

  <section class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Action</mat-label>
      <mat-select formControlName="queryAction">
        <mat-option value="UPDATE">UPDATE</mat-option>
        <mat-option value="SELECTALL">SELECT ALL</mat-option>
        <mat-option value="QUERY">ADVANCED QUERY</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section *ngIf="configuration.queryAction !== 'UPDATE'" class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>View Model</mat-label>
      <mat-select formControlName="customObject">
        <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
          {{nodeEntity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section *ngIf="configuration.queryAction === 'UPDATE'" class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Domain Model</mat-label>
      <mat-select formControlName="entity">
        <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
          {{nodeEntity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section *ngIf="configuration.queryAction === 'QUERY'"  class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Advanced Query</mat-label>
      <textarea matInput formControlName="query" required rows="10"></textarea>
    </mat-form-field>
  </section>
  <mat-form-field fxFlex class="mat-block" *ngIf="configuration.queryAction === 'QUERY' || configuration.queryAction === 'SELECTALL'">
    <mat-label>Save Result To</mat-label>
    <mat-select formControlName="assignedProperty">
      <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
        {{modelproperty.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>
</div>
