<form class="mat-form-dialog" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create Requirement</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <h6>Hiiii</h6>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary"
                type="submit" cdkFocusInitial>
            Save
        </button>
        <button mat-button color="primary"
                type="button"
                mat-dialog-close >
            Cancel
        </button>
    </div>
</form>
