<form [formGroup]="projectForm" style="
display: flex;
height: 100%;
width: 100%;
background-color: #dee6eb;
align-items: center;
flex-direction: column;
">
  <div
    style="
      font-size: 18px;
      border-radius: 10px;
      width: 800px;
      margin: 100px 30px 30px 30px;
      padding: 25px;
      background-color: #f8f8f8;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
    "
  >
    <h2 style="display: flex; justify-content: center;">{{projState}} new artefact</h2>
    <img
    src="../assets/images/uib_logo.png"
    style="width: 60px; margin-left: 350px; transform: rotate(270deg);"
    />
    <div
      style="
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      "
    >
      <mat-form-field>
        <mat-label>Name your roject</mat-label>
        <input
          matInput
          type="text"
          placeholder="Example Project"
          formControlName="projectName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Add a description</mat-label>
        <mat-hint
          >Helpful for items or differentiating between projects with similar
          names</mat-hint
        >
        <input
          matInput
          type="text"
          placeholder="Enter description"
          formControlName="description"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tell us what it's for</mat-label>
        <mat-hint
          >This will help us to provide a more relevant experience</mat-hint
        >
        <mat-select formControlName="purpose" required [disabled]="isEdit">
          <mat-option *ngFor="let purpose of purposes" [value]="purpose">
            {{ purpose }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 20px;
        justify-content: space-between;
      "
    >
      <button
        mat-raised-button
        color="primary"
        style="font-size: 18px;"
        (click)="onSubmit()"
        [disabled]="projectForm.invalid || isClear"
      >
        {{projState}} Project
      </button>
    </div>
  </div>

  <button
    mat-raised-button
    style="
      font-size: 14px;
      margin-top: 20px;
      background-color: white;
    "
    (click)="clear()"
  >
    Cancel
  </button>
</form>
