<form name="addSecretForm" [formGroup]="form" (ngSubmit)="addFormControllers()">
        <div formArrayName="formFieldsGroup">
            <div class="row comp-table-header">
                <div class="col-md-2" style="padding-left: 21px;">
                    Row Index
                </div>
                <div class="col-md-3" style="padding-left: 21px;">
                Data Field
            </div>
                <div class="col-md-5" style="padding-left: 60px;">
                UI Component
                </div>
                <div class="col-md-2" style="padding-left: 110px;">
                Visibility
                </div>
            </div>

            <div *ngFor="let emp of formFieldsGroup.controls; let i = index">

                <div class="row" style="  border-bottom: 1px solid darkgrey;" [formGroup]="emp" *ngIf="this.form.value.formFieldsGroup[i].propertyName !== 'Objectuuid'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Created At'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Updated At'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Deleted At'">

                    <div class="form-tile row" *ngIf="!isFieldSelected">
                        <div class="col-md-2" style="padding-left: 40px">{{i}}</div>
                        <div class="col-md-2 form-group" *ngIf="!isFieldSelected">
                            <input class="form-control" readonly type="text" formControlName="propertyName"
                                   style=" width: 70%; border: none" >
                        </div>
                        <div class="col-md-5" *ngIf="!isFieldSelected">
                            <div class="form-group" style="text-align: center">

        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Textbox'"
             src="../../../../../assets/images/form_control/textbox.jpg"
             style="width: 40%; height: 3%">
        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Radiobutton'"
             src="../../../../../assets/images/form_control/radio.jpg"
             style="width: 40%; height: 3% ">
        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Checkbox'"
             src="../../../../../assets/images/form_control/checkbox.jpg"
             style="width: 40%; height: 3% ">
        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Dropdown'"
             src="../../../../../assets/images/form_control/dropdown.jpg"
             style="width: 40%; height: 3% ">

        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'DATE_INPUT'"
             src="../../../../../assets/images/form_control/date.jpg"
             style="width: 40%; height: 3% ">

        <img *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'TRUE_OR_FALSE_PICKER'"
             src="../../../../../assets/images/form_control/tureorfalse.jpg"
             style="width: 40%; height: 3% ">

        <i *ngIf="this.form.value.formFieldsGroup[i].fieldcategory === 'object'"
           style="font-size:30px " class="fa fa-exchange" aria-hidden="true"></i>
            <i  style="text-align: end; display: inline; margin-left: 15px" class="fa fa-pencil-square-o" *ngIf="!isFieldSelected" type="button" (click)="onSelectController(i)" aria-hidden="true"></i>
                                <br>
                            </div>
                        </div>
                        <div *ngIf="!isFieldSelected" class="col-md-3">
                        <mat-slide-toggle style="float: right" formControlName="isVisible">
                        </mat-slide-toggle>
                        </div>
                    </div>


                    <div *ngIf="selectedFieldIndex === i && isFieldSelected" style="width: 100%; padding: 3%">
                        <div *ngIf="this.form.value.formFieldsGroup[i].fieldcategory === 'property'">
                            <div class="controller-input form-group">
                                <div class="row col-md-12">
                                 <div align="right"> Initial Visibility
                                     <mat-slide-toggle  formControlName="initialVisible">
                                     </mat-slide-toggle></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div *ngIf="this.form.value.formFieldsGroup[i].propertyType === 'TEXT' || this.form.value.formFieldsGroup[i].propertyType === 'NUMBER'||
                                 this.form.value.formFieldsGroup[i].propertyType === 'FLOAT'">
                                    <label class="form-control-label">Controller </label>
                                    <p-dropdown placeholder="Choose" name="fieldController"
                                                [options]="controllerTypeItems" formControlName="fieldController"
                                                [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                                    <br>
                                </div>

                                <div *ngIf="this.form.value.formFieldsGroup[i].propertyType === 'DATE'">
                                    <label class="form-control-label">Controller </label>
                                    <input type="text" readonly class="form-control" name="fieldController"
                                           formControlName="fieldController"/>
                                </div>
                                <div *ngIf="this.form.value.formFieldsGroup[i].propertyType === 'TRUE_OR_FALSE'">
                                    <label class="form-control-label">Controller </label>
                                    <input type="text" readonly class="form-control" name="fieldController"
                                           formControlName="fieldController"/>
                                </div>
                                <div *ngIf="this.form.value.formFieldsGroup[i].propertyType === 'EMAIL'">
                                    <label class="form-control-label">Controller </label>
                                    <input readonly type="text" class="form-control" name="fieldController"
                                           formControlName="fieldController"/>
                                </div>
                            </div>
                            <div class="controller-input form-group"  *ngIf="this.form.value.formFieldsGroup[i].fieldController !== 'Label'">
                                <label class="form-control-label">Label </label>
                                <input class="form-control" type="text" formControlName="label">
                            </div>
                            <div class="controller-input form-group"  *ngIf="this.form.value.formFieldsGroup[i].fieldController !== 'Label'">
                                <label class="form-control-label">Default Value </label>
                                <input class="form-control" type="text" formControlName="defaultvalue">
                            </div>
                            <div class="controller-input form-group"
                                 *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Textbox'">
                                <label class="form-control-label">Placeholder </label>
                                <input class="form-control" type="text" formControlName="placeholder"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="controller-input form-group">
                                        <p-checkbox name="isrequired"
                                                    formControlName="isrequired" binary="true"></p-checkbox>
                                        <label class="form-control-label p-sm-2">Required </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div *ngIf="this.form.value.formFieldsGroup[i].fieldController !== 'Dropdown'" class="controller-input form-group">
                                        <p-checkbox name="addUIEvents"
                                                    formControlName="addUIEvents" binary="true"></p-checkbox>
                                        <label class="form-control-label p-sm-2">Load data from API </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.form.value.formFieldsGroup[i].fieldcategory === 'object'">
                            <div *ngFor="let child of childFormGroup['controls']; let k = index">
                                <div class="row-g-12" [formGroup]="child">
                                    <div class="tile row" *ngIf="!isChildFieldSelected">
                                        <div class="col-md-4">
                                            <div *ngIf="!isChildFieldSelected" class="form-group">
                                                <input class="form-control" readonly type="text"
                                                       formControlName="propertyName" style="border: none">
                                            </div>
                                        </div>
                                        <div class="col-md-5" *ngIf="!isChildFieldSelected">
                                            <div class="form-group" style="text-align: center">
                                                <img
                                                        *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Textbox'"
                                                        src="../../../../../assets/images/form_control/textbox.jpg"
                                                        style="width: 70%; height: 3%">
                                                <img
                                                        *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Radiobutton'"
                                                        src="../../../../../assets/images/form_control/radio.jpg"
                                                        style="width: 70%; height: 3% ">
                                                <img
                                                        *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Checkbox'"
                                                        src="../../../../../assets/images/form_control/checkbox.jpg"
                                                        style="width: 70%; height: 3% ">
                                                <img
                                                        *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Dropdown'"
                                                        src="../../../../../assets/images/form_control/dropdown.jpg"
                                                        style="width: 70%; height: 3% ">
                                                <img *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'DATE_INPUT'"
                                                     src="../../../../../assets/images/form_control/date.jpg"
                                                     style="width: 70%; height: 3% ">

                                                <img *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'TRUE_OR_FALSE_PICKER'"
                                                     src="../../../../../assets/images/form_control/tureorfalse.jpg"
                                                     style="width: 70%; height: 3% ">

                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="text-align: end"  *ngIf="this.form.value.formFieldsGroup[i].propertyName !== 'Objectuuid'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Created At'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Updated At'
                                        && this.form.value.formFieldsGroup[i].propertyName !== 'Deleted At'">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" *ngIf="!isChildFieldSelected" type="button"
                                                   (click)="onSelectChildController(k)"></i>
                                        </div>
                                    </div>


                                    <div *ngIf="selectedChildIndex === k && isChildFieldSelected">
                                        <div class="form-group">
                                            <div *ngIf="this.form.value.formFieldsGroup[i].children[k].propertyType === 'TEXT' || this.form.value.formFieldsGroup[i].children[k].propertyType === 'NUMBER'||
                                 this.form.value.formFieldsGroup[i].children[k].propertyType === 'FLOAT'">
                                                <label class="form-control-label">Controller </label>
                                                <p-dropdown placeholder="Choose" name="fieldController"
                                                            [options]="controllerTypeItems"
                                                            (onClick)="onClickChildFormControl(k)"
                                                            formControlName="fieldController"
                                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                                                <br>
                                            </div>

                                            <div
                                                    *ngIf="this.form.value.formFieldsGroup[i].children[k].propertyType === 'DATE'">
                                                <label class="form-control-label">Controller </label>
                                                <input type="text" readonly class="form-control" name="fieldController"
                                                       formControlName="fieldController"/>
                                            </div>
                                            <div
                                                    *ngIf="this.form.value.formFieldsGroup[i].children[k].propertyType === 'TRUE_OR_FALSE'">
                                                <label class="form-control-label">Controller </label>
                                                <input type="text" readonly class="form-control" name="fieldController"
                                                       formControlName="fieldController"/>
                                            </div>
                                            <div
                                                    *ngIf="this.form.value.formFieldsGroup[i].children[k].propertyType === 'EMAIL'">
                                                <label class="form-control-label">Controller </label>
                                                <input readonly type="text" class="form-control" name="fieldController"
                                                       formControlName="fieldController"/>
                                            </div>
                                        </div>
                                        <div class="controller-input form-group">
                                            <label class="form-control-label">Label </label>
                                            <input class="form-control" type="text" formControlName="label">
                                        </div>
                                        <div class="form-group">
                                            <label class="controller-input form-control-label">Default Value </label>
                                            <input class="form-control" type="text" formControlName="defaultvalue">
                                        </div>
                                        <div class="controller-input form-group"
                                             *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Textbox'">
                                            <label class="form-control-label">Placeholder </label>
                                            <input class="form-control" type="text" formControlName="placeholder"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="controller-input form-group">
                                                    <p-checkbox name="isrequired"
                                                                formControlName="isrequired" binary="true"></p-checkbox>
                                                    <label class="form-control-label p-sm-2">Required </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController !== 'Dropdown'" class="controller-input form-group">
                                                    <p-checkbox name="addUIEvents"
                                                                formControlName="addUIEvents" binary="true"></p-checkbox>
                                                    <label class="form-control-label p-sm-2">Load data from API </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                                *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Dropdown'|| this.form.value.formFieldsGroup[i].children[k].fieldController === 'Radiobutton'">
                                            <h5>{{this.form.value.formFieldsGroup[i].fieldController}} Choices</h5>

                                            <div class="form-group"  *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Dropdown' ">
                                                <label class="form-control-label">Choice Type </label>
                                                <p-dropdown placeholder="Choose" name="choiceType" (onChange)="onChangeMicroserviceProjectInChild()"
                                                            [options]="choiceType" formControlName="choiceType"
                                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" ></p-dropdown>
                                            </div>

                                            <div
                                                    *ngIf="this.form.value.formFieldsGroup[i].children[k].fieldController === 'Dropdown' && this.form.value.formFieldsGroup[i].children[k].choiceType === 'API'">
                                                <div class="form-group"
                                                     style=" padding-top: 5px; ">
                                                    <p-checkbox formControlName="search" binary="true"></p-checkbox>
                                                    <label class="form-control-label p-sm-2">Search API from
                                                        Microservices</label>
                                                </div>
                                                <div class="row">
                                                    <div *ngIf="this.form.value.formFieldsGroup[i].children[k].search"
                                                         class="form-group col-md-6">
                                                        <label class="form-control-label">Microservice</label>
                                                        <p-dropdown placeholder="Choose"
                                                                    [options]="microserviceProjectItems"
                                                                    formControlName="microservice" filter="true"
                                                                    [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"
                                                                    (onChange)="onChangeMicroserviceProjectInChild()"></p-dropdown>
                                                    </div>
                                                    <div *ngIf="this.form.value.formFieldsGroup[i].children[k].search"
                                                         class="form-group col-md-6">
                                                        <label class="form-control-label">API</label>
                                                        <p-dropdown placeholder="Choose" [options]="apiItems"
                                                                    formControlName="api"
                                                                    filter="true"
                                                                    (onChange)="onChangeMicroserviceAPIInChild()"
                                                                    [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" name="choiceUrl"
                                                       formControlName="choiceUrl"/>
                                            </div>
                                            <div class="scroll-choices" *ngIf="this.form.value.formFieldsGroup[i].children[k].choiceType === 'Static'">
                                                <div style="float: right; margin-top: 2%; margin-right: 6%">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                                    <input type="button"
                                                           (click)="insertChildChoiceFormControllersGroup(i,k)"
                                                           value="Add choice"  class="btn fa fa-plus"
                                                           style="background-color: #6D7F8B; color:white;border: none;">
                                                </div>
                                                <br>
                                                <div style="padding-top: 20px"
                                                     *ngFor="let choice of childChoiceFormGroup['controls']; let k = index">
                                                    <div [formGroup]="choice">
                                                        <label class="form-control-label">Choice {{k + 1}} </label>
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <input class="form-control" type="text"
                                                                       formControlName="choiceLabel">
                                                            </div>
                                                            <div class="col-1">
                                                                <button pButton type="button"
                                                                        (click)="removeChildChoiceFormController(k)"
                                                                        class="ui-button-danger ui-button-raised"
                                                                        icon="fa fa-trash-o">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 5%">
                                            <input type="button" (click)="backToChildFields()"  value="Save" class="btn"
                                                   style="background-color: #4cc792; color: white;width: 20%; float:right; padding: 5px">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.form.value.formFieldsGroup[i].addUIEvents">
                            <div class="form-group" style=" padding-top: 5px;">
                                <label class="form-control-label">Event type</label>
                                <p-dropdown placeholder="select type" name="operation"
                                            [options]="componentEventType" formControlName="operation"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" filter="true"></p-dropdown>
                            </div>
                            <div class="form-group"
                                 style=" padding-top: 5px; ">
                                <p-checkbox formControlName="search" binary="true"></p-checkbox>
                                <label class="form-control-label p-sm-2">Search API from Microservices</label>
                            </div>
                            <div class="row">
                                <div *ngIf="this.form.value.formFieldsGroup[i].search" class="form-group col-md-6">
                                    <label class="form-control-label">Microservice</label>
                                    <p-dropdown placeholder="Choose" [options]="microserviceProjectItems"
                                                formControlName="microservice2" filter="true"
                                                [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"
                                                (onChange)="onChangeMicroserviceProject2()"></p-dropdown>
                                </div>
                                <div *ngIf="this.form.value.formFieldsGroup[i].search" class="form-group col-md-6">
                                    <label class="form-control-label">API</label>
                                    <p-dropdown placeholder="Choose" [options]="apiItems" formControlName="api2"
                                                filter="true" (onChange)="onChangeMicroserviceAPI2()"
                                                [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="choiceUrl"
                                   formControlName="url"/>

                            <div class="row" *ngIf="this.form.value.formFieldsGroup[i].addUIEvents">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6 style="margin-top: 15px">Add Event Actions</h6>
                                        <div class="card">
                                            <div class="card-body row">
                                                <div class="col-md-3">

                                                    <p-dropdown placeholder="select action" name="eventType"
                                                                [options]="actionTypes" formControlName="eventType"
                                                                [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" filter="true"></p-dropdown>

                                                </div>
                                                <div class="col-md-3">

                                                    <p-dropdown placeholder="select target" name="fieldType"
                                                                [options]="modelPropertyList" formControlName="eventTarget"
                                                                [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" filter="true"></p-dropdown>

                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" type="text" placeholder="attribute" formControlName="eventServiceReference">
                                                </div>
                                                <div class="offset-md-1 col-md-2">
                                                    <button type="button" style="float: right;" mat-raised-button color="primary"
                                                            (click)="addEventActionMapping()">
                                                        <mat-icon>add</mat-icon>
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div style=" :20px;padding-bottom:20px;">
                                            <table mat-table matSort [dataSource]="dataSourceEventActionMapping[i]"
                                                   class="mat-elevation-z8 demo-table">
                                                <!-- Name Column -->
                                                <ng-container matColumnDef="event">
                                                    <th mat-header-cell *matHeaderCellDef>Event Action</th>
                                                    <td mat-cell *matCellDef="let element">{{element.actionId}}</td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="target">
                                                    <th mat-header-cell *matHeaderCellDef>Target</th>
                                                    <td mat-cell *matCellDef="let element">{{element.target}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="reference">
                                                    <th mat-header-cell *matHeaderCellDef>Reference</th>
                                                    <td mat-cell *matCellDef="let element">{{element.serviceReference}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                                                    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                                        <button (click)="deleteParamMapping(row)"
                                                                mat-icon-button
                                                                type="button">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayEventMappingColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayEventMappingColumns;"></tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                                *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Dropdown'|| this.form.value.formFieldsGroup[i].fieldController === 'Radiobutton'">
                            <h5>{{this.form.value.formFieldsGroup[i].fieldController}} Choices</h5>

                            <div class="form-group">
                                <label class="form-control-label">Choice Type </label>
                                <p-dropdown placeholder="Choose" name="choiceType"
                                            [options]="choiceType" formControlName="choiceType"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" filter="true"></p-dropdown>
                            </div>
                            <div *ngIf="this.form.value.formFieldsGroup[i].choiceType === 'API'">
                                <div class="form-group"
                                     style=" padding-top: 5px; ">
                                    <p-checkbox formControlName="search" binary="true"></p-checkbox>
                                    <label class="form-control-label p-sm-2">Search API from Microservices</label>
                                </div>
                                <div class="row">

                                    <div *ngIf="this.form.value.formFieldsGroup[i].search" class="form-group col-md-6">
                                        <label class="form-control-label">Microservice</label>
                                        <p-dropdown placeholder="Choose" [options]="microserviceProjectItems"
                                                    formControlName="microservice" filter="true"
                                                    [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"
                                                    (onChange)="onChangeMicroserviceProject()"></p-dropdown>
                                    </div>
                                    <div *ngIf="this.form.value.formFieldsGroup[i].search" class="form-group col-md-6">
                                        <label class="form-control-label">API</label>
                                        <p-dropdown placeholder="Choose" [options]="apiItems" formControlName="api"
                                                    filter="true" (onChange)="onChangeMicroserviceAPI()"
                                                    [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                                    </div>
                                </div>
                                <input type="text" class="form-control" name="choiceUrl"
                                       formControlName="choiceUrl"/>
                                <div class="row" *ngIf="this.form.value.formFieldsGroup[i].fieldController === 'Dropdown'">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h6 style="margin-top: 15px">Select dropdown attributes</h6>
                                            <div class="card">
                                                <div class="card-body row">
                                                    <div class="col-md-4">

                                                        <p-dropdown placeholder="Dropdown field" name="fieldType"
                                                                    [options]="dropdownFields" formControlName="fieldType"
                                                                    [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" filter="true"></p-dropdown>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="form-control" type="text" placeholder="attribute" formControlName="fieldAttribute">
                                                    </div>
                                                    <div class="offset-md-1 col-md-2">
                                                        <button type="button" style="float: right;" mat-raised-button color="primary"
                                                                (click)="addDrpDownAttriuteMapping()">
                                                            <mat-icon>add</mat-icon>
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style=" :20px;padding-bottom:20px;">
                                                <table mat-table matSort [dataSource]="dataSourceDropdownMapping[i]"
                                                       class="mat-elevation-z8 demo-table">
                                                    <!-- Name Column -->
                                                    <ng-container matColumnDef="dropdownField">
                                                        <th mat-header-cell *matHeaderCellDef>Field</th>
                                                        <td mat-cell *matCellDef="let element">{{element.dropdownField}}</td>
                                                    </ng-container>

                                                    <!-- Weight Column -->
                                                    <ng-container matColumnDef="attribute">
                                                        <th mat-header-cell *matHeaderCellDef>Attribute</th>
                                                        <td mat-cell *matCellDef="let element">{{element.attribute}}</td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="actions">
                                                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                                                        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                                            <button (click)="deleteParamMapping(row)"
                                                                    mat-icon-button
                                                                    type="button">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="displayedDrpParamColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedDrpParamColumns;"></tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="scroll-choices" *ngIf="this.form.value.formFieldsGroup[i].choiceType === 'Static'">
                                <div style="float: right; margin-top: 2%; margin-right: 6%">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                    <input type="button" (click)="insertChoiceFormControllersGroup(i)"
                                           value="Add choice" class="btn fa fa-plus"
                                           style="background-color: #6D7F8B; color:white;border: none;">
                                </div>
                                <br>
                                <div style="padding-top: 20px"
                                     *ngFor="let choice of choiceFormGroup['controls']; let k = index">
                                    <div [formGroup]="choice">

                                        <label class="form-control-label">Choice {{k + 1}} </label>
                                        <div class="row">
                                            <div class="col-10">
                                                <input class="form-control" type="text" formControlName="choiceLabel">
                                            </div>
                                            <div class="col-1">
                                                <button pButton style="float: right" type="button"
                                                        (click)="addEvents(k)"
                                                        class=" ui-button-raised"
                                                        icon="fa fa-object-group">
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button pButton type="button" (click)="removeChoiceFormControllers(k)" class="ui-button-danger ui-button-raised"
                                                        icon="fa fa-trash-o">
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="margin-top: 2%">
                            <input *ngIf="!isChildFieldSelected" type="button" (click)="calcelEdit()" value="Cancel"
                                   class="btn"
                                   style="width: 5%; float:right; padding: 5px">
                        </div>
                        <div style="margin-top: 2%">
                            <input *ngIf="!isChildFieldSelected" type="button" (click)="backToFields()" value="Save"
                                   class="btn"
                                   style="background-color: #4cc792; color: white; width: 5%; float:right; padding: 5px">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <div  style="float: left; margin-top: 2%;" *ngIf="!isFieldSelected && formFieldsGroup.controls.length > 0">
        <button type="submit"  value="Save"  class="btn savebtn">Save</button>
    </div>
<!--    <div  style="float: right; margin-top: 2%;" *ngIf="!isFieldSelected && formFieldsGroup.controls.length > 0">-->
<!--        <button type="submit"  value="Save"  class="btn savebtn">Save</button>-->
<!--    </div>-->
    <div *ngIf="formFieldsGroup.controls.length === 0" style="float: right; margin-top: 2%; margin-right: 30%">
        <span>No form controllers available</span>
    </div>

</form>
