<form class="mat-form-dialog" (ngSubmit)="saveCustomGrid()" [formGroup]="editForm" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Divide in to {{divideType}}</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">

            <div class="col-12">
                <div class="scroll-choices">

                    <br>
                    <label class="form-control-label">Add number of {{divideType}} to divide :</label>
                    <div class="row">
                        <div class="col-5">
                            <input class="form-control" type="number"
                                   formControlName="numberOfSections" min="1" max="4">
                        </div>
                        <div class="col-2">
                            <button style="background-color: lightgrey" type="button" (click)="divideIntoSections()">
                               Divide
                            </button>                        </div>
                    </div>
                    <div style="padding-top: 10px"
                         *ngFor="let choice of columnFormGroup()['controls']; let i = index">
                        <div [formGroup]="choice">
                            <label class="form-control-label">{{divideType}} {{i + 1}} Size :</label>
                            <div class="row">
                                <div class="col-5">
                                    <input class="form-control" type="number"
                                           formControlName="sectionsize" min="1" max="{{getMaxCount(0,i)}}">
                                </div>
                                <div class="col-2">
                                    <button pButton type="button"
                                            (click)="removeColumnFormController(i)"
                                            class="ui-button-danger ui-button-raised"
                                            icon="fa fa-trash-o">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit"  cdkFocusInitial>SAVE</button>
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
