<form  *ngIf="pageCreationStatus === 'customGrid'" class="mat-form-dialog" (ngSubmit)="saveCustomGrid()" [formGroup]="form" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create custom grid page</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">

            <div class="col-12">
                <div class="scroll-choices">
                    <button style="float: right; margin-top: 2%; margin-right: 6%" type="button" mat-raised-button color="primary" (click)="insertFormControllersGroup()">
                        <mat-icon>add</mat-icon>
                        Add Row
                    </button>
                    <br>
                    <div style="padding-top: 50px"
                         *ngFor="let choice of formFieldsGroup['controls']; let k = index">
                        <div [formGroup]="choice">
                            <h5> Row {{k + 1}}  </h5>
                            <label class="form-control-label"> Height</label>
                            <div class="col-5">   <input class="form-control" type="number"
                                                         formControlName="height" min="1"> </div>
                            <div class="scroll-choices">
                                <div style="float: right; margin-top: 2%; margin-right: 6%">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                    <input type="button"
                                           (click)="insertColumnFormControllersGroup(k)"
                                           value="Add columns"  class="btn fa fa-plus"
                                           style="background-color: #6D7F8B; color:white;border: none;">
                                </div>
                                <br><h6> Columns</h6>

                                <div style="padding-top: 10px"
                                     *ngFor="let choice of columnFormGroup(k)['controls']; let i = index">
                                    <div [formGroup]="choice">
                                        <label class="form-control-label">Column {{i + 1}}</label>
                                        <div class="row">
                                            <div class="col-5">
                                                <input class="form-control" type="number"
                                                       formControlName="columnSize" min="1" max="{{getMaxCount(k,i)}}">
                                            </div>
                                            <div class="col-2">
                                                <button pButton type="button"
                                                        (click)="removeColumnFormController(k,i)"
                                                        class="ui-button-danger ui-button-raised"
                                                        icon="fa fa-trash-o">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit"  cdkFocusInitial>SAVE</button>
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
