<div class="justify-content-center" style="margin-top: 100px; overflow-x: auto; padding: 0 50px 0 50px">

    <form name="filterFormData" role="form" novalidate (ngSubmit)="checkPageNameExist()" [formGroup]="filterFormData">


        <div class="form-group" [hidden]="!filterFormData.get('id').value">
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id"/>
        </div>

        <div class="row justify-content-center title-temp">
            <div class="col-md-8">
                <h3 *ngIf="formDisable">{{pageTitle}}</h3>
                <mat-form-field *ngIf="!formDisable" [style]="{'width':'100%'}">
                    <mat-label>Page Title</mat-label>
                    <input type="text" [(ngModel)]="pageTitle" matInput [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <button type="button" mat-mini-fab aria-label="Example icon-button with a heart icon"
                        (click)="enableToEdit()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
        <div class="table-container">
            <form name="filterTableData" role="form" novalidate (ngSubmit)="checkPageNameExist()" [formGroup]="filterTableData">
                <div class="row justify-content-center title-temp">
                    <div class="col-md-12">
                        <h5 *ngIf="formDisable">Filter Table</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 model-type">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field  [style]="{'width':'100%'}">
                                        <mat-label>Model</mat-label>
                                        <mat-select formControlName="selectedAggregateTable" (selectionChange)="onChangeFilterTableModel($event,false)"
                                                    [disabled]="formDisable">
                                            <mat-option *ngFor="let option of aggregateItems" [value]="option.value">
                                                {{option.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <button [disabled]="formDisable" mat-raised-button type="button" style="float:left; background-color: #4CAF50; color: white; " (click)="openViewModelChangeDialog()" cdkFocusInitial> Edit View Model</button>
                                </div>
                            </div>
                        </div>
                        <virtuan-microservice-model [aggregateId]="aggregateId" [projectUid]='projectUid'
                                                    [isCompactView]=true>
                        </virtuan-microservice-model>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 temp-image">
                        <div class="ui-panel-content ui-widget-content justify-content-center" style="padding-top: 5px">
                            <img class="pageTmpImgInPage" src="../../../../../assets/images/pages/allinone.jpg"
                                 alt="Template" style="width: 100%">
                        </div>
                        <div>
                            <div class="form-group" style="padding: 1%; margin-top: 3%">
                                <mat-form-field [style]="{'width':'100%'}">
                                    <mat-label>Filter form location</mat-label>
                                    <mat-select formControlName="attachedPageLocation" [disabled]="formDisable">
                                        <mat-option *ngFor="let option of attachedPageLocationValues" [value]="option.value">
                                            {{option.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 model-type">
                        <ng-container *ngIf="project?.apptypesID === 'task.ui' && filterTableData.value.pagetemplate">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <div *ngIf="project?.apptypesID === 'task.ui'" class="form-group"
                                             style=" padding-top: 5px; ">
                                            <mat-checkbox [disabled]="formDisable" formControlName="search">Search API from
                                                Microservices
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div *ngIf="project?.apptypesID === 'task.ui' && filterTableData.value.search"
                                             class="form-group">
                                            <mat-form-field [style]="{'width':'100%'}">
                                                <mat-label>Microservice</mat-label>
                                                <mat-select formControlName="microservice"
                                                            (selectionChange)="onChangeMicroserviceProject()"
                                                            [disabled]="formDisable">
                                                    <mat-option *ngFor="let option of microserviceProjectItems"
                                                                [value]="option.value">
                                                        {{option.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div *ngIf="project?.apptypesID === 'task.ui' && filterTableData.value.search"
                                             class="form-group col-md-6">
                                            <mat-form-field [style]="{'width':'100%'}">
                                                <mat-label>API</mat-label>
                                                <mat-select formControlName="api"
                                                            (selectionChange)="onChangeMicroserviceAPI()"
                                                            [disabled]="formDisable">
                                                    <mat-option *ngFor="let option of apiItems" [value]="option.value">
                                                        {{option.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <mat-form-field [style]="{'width':'100%'}">
                                    <mat-label>Resource Path</mat-label>
                                    <input type="text" formControlName="resourcePath" matInput name="resourcepath"
                                           id="field_resourcepath" [readonly]="formDisable">
                                    <mat-error *ngIf="filterTableData.controls.resourcePath.hasError('required')">This field is
                                        required
                                    </mat-error>
                                </mat-form-field>


                                <div class="form-group" style=" padding-top: 5px; ">
                                    <mat-checkbox [disabled]="formDisable" formControlName="isSecurePage">Limit page access
                                        to a role
                                    </mat-checkbox>
                                </div>

                                <div class="form-group" *ngIf="filterTableData.value.isSecurePage">
                                    <mat-form-field [style]="{'width':'100%'}">
                                        <mat-label>Add authorized role</mat-label>
                                        <input type="text" formControlName="authority" [readonly]="formDisable" matInput
                                               name="resourcepath" id="field_authority">
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row mt-3">
                            <div class="col-3">
                                <button (click)="createMainMenu()"
                                        mat-raised-button
                                        color="primary"
                                        type="button" [disabled]="formDisable">
                                    <mat-icon>add</mat-icon>
                                    Add to Main Menu
                                </button>
                            </div>
                            <div  class="col-4">
                                <button (click)="createPageNavigation()"
                                        color="primary"
                                        mat-raised-button
                                        type="button" [disabled]="formDisable">
                                    <mat-icon>add</mat-icon>
                                    Add Page Navigation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-container" style="margin-top: 50px">
            <div class="row justify-content-center title-temp">
                <div class="col-md-12">
                    <h5 *ngIf="formDisable">Filter Form</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-4 temp-image">
                    <div class="ui-panel-content ui-widget-content justify-content-center" style="padding-top: 5px">
                        <img class="pageTmpImgInPage"
                             src="../../../../../assets/images/pages/form.jpg"
                             alt="Template" style="width: 100%">
                    </div>
                </div>
                <div class="col-8 model-type">
                    <ng-container *ngIf="project?.apptypesID === 'task.ui' && filterFormData.value.pagetemplate">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <div *ngIf="project?.apptypesID === 'task.ui'" class="form-group"
                                         style=" padding-top: 5px; ">
                                        <mat-checkbox [disabled]="formDisable" formControlName="search">Search API from
                                            Microservices
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div *ngIf="project?.apptypesID === 'task.ui' && filterFormData.value.search"
                                         class="form-group">
                                        <mat-form-field [style]="{'width':'100%'}">
                                            <mat-label>Microservice</mat-label>
                                            <mat-select formControlName="microservice"
                                                        (selectionChange)="onChangeMicroserviceProject()"
                                                        [disabled]="formDisable">
                                                <mat-option *ngFor="let option of microserviceProjectItems"
                                                            [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div *ngIf="project?.apptypesID === 'task.ui' && filterFormData.value.search"
                                         class="form-group col-md-6">
                                        <mat-form-field [style]="{'width':'100%'}">
                                            <mat-label>API</mat-label>
                                            <mat-select formControlName="api"
                                                        (selectionChange)="onChangeMicroserviceAPI()"
                                                        [disabled]="formDisable">
                                                <mat-option *ngFor="let option of apiItems" [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <mat-form-field [style]="{'width':'100%'}">
                                <mat-label>Resource Path</mat-label>
                                <input type="text" formControlName="formResourcePath" matInput name="formResourcePath" [readonly]="formDisable">
                                <mat-error *ngIf="filterFormData.controls.formResourcePath.hasError('required')">This field is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-12 model-type">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field  [style]="{'width':'100%'}">
                                    <mat-label>Model</mat-label>
                                    <mat-select formControlName="selectedAggregateForm" (selectionChange)="onChangeFilterFormModel($event,false)"
                                                [disabled]="formDisable">
                                        <mat-option *ngFor="let option of aggregateItems" [value]="option.value">
                                            {{option.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button [disabled]="formDisable" mat-raised-button type="button" style="float:left; background-color: #4CAF50; color: white; " (click)="openViewModelChangeDialog()" cdkFocusInitial> Edit View Model</button>
                            </div>
                            <div *ngIf="filterFormData.value.pagetemplate == 'filter-page'" class="col-md-2">
                                <button mat-raised-button type="button" style="float:left; background-color: #4CAF50; color: white; " (click)="openPageControllerConfig()" cdkFocusInitial>Edit Form Controllers</button>
                            </div>
                        </div>
                    </div>
                    <virtuan-microservice-model [aggregateId]="aggregateId" [projectUid]='projectUid'
                                                [isCompactView]=true>
                    </virtuan-microservice-model>
                </div>
            </div>
        </div>

        <div class="form-button-footer" style="padding-top: 25px; float: right">
            <!--                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()" style="margin-right: 8px">-->
            <!--                        <i class="fa fa-chevron-circle-left"></i>&nbsp;<span>Back</span>-->
            <!--                    </button>-->
            <button mat-raised-button color="primary" [disabled]="filterTableData.invalid || isSaving || formDisable"
                    type="submit" cdkFocusInitial>
                Save
            </button>
        </div>
    </form>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please wait... </p>
</ngx-spinner>


<p-sidebar *ngIf="isSelected" [(visible)]="isSidebarVisible" [style]="{width:'50%',overflow: 'hidden'}" position="right"
           [blockScroll]="true" [showCloseIcon]="false" (onHide)="sidenavClosed()">
    <virtuan-add-new-microservice-aggregate *ngIf="!sidebar" [projectUid]='projectUid' [isVisible]="isSidebarVisible"
                                            [createStatus]="createStatus" (isVisibleEvent)="backSidebar($event)"
                                            (aggregateId)="aggregate($event)"></virtuan-add-new-microservice-aggregate>
</p-sidebar>


