<form  *ngIf="pageCreationStatus !== 'customGrid'" class="mat-form-dialog"  [formGroup]="editForm" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create Page</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>

            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="hidden" class="form-control" id="id" name="id" formControlName="id" />
            </div>

            <div  *ngIf="pageCreationStatus === 'typeSelection'">
                <div class="col-md-12">
                    <div class="card card-body ">
                        <span style="margin-top: 10px; margin-bottom: 20px"><h5> Container layouts </h5></span>
                    <div class="row">
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card red" (click)="pageTemplateTypeSelection('blank')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Blank page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/Custompage.jpg" alt="Template" >
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('tab-page', 'Tab Page')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Tab Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/tabpage.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card card-body ">
                        <span style="margin-top: 10px; margin-bottom: 20px"><h5> Page templates </h5></span>
                        <div class="row">
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('register-page', 'Register Page')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Register Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/register.jpg" alt="Template">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('form-page', 'Form Page')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Form Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/form.jpg" alt="Template">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('table-page', 'Table Page')">
                                <div class=" card-body" >
                                    <div class="box-heading">
                                        <h5>Table Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('login-page', 'Login Page')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Login Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/Login.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('form-wizard-page', 'Form Wizard Page')">
                                <div class=" card-body" >
                                    <div class="box-heading">
                                        <h5>Wizard Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/wizardpage.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('custom', 'Custom Page')">
                                <div class=" card-body">
                                    <div class="box-heading">
                                        <h5>Custom page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/Custompage.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                            <div class="col-md-3 init-page-card">
                                <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('aio-table', 'AIO Table Page')">
                                    <div class=" card-body" >

                                        <div class="box-heading">
                                            <h5 class="mt-0">AIO Table Page</h5>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-center init-page-image">
                                        <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg" alt="Template">
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('static-page', 'Static Page')">
                                <div class=" card-body" >

                                    <div class="box-heading">
                                        <h5>Static Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/staticpage.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('filter-page', 'Filter Page')">
                                <div class=" card-body" >
                                    <div class="box-heading">
                                        <h5>Filter Page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('chart-page', 'Chart Page')">
                                <div class=" card-body">
                                    <div class="box-heading">
                                        <h5>Chart page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/Custompage.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('label-page', 'Label Page')">
                                <div class=" card-body">
                                    <div class="box-heading">
                                        <h5>Label page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                            <div class="col-md-3 init-page-card">
                                <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('aio-grid', 'AIO Tile Page')">
                                    <div class=" card-body">
                                        <div class="box-heading">
                                            <h5>AIO Tile Page</h5>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-center init-page-image">
                                        <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/Gridpage.jpg" alt="Template">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3 init-page-card">
                            <div class="card m-auto box-card cyan" (click)="pageTemplateTypeSelection('tile-page', 'Tile Page')">
                                <div class=" card-body">
                                    <div class="box-heading">
                                        <h5>Tile page</h5>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center init-page-image">
                                    <img class="pageTmpImg box-shadow" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg" alt="Template">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div style="padding-top: 50px" *ngIf="pageTemplateType == 'blank' && pageCreationStatus === 'gridSelection'">
                <button [disabled]="false" type="button" style="float: right; margin-top: -65px;" mat-raised-button color="primary"
                        (click)="createCustomGrid()">
                    <mat-icon>add</mat-icon>
                    Custom grid
                </button>

                <div class="row">
                    <div *ngFor="let grid of gridArray; let i = index" [attr.data-index]="i"
                         class="col-md-3 init-page-card">
                        <div (click)="gridStyles(false, i)">
                            <div class="card m-auto box-card cyan">
                                <div class=" card-body">
                                    <div   *ngIf="grid.name === 'grid1'" class=" d-flex justify-content-center init-page-image">
                                        <img class="pageTmpImg" src="../../../../../assets/images/pages/grid/grid1.png"
                                             alt="Template">
                                    </div>
                                    <div   *ngIf="grid.name === 'grid2'" class=" d-flex justify-content-center init-page-image">
                                        <img class="pageTmpImg" src="../../../../../assets/images/pages/grid/grid2.png"
                                             alt="Template">
                                    </div>
                                    <div   *ngIf="grid.name === 'grid3'" class=" d-flex justify-content-center init-page-image">
                                        <img class="pageTmpImg" src="../../../../../assets/images/pages/grid/grid3.png"
                                             alt="Template">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
<!--        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || isSaving" cdkFocusInitial>SAVE</button>-->
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>


<form  *ngIf="pageCreationStatus === 'customGrid'" class="mat-form-dialog" (ngSubmit)="saveCustomGrid()" [formGroup]="form" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create custom grid page</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">

            <div class="col-12">
                <div class="scroll-choices">
                        <button style="float: right; margin-top: 2%; margin-right: 6%" type="button" mat-raised-button color="primary" (click)="insertFormControllersGroup()">
                            <mat-icon>add</mat-icon>
                            Add Row
                        </button>
                    <br>
                    <div style="padding-top: 50px"
                         *ngFor="let choice of formFieldsGroup['controls']; let k = index">
                        <div [formGroup]="choice">

                            <label class="form-control-label">Row {{k + 1}} </label>
<!--                            <div class="row">-->
<!--                                <div class="col-4">-->
<!--                                    <label class="form-control-label">Number of columns </label>-->
<!--                                </div>-->
<!--                                <div class="col-4">-->
<!--                                    <mat-form-field class="flex-auto">-->
<!--                                        <input type="number" name="columns" min="1" max="4" formControlName="columns" onKeyDown="return false" matInput>-->
<!--                                    </mat-form-field>-->
<!--&lt;!&ndash;                                    <input matInput  type="number" name="columns" min="1" max="4" formControlName="columns" onKeyDown="return false">&ndash;&gt;-->
<!--                                </div>-->

<!--                                <div class="col-4">-->
<!--                                    <button type="button" mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="removeFormControllers(k)">-->
<!--                                        <mat-icon>delete</mat-icon>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="scroll-choices">
                                <div style="float: right; margin-top: 2%; margin-right: 6%">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                                    <input type="button"
                                           (click)="insertColumnFormControllersGroup(k)"
                                           value="Add column"  class="btn fa fa-plus"
                                           style="background-color: #6D7F8B; color:white;border: none;">
                                </div>
                                <br>
                                <div style="padding-top: 10px"
                                     *ngFor="let choice of columnFormGroup(k)['controls']; let i = index">
                                    <div [formGroup]="choice">
                                        <label class="form-control-label">Column {{i + 1}} </label>
                                        <div class="row">
                                            <div class="col-5">
                                                <input class="form-control" type="number"
                                                       formControlName="columnSize" min="1" max="{{getMaxCount(k,i)}}">
                                            </div>
                                            <div class="col-2">
                                                <button pButton type="button"
                                                        (click)="removeColumnFormController(i)"
                                                        class="ui-button-danger ui-button-raised"
                                                        icon="fa fa-trash-o">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit"  cdkFocusInitial>SAVE</button>
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
