<div style="padding: 20px;">
                <div class="row justify-content-center title-temp">
                    <div class="col-md-8">
                        <h3 *ngIf="formDisable">{{pageTitle}}</h3>
                        <form name="editForm" role="form" novalidate  [formGroup]="editForm">
                        <mat-form-field *ngIf="!formDisable" [style]="{'width':'100%'}">
                            <mat-label>Page Title</mat-label>
                            <input type="text" formControlName="pagetitle" matInput name="pagetitle">
                            <mat-error *ngIf="editForm.controls.pagetitle.hasError('required')">This field is required
                            </mat-error>
                        </mat-form-field>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <button type="button" mat-mini-fab aria-label=""
                                (click)="enableDisableForm()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button style="background-color: #2b53d7; margin-left: 10px " *ngIf="!formDisable" type="button" mat-mini-fab aria-label=""
                                (click)="checkPageNameExistAndSave()">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </div>
    <br/>
    <div class="container" >
        <div class="page-container">
            <div class="card">
                <div class="card-body row">

                <div *ngFor="let raw of grid.rows; let i = index" style="max-height: 30vh" [attr.data-index]="i" class="row">
                <div *ngFor="let container of raw.containers  let j = index" [attr.data-index]="j"
                     class="grid-col col-{{container.containerCols}}" align="center" style="padding: 7%">

                    <button style="background-color: #2b53d7; margin-left: 5px " *ngIf="!container.page" type="button" mat-mini-fab aria-label=""
                            (click)="selectApageForContainer(i, j)">
                        <mat-icon>add</mat-icon>
                    </button>

<!--                    <i-->
<!--                        *ngIf="!container.page" (click)="selectApageForContainer(i, j)"-->
<!--                        class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>-->
                    <div *ngIf="container.page">
                        <div class="row">
                        <div class="col-md-8">
                            <button style="float: left; background-color: darkgreen " type="button" mat-mini-fab aria-label=""
                                    (click)="editWidget(container.page)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <div style="font-size: 18px; font-weight: 400; margin-bottom: 10px">
                                {{container.pagetitle}}
                            </div>
                            <div>
                                {{container.pagetype}}
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="">
                                    <img width="150" height="100" *ngIf="container.pagetype == 'login-page'"
                                         src="../../../../../assets/images/pages/login.jpg"
                                         alt="Template" style="width: 100%">
                                    <img width="150" height="100" *ngIf="container.pagetype == 'aio-table'|| container.pagetype =='table-page'" src="../../../../../assets/images/new_pages/page_wireframes/table.jpg"
                                         alt="Template" style="width: 100%">
                                    <img width="150" height="100" *ngIf="container.pagetype == 'form-page' || container.pagetype == 'static-page'  || container.pagetype == 'file-upload-page' || container.pagetype == 'form-wizard-page'"
                                         src="../../../../../assets/images/new_pages/page_wireframes/form.jpg"
                                         alt="Template" style="width: 100%">
                                    <img width="150" height="100" *ngIf="container.pagetype == 'register-page'"
                                         src="../../../../../assets/images/new_pages/page_wireframes/register.jpg"
                                         alt="Template" style="width: 100%">
                                    <img width="150" height="100" *ngIf="container.pagetype == 'aio-grid' || container.pagetype == 'tile-page'"
                                         src="../../../../../assets/images/new_pages/page_wireframes/Gridpage.jpg"
                                         alt="Template" style="width: 100%">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        </div>
    </div>

<!--    <div style="display: flex; justify-content: end; padding-top: 25px">-->
<!--        <button type="submit"-->
<!--                (click)="previousState()"-->
<!--                class="btn " style="margin-right: 63px; background-color: #6D7F8B; color: white; float: left ">-->
<!--            <i class="fas fa-arrow-left"></i>&nbsp;<span> Back</span>-->
<!--        </button>-->
<!--    </div>-->

</div>
