<!--<div class="row title-container">-->
<!--    <div class="col-md-10">-->
<!--        <h5  style="margin-left: 5px">Epic  > Story > {{pageTitle}}</h5>-->
<!--    </div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-12" style="padding: 20px">
        <mat-slide-toggle style="float: right; display: inline" [(ngModel)]="editPageAsJson" (ngModelChange)="onPageEditModeChanged()">
        </mat-slide-toggle>  <div style="font-weight: 600; float: right; margin-top: 4px; margin-right: 12px;">Input Page as a Json:  </div>
    </div>
</div>

<div *ngIf="editPageAsJson">
    <p-fieldset [collapsed]="false"  [toggleable]="true">
        <p-header style="font-size: 18px">Page Json Editor</p-header>
        <div class="row col-md-12">
            <h6 style="margin-left: 5px">Replace the UUID with current Page ID: <b>{{currentPage.uuid}}</b></h6>
            <div style="min-height: 200px; height:100% !important; width: 100%;">
                <ngx-monaco-editor style=" height: 750px; width: 100%;" [options]="editorOptions" [(ngModel)]="code" ngDefaultControl></ngx-monaco-editor>
            </div>
        </div>
        <div  class="row col-md-12">
            <button type="button" style="float: left; width: 50px; margin-left: 10px" mat-raised-button
                    color="primary"
                    (click)="savePageAsJson()">
                Save
            </button>
        </div>
    </p-fieldset>
</div>
<div *ngIf="!editPageAsJson" class="page-view justify-content-center" style="padding-top: 1%;">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
        <div class="form-group" [hidden]="!editForm.get('id').value">
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id"/>
        </div>


        <div class="row" style="border-bottom: 1px solid; padding-bottom: 25px;">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="false"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Basic Settings</p-header>
                    <div class="card-page">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row" style="margin-top: 20px">

                                    <div class="col-md-5">
                                       <div class="row">
                                           <div class="col-md-1">  <mat-icon style="margin-right: 20px; font-size: 22px;">title</mat-icon> </div>
                                           <div class="col-md-8"><div style="display: inline" *ngIf="!isTitleEdit"><b>Page Title: </b>{{pageTitle}}</div>
                                               <mat-form-field *ngIf="isTitleEdit"  [style]="{'width':'100%'}">
                                                   <mat-label>Page Title</mat-label>
                                                   <input type="text" formControlName="pagetitle" matInput name="pagetitle" id="field_pagetitle">
                                                   <mat-error *ngIf="editForm.controls.pagetitle.hasError('required')">This field is required
                                                   </mat-error>
                                               </mat-form-field>
                                           </div>
                                           <div class="col-md-3">
                                               <div>
                                                   <mat-icon style="margin-left: 20px; cursor: pointer" (click)="editPageTitle()">edit</mat-icon>
                                                   <mat-icon  style=" cursor: pointer" (click)="checkAndUpdatePageName()" *ngIf="isTitleEdit">save</mat-icon>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                </div>



                                <div class="row" style="margin-top: 25px">

                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-1">  <mat-icon style="margin-right: 20px; font-size: 22px;">description</mat-icon> </div>
                                            <div class="col-md-8">      <div style="display: inline" *ngIf="!isDescEdit"><b>Page Description: </b>{{pageDescription}}</div>
                                                <mat-form-field  *ngIf="isDescEdit" [style]="{'width':'100%'}">
                                                    <mat-label>Description</mat-label>
                                                    <textarea style="overflow: auto" cdkTextareaAutosize formControlName="pageDescription" name="pageDescription" matInput placeholder="This page is about..."></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <mat-icon style="margin-left: 20px; cursor: pointer" (click)="editPageDesc()">edit</mat-icon>
                                                    <mat-icon  style=" cursor: pointer" (click)="checkAndUpdatePageName()" *ngIf="isDescEdit">save</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 25px">
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-1">  <mat-icon style="margin-right: 20px; font-size: 22px;">perm_data_setting</mat-icon> </div>
                                            <div class="col-md-8" *ngIf="currentModel">    <div> <b>Page Model: </b> {{currentModel.name}} </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div *ngIf="editForm.value.pagetemplate === 'aio-table' || editForm.value.pagetemplate == 'form-page' || editForm.value.pagetemplate == 'form-wizard-page' || editForm.value.pagetemplate == 'register-page' || editForm.value.pagetemplate == 'login-page'" style="margin-top: 1%;border-bottom: 1px solid; padding-bottom: 25px;" class="row">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">  Page Component Settings</p-header>
                    <div class="card-page">
                        <div class="row">
                            <div class="col-md-8">
                                <add-form-controllers [projectUid] ='projectUid' [pageId] ='pageId'></add-form-controllers>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div *ngIf="editForm.value.pagetemplate === 'aio-table' || editForm.value.pagetemplate == 'table-page'" style="margin-top: 1%;border-bottom: 1px solid; padding-bottom: 25px;" class="row">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px"> Page view settings</p-header>
                    <div class="card-page">
                        <div class="   row">
                            <div class="col-md-8">
                                <virtuan-view-model-config [projectUid] ='projectUid' [pageId] ='pageId'></virtuan-view-model-config>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div style="margin-top: 1%;border-bottom: 1px solid; padding-bottom: 25px;" class="row">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Actions and Event Settings</p-header>
                    <div class="card-page">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit"  value="Save" style="float: right; margin-bottom: 1%" (click)="addActionButton()" class="btn addbtn">Add</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <table mat-table matSort  [dataSource]="dataSource" class="demo-table">

                                                <ng-container matColumnDef="caption">
                                                    <th mat-header-cell *matHeaderCellDef>Caption</th>
                                                    <td mat-cell *matCellDef="let element">{{element.caption}}</td>
                                                </ng-container>

                                                <ng-container matColumnDef="resourcepath">
                                                    <th mat-header-cell *matHeaderCellDef>Resource path</th>
                                                    <td mat-cell *matCellDef="let element">{{element.resourcePath}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="operation">
                                                    <th mat-header-cell *matHeaderCellDef>Operation</th>
                                                    <td mat-cell *matCellDef="let element">{{element.operation}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="method">
                                                    <th mat-header-cell *matHeaderCellDef>Method</th>
                                                    <td mat-cell *matCellDef="let element">{{element.method}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="page">
                                                    <th mat-header-cell *matHeaderCellDef>Nav. Page</th>
                                                    <td mat-cell *matCellDef="let element">{{element.pageName}}</td>
                                                </ng-container>

                                                <ng-container matColumnDef="color">
                                                    <th mat-header-cell *matHeaderCellDef>Color</th>
                                                    <td mat-cell *matCellDef="let element">{{element.color}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="tooltip">
                                                    <th mat-header-cell *matHeaderCellDef>Tooltip</th>
                                                    <td mat-cell *matCellDef="let element">{{element.tooltip}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="events">
                                                    <th *matHeaderCellDef mat-header-cell mat-sort-header >Events</th>
                                                    <td *matCellDef="let row; let i = index" class="w-10 text-secondary" mat-cell>
                                                        <button (click)="editEvents(row, i)"
                                                                mat-icon-button
                                                                type="button">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <th *matHeaderCellDef mat-header-cell mat-sort-header >Delete</th>
                                                    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                                        <button (click)="deleteRow(row)"
                                                                mat-icon-button
                                                                type="button">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                        <!--                                    <div *ngIf="BTN_ELEMENT_DATA.length === 0">-->
                                        <!--                                        <div align="center">No actions/events available</div>-->
                                        <!--                                    </div>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div *ngIf="BTN_ELEMENT_DATA.length > 0 || removedAllActionButtons " class="col-md-12">
                                        <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="savePageActions()" class="btn savebtn">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div style="margin-top: 1%" class="row" *ngIf="editForm.value.pagetemplate === 'form-wizard-page'">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Stepper Settings</p-header>
                    <div class="card-page">
                        <div class="   row">
                            <div class="col-md-7">
                                <ng-container *ngIf="editForm.value.pagetemplate === 'form-wizard-page'">
                                    <div class="row">
                                        <div class="col-md-12" style='text-align: right'>
                                            <button type="button" style="float: right;" mat-raised-button color="primary"
                                                    (click)="insertWizardDetailsGroup('')">
                                                <mat-icon>add</mat-icon>
                                                Step
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div style="padding-top:20px;padding-bottom:20px;">
                                            <table mat-table matSort [dataSource]="dataSourceWizard"
                                                   class="mat-elevation-z8 demo-table">
                                                <!-- Name Column -->
                                                <ng-container matColumnDef="field">
                                                    <th mat-header-cell *matHeaderCellDef>Header</th>
                                                    <td mat-cell *matCellDef="let element">{{element.stepHeader}}</td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="stepheader">
                                                    <th mat-header-cell *matHeaderCellDef>Fields</th>
                                                    <td mat-cell *matCellDef="let element">{{element.field}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                                                    <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                                        <button (click)="deleteFieldSteps(row)"
                                                                mat-icon-button
                                                                type="button">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedStepHeaderColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedStepHeaderColumns;"></tr>
                                            </table>
                                            <div class="row">
                                                <div *ngIf="stepFieldArr.length > 0 || removedAllSteppers " class="col-md-12">
                                                    <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="savePageHeaderAndFieldMappings()" class="btn savebtn">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>



        <ng-container *ngIf="editForm.value.pagetemplate === 'static-page'">
            <p-fieldset [collapsed]="true"  [toggleable]="true">
                <p-header style="font-size: 18px">Page Sections Settings</p-header>
                <div class="wiz-step" formArrayName="detailsHeaderGroup">
                    <div class="row">
                        <div class="col-md-5" style='text-align: right'>
                            <button type="button" style="float: left;" mat-raised-button color="primary"
                                    (click)="insertDetailsHeaderGroup('')">
                                <mat-icon>add</mat-icon>
                                Section
                            </button>
                        </div>
                    </div>
                    <div style="padding-top: 10px"
                         *ngFor="let step of detailsHeaderGroup.controls; let i = index">
                        <div [formGroup]="step">
                            <label class="form-control-label" for="field_pagetitle">Header</label>
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field [style]="{'width':'100%'}">
                                        <!--                                                        <mat-label>Add authorized role</mat-label>-->
                                        <input type="text"
                                               formControlName="stepHeading" matInput name="stepHeading">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                            <span class="flex-auto">
                                                <button type="button" mat-mini-fab
                                                        aria-label="Example icon-button with a heart icon"
                                                        (click)="removeDetailsHeaderGroup(i)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Add attribute to headers</label>
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-md-3" style="margin-right: 20px">
                                <mat-form-field [style]="{'width':'100%'}">
                                    <mat-label>Choose Model Property</mat-label>
                                    <mat-select formControlName="attributeName">
                                        <mat-option *ngFor="let option of modelPropertyList"
                                                    [value]="option.value">
                                            {{option.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field [style]="{'width':'100%'}">
                                    <mat-label>Choose the Header</mat-label>
                                    <mat-select formControlName="detailHeader">
                                        <mat-option *ngFor="let option of detailsHeadersList"
                                                    [value]="option.value">
                                            {{option.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" style='text-align: left'>
                                <button type="button" color="primary" mat-mini-fab
                                        aria-label="Example icon-button with a heart icon"
                                        (click)="getAllDetailsHeaders()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                            <div class="col-md-2" style='text-align: right'>
                                <button type="button" style="float: right;" mat-raised-button
                                        color="primary"
                                        (click)="addFieldsToHeaders()">
                                    <mat-icon>add</mat-icon>
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                    <div style="padding-top:20px;padding-bottom:20px;">
                        <table mat-table matSort [dataSource]="dataSourceDetailsPage"
                               class="mat-elevation-z8 demo-table">
                            <!-- Name Column -->
                            <ng-container matColumnDef="field">
                                <th mat-header-cell *matHeaderCellDef>Field</th>
                                <td mat-cell *matCellDef="let element">{{element.field}}</td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="detailsHeader">
                                <th mat-header-cell *matHeaderCellDef>Headers</th>
                                <td mat-cell *matCellDef="let element">{{element.stepHeader}}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                    <button (click)="deleteFieldHeaders(row)"
                                            mat-icon-button
                                            type="button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedDetailHeaderColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedDetailHeaderColumns;"></tr>
                        </table>
                        <div class="row">
                            <div *ngIf="headerFieldArr.length > 0 || removedAllSections " class="col-md-12">
                                <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="savePageHeaderAndFieldMappings()" class="btn savebtn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </ng-container>

        <div class="form-group" *ngIf="editForm.value.pagetemplate === 'login-page'">
            <p-fieldset [collapsed]="true"  [toggleable]="true">
                <p-header style="font-size: 18px">Login Input Settings</p-header>
                <label class="form-control-label">Match properties for credentials input</label>
                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-3">
                            <mat-form-field [style]="{'width':'100%'}">
                                <mat-label>Choose Param Type</mat-label>
                                <mat-select formControlName="inputValType">
                                    <mat-option *ngFor="let option of loginInputs" [value]="option.value">
                                        {{option.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field [style]="{'width':'100%'}">
                                <mat-label>Choose Model Property</mat-label>
                                <mat-select formControlName="matchedProperty">
                                    <mat-option *ngFor="let option of modelPropertyList"
                                                [value]="option.value">
                                        {{option.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button type="button" style="float: right;" mat-raised-button color="primary"
                                    (click)="addParamMapping()">
                                <mat-icon>add</mat-icon>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <div style=" :20px;padding-bottom:20px;">
                    <table mat-table matSort [dataSource]="dataSourceLogin"
                           class="mat-elevation-z8 demo-table">
                        <!-- Name Column -->
                        <ng-container matColumnDef="input">
                            <th mat-header-cell *matHeaderCellDef>Input</th>
                            <td mat-cell *matCellDef="let element">{{element.inputType}}</td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="param">
                            <th mat-header-cell *matHeaderCellDef>Param</th>
                            <td mat-cell *matCellDef="let element">{{element.paramName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                <button (click)="deleteParamMapping(row)"
                                        mat-icon-button
                                        type="button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedLoginParamColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedLoginParamColumns;"></tr>
                    </table>
                    <div class="row">
                        <div *ngIf="loginParams.length > 0 || removedAllLoginData " class="col-md-12">
                            <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="savePageLoginInputs()" class="btn savebtn">Save</button>
                        </div>
                    </div>

                </div>
            </p-fieldset>


            <p-fieldset [collapsed]="true"  [toggleable]="true">
                <p-header style="font-size: 18px">Configure Landing Pages</p-header>
                <label class="form-control-label">Select landing page for available user roles</label>
                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-3">
                            <mat-form-field [style]="{'width':'100%'}">
                                <mat-label>Choose page</mat-label>
                                <mat-select formControlName="landingPage">
                                    <mat-option *ngFor="let option of pages" [value]="option.value">
                                        {{option.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field [style]="{'width':'100%'}">
                                <mat-label>Roles list</mat-label>
                 <input type="text" matInput name="rolesList" formControlName="rolesList">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button type="button" style="float: right;" mat-raised-button color="primary"
                                    (click)="selectlandingPagesForRoles()">
                                <mat-icon>add</mat-icon>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <div style=" :20px;padding-bottom:20px;">
                    <table mat-table matSort [dataSource]="dataSourceLandingPageMapping"
                           class="mat-elevation-z8 demo-table">
                        <!-- Name Column -->
                        <ng-container matColumnDef="page">
                            <th mat-header-cell *matHeaderCellDef>Input</th>
                            <td mat-cell *matCellDef="let element">{{element.pageName}}</td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="roles">
                            <th mat-header-cell *matHeaderCellDef>Param</th>
                            <td mat-cell *matCellDef="let element">{{element.roleList}}</td>
                        </ng-container>

                        <ng-container matColumnDef="remove">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                <button (click)="deleteLandinPageMapping(row)"
                                        mat-icon-button
                                        type="button">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedLandingPageColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedLandingPageColumns;"></tr>
                    </table>
                    <div class="row">
                        <div *ngIf="landingPageMapping.length > 0 || removedAllLangingPageMappingData " class="col-md-12">
                            <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="saveLandingPageMappings()" class="btn savebtn">Save</button>
                        </div>
                    </div>

                </div>
            </p-fieldset>
        </div>
        <div class="form-group" *ngIf="editForm.value.pagetemplate === 'tile-page' || editForm.value.pagetemplate === 'aio-grid'">
        <p-fieldset [collapsed]="true"  [toggleable]="true">
            <p-header style="font-size: 18px">Tile page mappings</p-header>
            <label class="form-control-label">Map tile page attributes</label>
            <h6 style="margin-top: 15px">Match attributes for tile fields</h6>
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-3">
                        <mat-form-field [style]="{'width':'100%'}">
                            <mat-label>Choose Param Type</mat-label>
                            <mat-select formControlName="fieldType">
                                <mat-option *ngFor="let option of tilePageFields" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field [style]="{'width':'100%'}">
                            <mat-label>Choose Model Property</mat-label>
                            <mat-select formControlName="matchedAttribute">
                                <mat-option *ngFor="let option of modelPropertyList"
                                            [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <button type="button" style="float: right;" mat-raised-button color="primary"
                                (click)="addTileFieldMapping()">
                            <mat-icon>add</mat-icon>
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div style=" :20px;padding-bottom:20px;">
                <table mat-table matSort [dataSource]="dataSourceTile"
                       class="mat-elevation-z8 demo-table">
                    <!-- Name Column -->
                    <ng-container matColumnDef="tileField">
                        <th mat-header-cell *matHeaderCellDef>Field</th>
                        <td mat-cell *matCellDef="let element">{{element.tileField}}</td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="attribute">
                        <th mat-header-cell *matHeaderCellDef>Attribute</th>
                        <td mat-cell *matCellDef="let element">{{element.attribute}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                            <button (click)="deleteTilePageMapping(row)"
                                    mat-icon-button
                                    type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedtileParamColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedtileParamColumns;"></tr>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="saveGridPageMappings()" class="btn savebtn">Save</button>
                    </div>
                </div>
            </div>
        </p-fieldset>
        </div>
        <div  style="margin-top: 1%;border-bottom: 1px solid; padding-bottom: 25px;" class="row">
            <div class="col-md-12 ">
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Integration Settings</p-header>
                    <div class="card-page">
                        <div class="form-group" *ngIf="editForm.value.pagetemplate === 'aio-table'">
                            <div class="row" >
                                <div class="col-md-8">
                                    <div class="form-group" >
                                        <div>
                                            <div class="  row">
                                                <div class="row col-md-12">
                                                    <div *ngIf="project?.apptypesID === 'task.ui'"
                                                         style=" padding-top: 5px; ">
                                                        <mat-checkbox formControlName="aiosearch">
                                                            Search API from
                                                            Microservices
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.aiosearch"
                                                         class="form-group col-md-6">
                                                        <mat-form-field [style]="{'width':'100%'}">
                                                            <mat-label>Microservice</mat-label>
                                                            <mat-select formControlName="aiomicroservice"
                                                                        (selectionChange)="onChangeAioTableMicroserviceProject()">
                                                                <mat-option *ngFor="let option of microserviceProjectItems"
                                                                            [value]="option.value">
                                                                    {{option.label}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.aiosearch"
                                                         class="form-group col-md-6">

                                                        <mat-form-field [style]="{'width':'100%'}">
                                                            <mat-label>API</mat-label>
                                                            <mat-select formControlName="aioapi"
                                                                        (selectionChange)="onChangeAioTableMicroserviceAPI()">
                                                                <mat-option *ngFor="let option of apiItems"
                                                                            [value]="option.value">
                                                                    {{option.label}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row col-md-12">
                                                    <div class="col-md-4">
                                                        <mat-form-field [style]="{'width':'100%'}">
                                                            <mat-label>Choose Operation</mat-label>
                                                            <mat-select  formControlName="apiOperation">
                                                                <mat-option *ngFor="let option of crudItems"
                                                                            [value]="option.value">
                                                                    {{option.label}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field [style]="{'width':'100%'}">
                                                            <mat-label>Resource Path</mat-label>
                                                            <input type="text"
                                                                   formControlName="apiResourcePath" matInput name="name">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" style="float: right;" mat-raised-button
                                                                color="primary"
                                                                (click)="addAIOTableRow()">
                                                            <mat-icon>add</mat-icon>
                                                            Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top:20px;padding-bottom:20px;">
                                <table mat-table matSort [dataSource]="dataSourceAIOParam"
                                       class="mat-elevation-z8 demo-table">
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="operation">
                                        <th mat-header-cell *matHeaderCellDef>Operation</th>
                                        <td mat-cell *matCellDef="let element">{{element.apiOperation}}</td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="path">
                                        <th mat-header-cell *matHeaderCellDef>Resource Path</th>
                                        <td mat-cell *matCellDef="let element">{{element.apiResourcePath}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Remove</th>
                                        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                            <button (click)="deleteaddAIOTableRow(row)"
                                                    mat-icon-button
                                                    type="button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedAioParamColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedAioParamColumns;"></tr>
                                </table>
                                <div class="row">
                                    <div *ngIf="apiResourceDetails.length > 0 || removedAIOResourceData " class="col-md-12">
                                        <button type="submit"  value="Save" style="float: left; margin-top: 1%;" (click)="saveAIOPageResourceData()" class="btn savebtn">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             *ngIf="editForm.value.pagetemplate === 'tile-page' || editForm.value.pagetemplate === 'table-page' || editForm.value.pagetemplate === 'form-page' || editForm.value.pagetemplate == 'static-page'|| editForm.value.pagetemplate === 'form-wizard-page' || editForm.value.pagetemplate === 'file-upload-page' || editForm.value.pagetemplate === 'login-page' || editForm.value.pagetemplate === 'register-page' ">
                            <div class="row">
                                <div class="col-12">
                                    <div *ngIf="project?.apptypesID === 'task.ui'" class="form-group"
                                         style=" padding-top: 5px; ">
                                        <mat-checkbox  formControlName="search">Search API from
                                            Microservices
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.search"
                                         class="form-group">
                                        <mat-form-field [style]="{'width':'100%'}">
                                            <mat-label>Microservice</mat-label>
                                            <mat-select formControlName="microservice"
                                                        (selectionChange)="onChangeMicroserviceProject()">
                                                <mat-option *ngFor="let option of microserviceProjectItems"
                                                            [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.search"
                                         class="form-group col-md-6">
                                        <mat-form-field [style]="{'width':'100%'}">
                                            <mat-label>API</mat-label>
                                            <mat-select formControlName="api"
                                                        (selectionChange)="onChangeMicroserviceAPI()">
                                                <mat-option *ngFor="let option of apiItems" [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field [style]="{'width':'100%'}">
                                        <mat-label>Method</mat-label>
                                        <mat-select formControlName="resPathMethod">
                                            <mat-option *ngFor="let option of resourcePathMethods" [value]="option.value">
                                                {{option.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field [style]="{'width':'100%'}">
                                        <mat-label>Resource Path</mat-label>
                                        <input type="text" formControlName="resourcePath" matInput name="resourcepath"
                                               id="field_resourcepath">
                                        <mat-error *ngIf="editForm.controls.resourcePath.hasError('required')">This field is
                                            required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" style="float: left;" mat-raised-button
                                            color="primary"
                                            (click)="updateResourcePath()">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </form>

</div>