<div class="justify-content-center" style=" overflow-x: auto; padding-top: 1%; background-color: #f1f1f1">
    <form name="editForm" role="form" novalidate (ngSubmit)="validatePageSave()" [formGroup]="editForm">
        <div class="form-group" [hidden]="!editForm.get('id').value">
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id"/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button style="float: right" type="button"
                        (click)="enableToEdit()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <h6>Basic details</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 *ngIf="formDisable">{{pageTitle}}</h5>
                                    <mat-form-field *ngIf="!formDisable" [style]="{'width':'100%'}">
                                        <mat-label>Page Title</mat-label>
                                        <input type="text" formControlName="pagetitle" matInput name="pagetitle" id="field_pagetitle">
                                        <mat-error *ngIf="editForm.controls.pagetitle.hasError('required')">This field is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div *ngIf="formDisable">Description of this page </div>
                                    <mat-form-field  *ngIf="!formDisable" [style]="{'width':'100%'}">
                                        <mat-label>Description</mat-label>
                                        <textarea style="overflow: auto" [readonly]="formDisable" cdkTextareaAutosize formControlName="pageDescription" name="pageDescription" matInput placeholder="This page is about..."></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div  class="row" style="margin-top: 10%;">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <mat-form-field [style]="{'width':'100%'}">
                                            <mat-label>Page Template</mat-label>
                                            <mat-select formControlName="pagetemplate" [disabled]="true">
                                                <mat-option *ngFor="let option of pageTemplateItems" [value]="option.value">
                                                    {{option.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field  [style]="{'width':'100%'}">
                                        <mat-label>Model</mat-label>
                                        <mat-select formControlName="selectedAggregate" (selectionChange)="onChangePageModel($event,false)"
                                                    [disabled]="true">
                                            <mat-option *ngFor="let option of aggregateItems" [value]="option.value">
                                                {{option.label}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 1%" class="col-4">
                            <div class="ui-panel-content ui-widget-content justify-content-center" style="padding-top: 5px">
                                <img *ngIf="editForm.value.pagetemplate == 'login-page'" class="pageTmpImgInPage"
                                     src="../../../../../assets/images/pages/login.jpg"
                                     alt="Template" style="width: 100%">
                                <img *ngIf="editForm.value.pagetemplate == 'aio-table'|| editForm.value.pagetemplate =='table-page'"
                                     class="pageTmpImgInPage" src="../../../../../assets/images/pages/allinone.jpg"
                                     alt="Template" style="width: 100%">
                                <img *ngIf="editForm.value.pagetemplate == 'form-page' || editForm.value.pagetemplate == 'static-page'  || editForm.value.pagetemplate == 'file-upload-page' || editForm.value.pagetemplate == 'form-wizard-page'"
                                     class="pageTmpImgInPage" src="../../../../../assets/images/pages/form.jpg"
                                     alt="Template" style="width: 100%">
                                <img *ngIf="editForm.value.pagetemplate == 'register-page'"
                                     class="pageTmpImgInPage" src="../../../../../assets/images/pages/register.jpg"
                                     alt="Template" style="width: 100%">
                                <img *ngIf="editForm.value.pagetemplate == 'aio-grid' || editForm.value.pagetemplate == 'tile-page'"
                                     class="pageTmpImgInPage" src="../../../../../assets/images/pages/grid.jpg"
                                     alt="Template" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 1%" class="row">
            <div class="col-md-12 ">
                <h6>Controller settings</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-12">
                            <add-form-controllers [projectUid] ='projectUid' [pageId] ='pageId'></add-form-controllers>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 1%" class="row">
            <div class="col-md-12 ">
                <h6>Page layout change</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-12">
                            <virtuan-view-model-config [projectUid] ='projectUid' [pageId] ='pageId'></virtuan-view-model-config>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 1%" class="row">
            <div class="col-md-12 ">
                <h6>Page actions and events</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit"  value="Save" style="float: right" (click)="addActionButton()" class="btn savebtn">Add</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div *ngIf="BTN_ELEMENT_DATA.length > 0">
                                        <table mat-table matSort  [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

                                            <ng-container matColumnDef="caption">
                                                <th mat-header-cell *matHeaderCellDef>Caption</th>
                                                <td mat-cell *matCellDef="let element">{{element.caption}}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="resourcepath">
                                                <th mat-header-cell *matHeaderCellDef>Resource path</th>
                                                <td mat-cell *matCellDef="let element">{{element.resourcePath}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="operation">
                                                <th mat-header-cell *matHeaderCellDef>Operation</th>
                                                <td mat-cell *matCellDef="let element">{{element.operation}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="page">
                                                <th mat-header-cell *matHeaderCellDef>Nav. Page</th>
                                                <td mat-cell *matCellDef="let element">{{element.pageName}}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="color">
                                                <th mat-header-cell *matHeaderCellDef>Color</th>
                                                <td mat-cell *matCellDef="let element">{{element.color}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="tooltip">
                                                <th mat-header-cell *matHeaderCellDef>Tooltip</th>
                                                <td mat-cell *matCellDef="let element">{{element.tooltip}}</td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <th *matHeaderCellDef mat-header-cell mat-sort-header >Action</th>
                                                <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                                    <button (click)="deleteRow(row)"
                                                            mat-icon-button
                                                            type="button">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>
                                    <div *ngIf="BTN_ELEMENT_DATA.length === 0">
                                        <div align="center">No actions/events available</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 1%" class="row">
            <div class="col-md-12 ">
                <h6>configuration change</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-7">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 1%" class="row">
            <div class="col-md-12 ">
                <h6>Integration</h6>
                <div class="card">
                    <div class=" card-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="card">
                                    <div class="card-body row">
                                        <div class="row col-md-12">
                                            <div *ngIf="project?.apptypesID === 'task.ui'"
                                                 style=" padding-top: 5px; ">
                                                <mat-checkbox [disabled]="formDisable" formControlName="aiosearch">
                                                    Search API from
                                                    Microservices
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.aiosearch"
                                                 class="form-group col-md-6">
                                                <mat-form-field [style]="{'width':'100%'}">
                                                    <mat-label>Microservice</mat-label>
                                                    <mat-select formControlName="aiomicroservice"
                                                                (selectionChange)="onChangeAioTableMicroserviceProject()"
                                                                [disabled]="formDisable">
                                                        <mat-option *ngFor="let option of microserviceProjectItems"
                                                                    [value]="option.value">
                                                            {{option.label}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="project?.apptypesID === 'task.ui' && editForm.value.aiosearch"
                                                 class="form-group col-md-6">

                                                <mat-form-field [style]="{'width':'100%'}">
                                                    <mat-label>API</mat-label>
                                                    <mat-select formControlName="aiomicroservice"
                                                                (selectionChange)="onChangeAioTableMicroserviceAPI()"
                                                                [disabled]="formDisable">
                                                        <mat-option *ngFor="let option of apiItems"
                                                                    [value]="option.value">
                                                            {{option.label}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row col-md-12">
                                            <div class="col-md-4">
                                                <mat-form-field [style]="{'width':'100%'}">
                                                    <mat-label>Choose Operation</mat-label>
                                                    <mat-select  formControlName="apiOperation"
                                                                 [disabled]="formDisable">
                                                        <mat-option *ngFor="let option of crudItems"
                                                                    [value]="option.value">
                                                            {{option.label}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field [style]="{'width':'100%'}">
                                                    <mat-label>Resource Path</mat-label>
                                                    <input type="text" [readonly]="formDisable"
                                                           formControlName="apiResourcePath" matInput name="name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" style="float: right;" mat-raised-button
                                                        color="primary"
                                                        (click)="addAIOTableRow()" [disabled]="formDisable">
                                                    <mat-icon>add</mat-icon>
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>