<form class="mat-form-dialog"  (ngSubmit)="createStep()" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create Steps</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
                <div class="row">

                    <div>
                        <mat-form-field  fxFlex class="mat-block">
                            <mat-label>Step Header</mat-label>
                            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="stepHeader"/>
                        </mat-form-field>
                        <h6> Select step fields  </h6>
                        <div class="row">
                            <div class="col-md-2" *ngFor="let attribute of modelAttributes">
                                <mat-checkbox [ngModelOptions]="{standalone: true}"  [(ngModel)]="attribute.isSelected">
                                    {{attribute.label}}
                                </mat-checkbox>
                            </div>
                        </div>

                    </div>

                </div>


    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary"
                type="submit" cdkFocusInitial>
            Create
        </button>
                <button mat-button color="primary"
                        type="button"
                        mat-dialog-close >
                    Cancel
                </button>
    </div>
</form>
