<div class="container tab-container">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

        <div class="row justify-content-center title-temp">
            <div class="col-md-7">
                <h3 *ngIf="formDisable">{{pageTitle}}</h3>
                <mat-form-field *ngIf="!formDisable" [style]="{'width':'100%'}">
                    <mat-label>Page Title</mat-label>
                    <input type="text" formControlName="pagetitle" matInput name="pagetitle" id="field_pagetitle">
                    <mat-error *ngIf="editForm.controls.pagetitle.hasError('required')">This field is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <button type="button" mat-mini-fab aria-label="Example icon-button with a heart icon"
                        (click)="enableToEdit()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="col-md-3">
                <div style="float:right; margin: 5px" >
                    <div class="example-button-container">
                        <mat-form-field style="width: 100%">
                            <mat-label>Tab layout</mat-label>
                            <mat-select formControlName="tabLayout">
                                <mat-option *ngFor="let option of tabLayouts" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-row" style="float:right; margin: 5px" >
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="addTab()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <mat-tab-group  (selectedIndexChange)="getSelectedIndex($event)" [selectedIndex]="selected.value">
            <mat-tab *ngFor="let tab of tabPages; let index = index" [label]="tab.tabName">
                <!--            Contents for {{tab}} tab-->
                <div  style="float: right">
                <div class="col-4">
                    <button mat-raised-button color="warn"
                            class="example-delete-tab-button"
                            [disabled]="tabPages.length === 1"
                            (click)="removeTab(index)">
                        <mat-icon>delete</mat-icon>
                        Delete Tab
                    </button>
<!--                    <div class="example-button-container">-->
<!--                        <button mat-fab color="warn" aria-label="Example icon button with a delete icon">-->
<!--                            <mat-icon>delete</mat-icon>-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
                </div>

                <div class="row" style="margin: 10px">
                    <div class="col-6">
                        <div class="example-button-container" style="margin-top: 40px">
                            <mat-form-field style="width: 100%">
                                <mat-label>Selected tab name</mat-label>
                                <input matInput type="text" [formControl]="tabName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-3">
                        <button mat-raised-button color="primary" (click)="saveTabName(index)" style="margin-top: 40px"
                                type="button" cdkFocusInitial>
                            Change
                        </button>
                    </div>
                </div>

                <div class="row" style="margin: 10px">
                    <div class="col-8">
                        <mat-form-field class="flex-auto" style="width: 100%">
                            <mat-label>Select Page</mat-label>
                            <mat-select (selectionChange)="onTabPageChange(index)"  formControlName="page">
                                <mat-option *ngFor="let option of pages" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>




            </mat-tab>
        </mat-tab-group>

        <div class="form-button-footer" style="padding-top: 25px; float: right">
<!--            <button type="button" id="cancel-save" class="btn btn-secondary"   style="margin-right: 8px">-->
<!--                <i class="fa fa-chevron-circle-left"></i>&nbsp;<span>Cancel</span>-->
<!--            </button>-->
            <button mat-raised-button style="margin-right: 8px"
                    type="button" >
                Cancel
            </button>
            <button mat-raised-button color="primary"
                    type="submit" cdkFocusInitial>
                Save
            </button>
        </div>
    </form>

</div>
