
    <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;margin-bottom: 8px">
        <div>
<!--            <p-pickList [source]="sourceProperties" [target]="targetProperties" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="propertyName"-->
<!--                        dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">-->
<!--                <ng-template let-property pTemplate="item">-->
<!--                    <div class="ui-helper-clearfix">-->
<!--                        <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{property.propertyName}}-->
<!--                            <span *ngIf="property.isLinkedProperty"> : {{property.selectType}}</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ng-template>-->
<!--            </p-pickList>-->
            <div>
                <table mat-table matSort [dataSource]="pageViewModelFields"
                       class="page-view">
                    <ng-container matColumnDef="group">
                        <th mat-header-cell *matHeaderCellDef>Row index</th>
                        <td [ngClass]="{'disabled-row': !element.isVisible}" mat-cell *matCellDef="let element; let i = index">{{i}}</td>
                    </ng-container>
                    <ng-container matColumnDef="field">
                        <th mat-header-cell *matHeaderCellDef>Field Name</th>
                        <td [ngClass]="{'disabled-row': !element.isVisible}" mat-cell *matCellDef="let element"> {{element.propertyName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="visibility">
                        <th mat-header-cell *matHeaderCellDef>Enable/Disable</th>
                        <td [ngClass]="{'disabled-row': !element.isVisible}" *matCellDef="let element; let ind = index" class="w-10 text-secondary" mat-cell>
                                <mat-slide-toggle [(ngModel)]="element.isVisible">
                                </mat-slide-toggle>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="fieldMapDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: fieldMapDisplayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <button id="save-entity" type="button" style="margin-top: 10px; float: left" class="btn btn-primary float-right" (click)="saveFormOrder()">
                <i class="fas fa-save"></i>
                <span>
            Save
            </span>
            </button>
        </div>
    </div>