<!--<mat-toolbar color="primary">-->
<!--    <h2 mat-dialog-title>View Model Change</h2>-->
<!--    <span fxFlex></span>-->
<!--    <button mat-icon-button-->
<!--            mat-dialog-close-->
<!--            type="button">-->
<!--        <mat-icon class="material-icons">close</mat-icon>-->
<!--    </button>-->
<!--</mat-toolbar>-->
<mat-dialog-content>
    <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;margin-bottom: 8px">
        <h2 id="page-form-order-heading">
            <span>Change Model order</span>
            <button id="save-entity" class="btn btn-primary float-right" (click)="saveFormOrder()">
                <i class="fas fa-save"></i>
                <span>
            Save Form Order
            </span>
            </button>
        </h2>
        <p-toast></p-toast>
        <div>
            <p-pickList [source]="sourceProperties" [target]="targetProperties" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="propertyName"
                        dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by Name" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                <ng-template let-property pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{property.propertyName}}
                            <span *ngIf="property.isLinkedProperty"> : {{property.selectType}}</span>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
    </div>
</mat-dialog-content>