<form class="mat-form-dialog" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Select a page</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">
            <div class="row justify-content-center" style="height: 90%">
                <div class="col-12" style="height: 100%">
                    <div class="justify-content-center form-tmp">
                        <div  style="height: 100%">
                            <div  class="pl-0 scroll-bar">
                                <div class="row">
                                <div *ngFor="let page of builtInPages" style="margin: 2%"  class="col-2 init-page-card">
                                    <div  class="card m-auto box-card cyan" (click)="setPage(page)">
                                        <div class=" card-body" >
                                            <div class="box-heading">
                                                <h5>{{page.pagetitle}}</h5>
                                            </div>
                                        </div>
                                        <div class=" d-flex justify-content-center init-page-image">
                                            <img class="pageTmpImg" src="../assets/images/pages/form.jpg" alt="Template">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
<!--        <button mat-raised-button color="primary" [disabled]="editForm.invalid || isSaving"-->
<!--                type="submit" cdkFocusInitial>-->
<!--            Save-->
<!--        </button>-->
        <button mat-button color="primary"
                type="button"
                mat-dialog-close >
            Cancel
        </button>
    </div>
</form>
