.grid-tile {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: #1a73e8 !important;
  }

.tile-header{
  background-color: #1a73e8;
  padding: 5px
}

.tile-body{
  background-color: white;
  padding: 5px;
}