<div style="display: flex; flex-direction: row; width: 100%;">
  <div style="width: 98%;">
      <mat-progress-bar
        color="warn"
        style="z-index: 10; margin-bottom: -4px; width: 100%;"
        mode="indeterminate"
        *ngIf="isLoading$ | async"
      >
      </mat-progress-bar>
      <div
        virtuan-toast
        class="virtuan-main-content"
        style="width: 100%; height: 100%; overflow-x: hidden;"
      >
        <router-outlet
          (activate)="activeComponentChanged($event)"
        ></router-outlet>
      </div>
  </div>
  <div
    style="
      width: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
    "
  >
    <ul
      class="nav nav-tabs right-tabs sideways-tabs"
      role="tablist"
      style="
        position: fixed;
        background-color: lightgrey;
        margin-top: 0;
        padding-top: 55px;
      "
    >
      <li class="nav-item" role="presentation">
        <h1 class="display-4">
          <img
            src="../assets/images/apps_icon.png"
            style="width: 38px; margin-bottom: 8px; transform: rotate(270deg);"
          />
        </h1>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          style="margin-top: 21px;"
          (click)="changeSplit('design')"
          data-bs-toggle="tab"
          [ngClass]="{ active: currentTab == 'design' }"
          type="button"
          role="tab"
          aria-selected="false"
        >
          Design
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          style="margin-top: 21px;"
          (click)="changeSplit('service')"
          data-bs-toggle="tab"
          [ngClass]="{ active: currentTab == 'service' }"
          type="button"
          role="tab"
          aria-selected="true"
        >
          Service
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          style="margin-top: 21px;"
          (click)="changeSplit('portal')"
          data-bs-toggle="tab"
          [ngClass]="{ active: currentTab == 'portal' }"
          type="button"
          role="tab"
          aria-selected="false"
        >
          UI
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          style="margin-top: 21px;"
          (click)="changeSplit('build')"
          data-bs-toggle="tab"
          [ngClass]="{ active: currentTab == 'build' }"
          type="button"
          role="tab"
          aria-selected="false"
        >
          Build
        </button>
      </li>

      <span fxFlex></span>
      <span class="logout">
        <button
          mat-mini-fab
          matTooltip="Logout"
          [matMenuTriggerFor]="menu"
          style="
            width: 34px;
            height: 34px;
            margin-left: 5px;
            margin-bottom: 15px;
          "
          color="primary"
        >
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </span>
    </ul>
  </div>
</div>
