<form class="mat-form-dialog" [formGroup]="editForm" (ngSubmit)="checkNameAvailability()" >
    <mat-toolbar style = "background-color: #e6e6e6; color: black;"  >
        <h2 mat-dialog-title>Create Model</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">

            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="hidden" class="form-control" id="id" name="id" formControlName="id" />
            </div>

            <mat-form-field class="flex-auto">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput>
                <mat-error *ngIf="editForm.controls.name.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <div class="pt-3 pb-3"  *ngIf=" project?.apptypesID !== 'task.ui' &&  project?.apptypesID !== 'dashboard'">
                <label id="example-radio-group-label">Type</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="ps-5" aria-label="Select an option" formControlName="type">
                    <div class="row col-md-12 mt-1">
                        <div class="mt-1">
                        <mat-radio-button class="pe-3" value="MODEL">Data persistent object (Model)</mat-radio-button>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-1">
                        <div class="mt-1">
                        <mat-radio-button value="DTO">Data transfer object (DTO)</mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
            </div>

            <mat-form-field class="flex-auto">
                <mat-label>Description</mat-label>
                <input type="text" formControlName="description" matInput>
            </mat-form-field>


            <div class="pt-3 pb-3"  *ngIf="editForm.value.type === 'DTO'">
                <label >Representation</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="ps-5" aria-label="Select an option" formControlName="representation">
                    <div class="row col-md-12 mt-1">
                        <div class="mt-1">
                            <mat-radio-button class="pe-3" value="TREE">Graphical tree view </mat-radio-button>
                        </div>
                    </div>
                    <div class="row col-md-12 mt-1">
                        <div class="mt-1">
                            <mat-radio-button value="JSON">Json view</mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group>
            </div>


            <mat-form-field class="flex-auto"  *ngIf="!editForm.get('id').value && editForm.value.representation === 'TREE'">
                <mat-label>Templates</mat-label>
                <mat-select formControlName="template">
                    <mat-option *ngFor="let option of aggregateModelKeyItems" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>





        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || isSaving" cdkFocusInitial>SAVE</button>
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>
