<!--<form (ngSubmit)="confirmDelete(uuid)" >
    <mat-toolbar color="primary">
        <h2>Confirm delete operation</h2>
        <span fxFlex></span>
        <button mat-icon-button
                (click)="cancel()"
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>
    <mat-dialog-content>
        <div class="row">
            <p>&lt;!&ndash;<i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px"></i>&ndash;&gt;
                Are you sure you want to delete this Function <b style="font-weight: bold">{{name}}?</b></p>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary"
                type="submit">
            YES
        </button>
        <button mat-button color="primary"
                type="button"
                (click)="cancel()" cdkFocusInitial>
            NO
        </button>
    </div>
</form>-->


<form (ngSubmit)="confirmDelete(uuid)" >
    <mat-toolbar color="warn">
        <h2>Confirm delete operation</h2>
        <span fxFlex></span>
        <button mat-icon-button
                (click)="cancel()"
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>
    <div mat-dialog-content>
        <span><!--<i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px"></i>-->
            Are you sure you want to delete this model <b style="font-weight: bold">{{name}}?</b></span>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="warn"
                type="submit">
            YES
        </button>
        <button mat-button color="warn"
                type="button"
                (click)="cancel()" cdkFocusInitial>
            NO
        </button>
    </div>
</form>