<div class="container vertical">
    <div id="requirements" class="row section border">
        <div class="col-3">
            <div class="wrap" style="border-style: dashed;">
                <h3>{{currentReq?.name}}</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <!--<div class="col-3">
            <div class="wrap active">
                <h3>Requiremnt 2</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap selected">
                <h3>Requiremnt 3</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Requiremnt 4</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Requiremnt 5</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Requiremnt 6</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>-->
        <div class="col-3">
            <a href="" class="new">
                <div class="wrap add">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
            </a>
        </div>
    </div>

<!--
    <div id="epics" class="row section border">
        <div class="col-3">
            <div class="wrap">
                <h3>Epic 1</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Requirement 1</option>
                        <option value="">Requirement 2</option>
                        <option value="">Requirement 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap selected">
                <h3>Epic 2</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Requirement 1</option>
                        <option value="">Requirement 2</option>
                        <option value="">Requirement 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap active">
                <h3>Epic 3</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Requirement 1</option>
                        <option value="">Requirement 2</option>
                        <option value="">Requirement 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>

        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Epic 4</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Requirement 1</option>
                        <option value="">Requirement 2</option>
                        <option value="">Requirement 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>
        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Epic 5</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Requirement 1</option>
                        <option value="">Requirement 2</option>
                        <option value="">Requirement 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>
        </div>
        <div class="col-3">
            <a href="" class="new">
                <div class="wrap add">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
            </a>
        </div>
    </div>

    <div id="stories" class="row section border" >
        <div class="col-3">
            <div class="wrap selected">
                <h3>Story 1</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Epic 1</option>
                        <option value="">Epic 2</option>
                        <option value="">Epic 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>
        </div>
        <div class="col-3">
            <div class="wrap">
                <h3>Story 2</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Epic 1</option>
                        <option value="">Epic 2</option>
                        <option value="">Epic 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>
        </div>
        <div class="col-3">
            <div class="wrap active">
                <h3>Story 3</h3>
                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="inner-wrap">
                    <input type="text" placeholder="Title">
                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                    <select name="" id="">
                        <option value="" selected>Epic 1</option>
                        <option value="">Epic 2</option>
                        <option value="">Epic 3</option>
                    </select>
                    <button>Submit</button>
                </div>
                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
            </div>
        </div>
        <div class="col-3">
            <a href="" class="new">
                <div class="wrap add">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
            </a>
        </div>
    </div>-->



    <!--<div id="story-details" class="row section border" >
        <div class="col-12">
            <div class="row">
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faPerson"></fa-icon>
                    </div>
                </div>
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faMobileScreen"></fa-icon>
                    </div>
                </div>
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faGear"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3 sub-sec">
                    <div class="wrap">
                        <h3>Actor1</h3>
                        <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                        <div class="inner-wrap">
                            <input type="text" placeholder="Actor">
                            <textarea name="descripton" id="" cols="" rows=""></textarea>
                            <button>Submit</button>
                        </div>
                        <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                    </div>
                </div>
                <div class="col-6 sub-sec">
                    <div class="row border">
                        <div class="col-6">
                            <div class="wrap screen">
                                <h3>Screen1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Screen">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap process">
                                <h3>Process1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Process">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap screen">
                                <h3>Screen1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Screen">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap process">
                                <h3>Process1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Process">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="" class="new">
                                <div class="wrap add">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>