<!--<div class="row"  style="margin-top: 7%; margin-bottom: 6%; background-color: #cad2e3; width: 100%">-->
<!--    <div class="col-md-12 justify-content-end">-->
<!--        <div class='col-md-12 '>-->
<!--            <div class='col-md-8' style="margin-top: 5%;">-->
<!--                <div class='col-md-12 d-flex justify-content-center' style=''>-->
<!--                    <div class='col-md-12 justify-content-end'>-->
<!--                        <div class="col-md-12 justify-content-end" style="padding-bottom: 20px">-->
<!--                            <div class=" col-md-12 d-flex justify-content-center" style=" margin-top: 30px; margin-bottom: 10px">-->
<!--                                &lt;!&ndash; Logo &ndash;&gt;-->
<!--                                <div class="col-md-6" style="text-align: right; padding: 0">-->
<!--                                    <div class="col-md-12" style="text-align: center;float: right;">-->
<!--                                        <h1 class="display-4"><img src="../../../../../assets/images/logo1.png" width="180px" style="padding-bottom: 10px;margin: auto;"></h1>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">-->
<!--                                &lt;!&ndash; Email input &ndash;&gt;-->
<!--                                <div class="form-group" style="margin-bottom: 15%">-->
<!--                                        <span class="ui-float-label">-->
<!--                                            <input id="username" type="text"   class="form-control1" name="username" formControlName="username">-->
<!--                                            <label for="username">Username</label>-->
<!--                                        </span>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Password input &ndash;&gt;-->
<!--                                <div class="form-group">-->
<!--                                        <span class="ui-float-label">-->
<!--                                            <input id="password" type="password" size="0"  class="form-control1" name="password" formControlName="password">-->
<!--                                            <label for="password">Password</label>-->
<!--                                        </span>-->
<!--                                </div>-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                                    <div class="form-check mb-0">-->
<!--                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />-->
<!--                                        <label class="form-check-label" for="form2Example3">-->
<!--                                            Remember me-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class=" justify-content-center" style='text-align: center; margin: 40px 2px 20px 2px;'>-->
<!--                                    &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                                    <button class='btn btn-primary btn-lg'  type="submit" style="width: 70%">-->
<!--                                        <span *ngIf="isLogin"><i class="fa fa-circle-o-notch fa-spin" ></i></span>-->
<!--                                        Login-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row" *ngIf="isAuthenticated()">
    <div class="col-md-12" style="text-align: center;">
        <div class="col-md-12">
            <h1 class="display-4">Welcome!</h1>
        </div>
        <div class="col-md-12">
            <span class="navbar-version">{{version}}</span>
        </div>
    </div>
</div>

<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
                <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                </div>
            </div>
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
<!--                <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Stackfindover</a></h1>-->
                <div class="col-md-12" style="text-align: center;float: right;">
                    <h1 class="display-4"><img src="../../../../../assets/images/logo_primary.png" width="350px" style="padding-bottom: 10px;margin: auto;"></h1>
                </div>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Sign in to your account</span>
                        <form id="stripe-login" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                            <div class="field padding-bottom--24">
                                <label for="username">Username</label>
                                <input id="username" type="text"   class="form-control1" name="username" formControlName="username">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="password">Password</label>
                                <div class="grid--50-50">
<!--                                    <div class="reset-pass">-->
<!--                                        <a href="#">Forgot your password?</a>-->
<!--                                    </div>-->
                                </div>
                                <input id="password" type="password" size="0"  class="form-control1" name="password" formControlName="password">
                            </div>
                            <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                                <label >
                                    <input type="checkbox" value="" id="form2Example3"> Remember Me
                                </label>
                            </div>
                            <button class='field btn btn-primary btn-lg'  type="submit" style="width: 100%">
                                <span *ngIf="isLogin"><i class="fa fa-circle-o-notch fa-spin" ></i></span>
                                Login
                            </button>
<!--                            <div class="field">-->
<!--                                <a class="ssolink" href="#">Use single sign-on (Google) instead</a>-->
<!--                            </div>-->
                        </form>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
<!--                    <span>Don't have an account? <a href="">Sign up</a></span>-->
                    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
<!--                        <span><a href="#">© Stackfindover</a></span>-->
                        <span><a href="#">Contact</a></span>
                        <span><a href="#">Privacy & terms</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
