<form class="mat-form-dialog" [formGroup]="processNodeConfigFormGroup" (ngSubmit)="save()" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title>Create Requirement</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">
                <div>
                    <mat-form-field style="width: 100%">
                        <mat-label>Process Name</mat-label>
                        <input type="text" formControlName="processName" matInput name="processName" id="screen_name">
                        <mat-error *ngIf="processNodeConfigFormGroup.controls.processName.hasError('required')">This field is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex class="mat-block">
                        <mat-label>Template </mat-label>
                        <mat-select formControlName="apiTemplate">
                            <mat-option *ngFor="let option of crudItems" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
                        <mat-label>Method</mat-label>
                        <mat-select formControlName="apiMethod">
                            <mat-option *ngFor="let option of apiMethod" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
                        <mat-label>Return Record</mat-label>
                        <mat-select formControlName="returnRecord">
                            <mat-option *ngFor="let option of returnRecord" [value]="option.value">
                                {{option.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
                        <mat-label>Return Value</mat-label>
                        <mat-select formControlName="returnObject">
                            <mat-option *ngFor="let option of returnObject" [value]="option.value">
                                {{option.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary"
                type="submit" cdkFocusInitial>
            Save
        </button>
        <button mat-button color="primary"
                type="button"
                mat-dialog-close >
            Cancel
        </button>
    </div>
</form>
