table {
    width: 100%;
  }
 
.snackbar-success {
  background-color: rgb(12, 132, 12) !important;
}

.snackbar-failed{
  background-color:rgb(241, 49, 10) !important;
}

.snackbar-info{
  background-color:rgb(104, 70, 237) !important;
}

.snackbar-warning{
  background-color:rgb(225, 221, 24) !important;
}