<div [formGroup]="processNodeConfigFormGroup">

    <mat-checkbox formControlName="existing">
        Existing process
    </mat-checkbox>

    <ng-container *ngIf="configuration.existing">
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Microservice</mat-label>
            <mat-select formControlName="microservice" (selectionChange)="refreshMicroservices()">
                <mat-option *ngFor="let microservice of allMicroservices" [value]="microservice">
                    {{microservice.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Process</mat-label>
            <mat-select formControlName="microserviceApi" (selectionChange)="onChangeMicroserviceAPI()">
                <mat-option *ngFor="let mapi of apiItems" [value]="mapi.api">
                    {{mapi.api.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </ng-container>

    <ng-container *ngIf="!configuration.existing">
        <mat-form-field style="width: 100%">
            <mat-label>Process Name</mat-label>
            <input type="text" formControlName="processName" matInput name="processName" id="screen_name">
            <mat-error *ngIf="processNodeConfigFormGroup.controls.processName.hasError('required')">This field is
                required
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Template</mat-label>
            <mat-select formControlName="apiTemplate">
                <mat-option *ngFor="let option of crudItems" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
            <mat-label>Method</mat-label>
            <mat-select formControlName="apiMethod">
                <mat-option *ngFor="let option of apiMethod" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-block" *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'CREATE' || processNodeConfigFormGroup.value.apiTemplate === 'UPDATE' ||
 processNodeConfigFormGroup.value.apiTemplate === 'DELETE' || processNodeConfigFormGroup.value.apiTemplate === 'FIND' || processNodeConfigFormGroup.value.apiTemplate === 'FINDALL' ||
 (processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'  &&  (processNodeConfigFormGroup.value.apiMethod === 'POST' || processNodeConfigFormGroup.value.apiMethod === 'PUT'))">
            <mat-label>Target Object</mat-label>
            <mat-select formControlName="selectedAPIInputs" (selectionChange)="onInputObjChange()">
                <mat-option *ngFor="let option of items" [value]="option.value">
                    {{option.label}}
                </mat-option>
                <mat-option *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" [value]="fileinput">
                    FILE
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
            <mat-label>Return Record</mat-label>
            <mat-select formControlName="returnRecord">
                <mat-option *ngFor="let option of returnRecord" [value]="option.value">
                    {{option.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex *ngIf="processNodeConfigFormGroup.value.apiTemplate === 'EMPTY'" class="mat-block">
            <mat-label>Return Object</mat-label>
            <mat-select formControlName="returnObject" (selectionChange)="onReturnObjChange()">
                <mat-option *ngFor="let option of returnObject" [value]="option.value">
                    {{option.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
</div>

