<div [formGroup]="screenNodeConfigFormGroup">
 <mat-form-field style="width: 100%">
  <mat-label>Screen Name</mat-label>
  <input type="text" formControlName="screenName" matInput name="screenName" id="screen_name">
  <mat-error *ngIf="screenNodeConfigFormGroup.controls.screenName.hasError('required')">This field is required</mat-error>
 </mat-form-field>

 <p-carousel [value]="pageTemplateItems" [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template let-template pTemplate="item">
   <div class="product-item" >
    <div class="product-item-content" >
     <div class="mb-2" align="center" >
      <img *ngIf="template == 'login-page'" class="product-image theme-page" width="200px"
           src="/assets/images/pages/login.jpg"
           alt="Template">
      <img width="200px"
              *ngIf="template == 'table-page' || template == 'aio-table'"
              class="product-image theme-page" src="/assets/images/new_pages/table_page.png"
              alt="Template">
      <img width="200px"
              *ngIf="template == 'form-page' || template == 'file-upload-page' || template == 'form-wizard-page'"
              class="product-image theme-page" src="/assets/images/new_pages/form_page.png"
              alt="Template">
      <img *ngIf="template == 'register-page'" width="200px"
           class="product-image theme-page" src="/assets/images/pages/register.jpg"
           alt="Template">
      <img *ngIf="template == 'aio-grid'" width="200px"
           class="product-image theme-page" src="/assets/images/new_pages/grid_page.png"
           alt="Template">
      <!--<img src="/content/images/theme/{{product.themestyle}}.png" [alt]="product.name" class="product-image" />-->
     </div>
     <div>
      <!--<h4 class="mb-1">{{product.name}}</h4>-->
      <div style="margin-top: 15px;" align="center">
       <p-radioButton name="screenselection"
                      [value]="template" label="{{template}}" formControlName="screenTemplate"  (onClick)="onScreenTypeChanged()"></p-radioButton>

      </div>
     </div>
    </div>
   </div>
  </ng-template>
 </p-carousel>
 <div *ngIf="screenNodeConfigFormGroup.value.screenCreateType === 'existing' && pageTemplateItems?.length === 0"  class="alert alert-warning">
  <span>No screens found</span>
 </div>

 <mat-label>Available actions</mat-label>
 <div *ngFor="let option of actionItems">
  <h6 style="padding-left: 15px">{{option}}</h6>
 </div>
</div>

