<div [formGroup]="domainModelVariableNodeConfigFormGroup">
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Model Type</mat-label>
        <mat-select formControlName="modelpropertyinputType" (selectionChange)="refreshInputTypes()">
            <mat-option *ngIf="allDomainModels?.length" value="DOMAIN_MODEL">Domain Model</mat-option>
            <mat-option *ngIf="allViewModels?.length" value="VIEW_MODEL">View Model</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="configuration.modelpropertyinputType === 'DOMAIN_MODEL'" fxFlex class="mat-block">
        <mat-label>Domain Model</mat-label>
        <mat-select formControlName="modelpropertydomainModel">
            <mat-option *ngFor="let domainModel of allDomainModels" [value]="domainModel">
                {{domainModel.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="configuration.modelpropertyinputType === 'VIEW_MODEL'" fxFlex class="mat-block">
        <mat-label>View Model</mat-label>
        <mat-select formControlName="modelpropertyviewModel">
            <mat-option *ngFor="let domainModel of allViewModels" [value]="domainModel">
                {{domainModel.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-checkbox class="checklist-leaf-node"
                          [checked]="checklistSelection.isSelected(node)"
                          (change)="checkboxClick(node)">{{node.name}}</mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <mat-checkbox [checked]="checklistSelection.isSelected(node)"
                          (change)="checkboxClick(node)">{{node.name}}</mat-checkbox>
        </mat-tree-node>
    </mat-tree>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Property Name</mat-label>
        <input matInput formControlName="propertyName"/>
    </mat-form-field>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="tb-fullscreen-button-style"
            (click)="addProperty()"
            matTooltip="Add Property"
            matTooltipPosition="above">
        <mat-icon color="primary">add</mat-icon>
    </button>
    </div>
</div>
<div fxFlex class="table-container" style="padding: 10px;">
    <table mat-table [dataSource]="propertydatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="modelType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.modelType}} </td>
        </ng-container>

        <ng-container matColumnDef="modelUIName">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.modelUIName}} </td>
        </ng-container>

        <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef> Selected Property </th>
            <td mat-cell *matCellDef="let element"> {{element.property?.name}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Assigned Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element;let i = index">
                <button mat-icon-button class="tb-mat-32" (click)="deleteRow(i)" matTooltip="Delete Property" matTooltipPosition="above">
                    <mat-icon style="color:red;">delete</mat-icon>
                </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
