<div [formGroup]="encryptMiddlewareNodeConfigFormGroup">
    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Algorithm</mat-label>
            <mat-select formControlName="encryption">
                <mat-option value="AES256GCM">AES256GCM</mat-option>
                <mat-option value="AES256CBC">AES256CBC</mat-option>
            </mat-select>
        </mat-form-field>

    </section>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Key Type</mat-label>
        <mat-select formControlName="keyType" (selectionChange)="refreshKeyInputType()">
            <mat-option value="KEY">Key</mat-option>
            <mat-option value="FILE">File</mat-option>
        </mat-select>
    </mat-form-field>
    <section fxLayout="column"  *ngIf="configuration.keyType === 'KEY'" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Key Input Type</mat-label>
                <mat-select formControlName="inputType" (selectionChange)="refreshInputTypes()">
                    <!--<mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.inputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="param">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="constant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="property">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="branchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>

    </section>

    <section fxLayout="column"  *ngIf="configuration.keyType === 'FILE'" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>File Name Input Type</mat-label>
                <mat-select formControlName="secondinputType" (selectionChange)="refreshSecondInputTypes()">
                    <!--<mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.secondinputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="secondparam">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="secondconstant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="secondproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="secondbranchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>

    </section>
</div>
