<div [formGroup]="jwtAuthMiddlewareNodeConfigComponent">
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Signing Key Type</mat-label>
        <mat-select formControlName="signingKeyType" (selectionChange)="refreshSigningKeyInputType()">
            <mat-option value="KEY">Key</mat-option>
            <mat-option value="FILE">File</mat-option>
        </mat-select>
    </mat-form-field>

    <section fxLayout="column"  *ngIf="configuration.signingKeyType === 'KEY'" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Key Input Type</mat-label>
                <mat-select formControlName="inputType" (selectionChange)="refreshInputTypes()">
                    <!--<mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
                    <mat-option *ngIf="allProperties?.length" value="VPROP">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.inputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="param">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="constant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Value Property</mat-label>
                <mat-select formControlName="property">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'VPROP'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="property">
                    <mat-option *ngFor="let property of allProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="branchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>

    </section>
   <!-- <section fxLayout="column"  *ngIf="configuration.signingKeyType === 'FILE'" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Base Path Input Type</mat-label>
                <mat-select formControlName="basepathinputType" (selectionChange)="refreshBasePathInputTypes()">
                    &lt;!&ndash;<mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>&ndash;&gt;
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    &lt;!&ndash;<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>&ndash;&gt;
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.basepathinputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="basepathparam">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.basepathinputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="basepathconstant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.basepathinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="basepathproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.basepathinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="basepathbranchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>

    </section>-->
    <section fxLayout="column"  *ngIf="configuration.signingKeyType === 'FILE'" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>File Name Input Type</mat-label>
                <mat-select formControlName="secondinputType" (selectionChange)="refreshSecondInputTypes()">
                    <!--<mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
                    <mat-option *ngIf="allProperties?.length" value="VPROP">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.secondinputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="secondparam">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="secondconstant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Value Property</mat-label>
                <mat-select formControlName="secondproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'VPROP'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="secondproperty">
                    <mat-option *ngFor="let property of allProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="secondbranchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>

    </section>

    <section style="padding-top: 10px;padding-bottom: 20px;">
        <label>Add Keys for Custom Claims</label>
    </section>
    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Name</mat-label>
            <input matInput formControlName="paramName"/>
        </mat-form-field>
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Record</mat-label>
            <mat-select formControlName="paramRecord">
                <mat-option value="s">Single</mat-option>
                <mat-option value="m">Multiple</mat-option>
            </mat-select>
        </mat-form-field>
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Input Type</mat-label>
                <mat-select formControlName="paraminputType">
                    <mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
                    <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>
                    <mat-option value="PRIMITIVE">Primitive</mat-option>
                    <mat-option value="ANY">Any</mat-option>
                </mat-select>
            </mat-form-field>
        </section>

        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.paraminputType === 'MODEL'" fxFlex class="mat-block">
                <mat-label>Model</mat-label>
                <mat-select formControlName="paramentity">
                    <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
                        {{nodeEntity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.paraminputType === 'DTO'" fxFlex class="mat-block">
                <mat-label>DTO</mat-label>
                <mat-select formControlName="paramcustomObject">
                    <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
                        {{nodeEntity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.paraminputType === 'PRIMITIVE'" fxFlex class="mat-block">
                <mat-label>Primitive</mat-label>
                <mat-select formControlName="primitive">
                    <mat-option value="String">Text</mat-option>
                    <mat-option value="Integer">Number</mat-option>
                    <mat-option value="Float">Float</mat-option>
                    <mat-option value="Date">Date</mat-option>
                    <mat-option value="Boolean">True/False</mat-option>
                </mat-select>
            </mat-form-field>

        </section>

        <!--<button mat-raised-button color="primary"
                type="button">
          {{ 'action.add' | translate }}
        </button>-->
        <button mat-icon-button class="virtuan-fullscreen-button-style"
                (click)="addParam()"
                matTooltip="Add"
                matTooltipPosition="above">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </section>

    <div fxFlex class="table-container" style="padding: 10px;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="inputType">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef> Input </th>
                <td mat-cell *matCellDef="let element"> {{element.input}} </td>
            </ng-container>

            <ng-container matColumnDef="record">
                <th mat-header-cell *matHeaderCellDef> Record </th>
                <td mat-cell *matCellDef="let element"> {{element.record}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-icon-button class="virtuan-mat-32" (click)="deleteRow(i)" matTooltip="Delete" matTooltipPosition="above">
                        <mat-icon style="color:red;">delete</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
