<div [formGroup]="aggregateNodeConfigFormGroup">
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Input Type</mat-label>
        <mat-select formControlName="inputType">
            <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
            <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block" *ngIf="configuration.inputType === 'PROPERTY'">
        <mat-label>Property</mat-label>
        <mat-select formControlName="property">
            <ng-container *ngFor="let modelproperty of allModelProperties">
                <mat-option *ngIf="modelproperty?.record === 'm'" [value]="modelproperty">
                    {{modelproperty.name}}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="configuration.inputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="branchparam">
            <ng-container *ngFor="let param of branchAvailability?.branchParams">
                <mat-option *ngIf="param?.record === 'm'" [value]="param">
                    {{param.name}}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>


    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Second Input</mat-label>
                <mat-select formControlName="secondinputType" (selectionChange)="refreshSecondInputTypes()">
                    <mat-option *ngIf="!branchAvailability?.branchFound && inputProperties?.length" value="PARAM">Param</mat-option>
                    <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                    <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.secondinputType === 'PARAM'" fxFlex class="mat-block">
                <mat-label>Param</mat-label>
                <mat-select formControlName="secondparam">
                    <mat-option *ngFor="let property of inputProperties" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="configuration.secondinputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="secondconstant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="configuration.secondinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="secondproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.secondinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="secondbranchparam">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </section>
</div>
