<div [formGroup]="callNodeConfigFormGroup">

  <mat-form-field fxFlex class="mat-block">
    <mat-label>URL</mat-label>
    <input matInput formControlName="url"/>
  </mat-form-field>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Action</mat-label>
    <mat-select formControlName="callAction">
      <mat-option value="CREATE">CREATE</mat-option>
      <mat-option value="UPDATE">UPDATE</mat-option>
      <mat-option value="DELETE">DELETE</mat-option>
      <mat-option value="FIND">FIND</mat-option>
    </mat-select>
  </mat-form-field>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Add Targets</label>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetParameterType">
        <mat-option value="QUERY">Param</mat-option>
        <mat-option value="HEADER">Header</mat-option>
        <mat-option value="BODY">Body</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.targetParameterType === 'QUERY'" fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetQueryType">
        <mat-option value="QUERY_PARAM">Query Param</mat-option>
        <mat-option value="URL_PARAM">URL Param</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.targetParameterType === 'BODY'" fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetBodyType">
        <mat-option value="BODY_FORM_DATA">Form Data</mat-option>
        <mat-option value="BODY_URL_ENCODED">X-WWW-Form-urlencoded</mat-option>
        <mat-option value="BODY_RAW">Raw</mat-option>
      </mat-select>
    </mat-form-field>

  </section>

<!--  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">-->
<!--  <mat-form-field fxFlex class="mat-block">-->
<!--    <mat-label>Target Type</mat-label>-->
<!--    <mat-select formControlName="targetParameterType">-->
<!--      <mat-option value="QUERY_PARAM">Query Param</mat-option>-->
<!--      <mat-option value="URL_PARAM">URL Param</mat-option>-->
<!--      <mat-option value="HEADER">Header</mat-option>-->
<!--      <mat-option value="FORM_DATA">Body - Form Data</mat-option>-->
<!--      <mat-option value="URL_ENCODED">Body - Url-encoded</mat-option>-->
<!--      <mat-option value="RAW">Body - Raw</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  </section>-->

  <section *ngIf="!(configuration.targetParameterType === 'BODY' && configuration.targetBodyType === 'BODY_RAW')" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Key Input Type</mat-label>
      <mat-select formControlName="keyType">
        <mat-option value="PROPERTY">Property</mat-option>
        <mat-option value="IN-LINE">In-Line</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.keyType === 'IN-LINE'" fxFlex class="mat-block">
      <mat-label>Key</mat-label>
      <input matInput formControlName="key"/>
    </mat-form-field>

      <mat-form-field *ngIf="configuration.keyType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Key Property Type</mat-label>
        <mat-select formControlName="keyinputType" (selectionChange)="refreshKeyInputTypes()">
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
        </mat-select>
      </mat-form-field>
      <section *ngIf="configuration.keyType === 'PROPERTY'" class="mat-block" fxFlex>
        <mat-form-field *ngIf="configuration.keyinputType === 'CONSTANT'" fxFlex class="mat-block">
          <mat-label>Constant</mat-label>
          <mat-select formControlName="keyconstant">
            <mat-option *ngFor="let constant of allConstants" [value]="constant">
              {{constant.constantName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="configuration.keyinputType === 'PROPERTY'" fxFlex class="mat-block">
          <mat-label>Property</mat-label>
          <mat-select formControlName="keyproperty">
            <mat-option *ngFor="let property of allModelProperties" [value]="property">
              {{property.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value Input Type</mat-label>
      <mat-select formControlName="valueType">
        <mat-option value="PROPERTY">Property</mat-option>
        <mat-option value="IN-LINE">In-Line</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.valueType === 'PROPERTY'" fxFlex class="mat-block">
      <mat-label>Value Property Type</mat-label>
      <mat-select formControlName="valueinputType" (selectionChange)="refreshValueInputTypes()">
        <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
        <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
        <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
      </mat-select>
    </mat-form-field>
    <section *ngIf="configuration.valueType === 'PROPERTY'" class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.valueinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="valueconstant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="valueproperty">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="valueparam">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="valuebranchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <button *ngIf="configuration.valueType !== 'IN-LINE'" mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addTarget()"
            matTooltip="Add Target"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

  <section *ngIf="configuration.valueType === 'IN-LINE'" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value</mat-label>
      <textarea matInput formControlName="value" rows="8"></textarea>
    </mat-form-field>
    <button mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addTarget()"
            matTooltip="Add Target"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

<!--  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">-->

<!--    <mat-form-field fxFlex class="mat-block">-->
<!--      <mat-label>Name</mat-label>-->
<!--      <input matInput formControlName="targetName"/>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field fxFlex class="mat-block">-->
<!--      <mat-label>Input Type</mat-label>-->
<!--      <mat-select formControlName="targetinputType" (selectionChange)="refreshTargetInputTypes()">-->
<!--        <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
<!--        <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>-->
<!--        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>-->
<!--        <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <section class="mat-block" fxFlex>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'RULE_INPUT'" fxFlex class="mat-block">-->
<!--        <mat-label>Rule Input</mat-label>-->
<!--        <mat-select formControlName="targetparam">-->
<!--          <mat-option *ngFor="let property of allRuleInputs" [value]="property">-->
<!--            {{property.inputName}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'CONSTANT'" fxFlex class="mat-block">-->
<!--        <mat-label>Constant</mat-label>-->
<!--        <mat-select formControlName="targetconstant">-->
<!--          <mat-option *ngFor="let constant of allConstants" [value]="constant">-->
<!--            {{constant.constantName}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'PROPERTY'" fxFlex class="mat-block">-->
<!--        <mat-label>Property</mat-label>-->
<!--        <mat-select formControlName="calltargetproperty">-->
<!--          <mat-option *ngFor="let property of allModelProperties" [value]="property">-->
<!--            {{property.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">-->
<!--        <mat-label>Branch Param</mat-label>-->
<!--        <mat-select formControlName="calltargetbranchparam">-->
<!--          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">-->
<!--            {{param.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </section>-->
<!--    <button mat-icon-button class="virtuan-fullscreen-button-style"-->
<!--            (click)="addTarget()"-->
<!--            matTooltip="Add Target"-->
<!--            matTooltipPosition="above">-->
<!--      <mat-icon color="primary">add</mat-icon>-->
<!--    </button>-->
<!--  </section>-->

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom: 15px;">
    <table mat-table [dataSource]="targetdatasource" class="mat-elevation-z8">

      <ng-container matColumnDef="targetType">
        <th mat-header-cell *matHeaderCellDef> Target Type </th>
        <td mat-cell *matCellDef="let element"> {{element.targetType}} </td>
      </ng-container>

      <ng-container matColumnDef="keyPropertyType">
        <th mat-header-cell *matHeaderCellDef> Key Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.keyPropertyType}} </td>
      </ng-container>

      <ng-container matColumnDef="keyProperty">
        <th mat-header-cell *matHeaderCellDef> Key Property </th>
        <td mat-cell *matCellDef="let element"> {{element.keyProperty}} </td>
      </ng-container>

      <ng-container matColumnDef="keyRaw">
        <th mat-header-cell *matHeaderCellDef> Key Raw </th>
        <td mat-cell *matCellDef="let element"> {{element.keyRaw}} </td>
      </ng-container>

      <ng-container matColumnDef="valuePropertyType">
        <th mat-header-cell *matHeaderCellDef> Value Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.valuePropertyType}} </td>
      </ng-container>

      <ng-container matColumnDef="valueProperty">
        <th mat-header-cell *matHeaderCellDef> Value Property </th>
        <td mat-cell *matCellDef="let element"> {{element.valueProperty}} </td>
      </ng-container>

      <ng-container matColumnDef="valueRaw">
        <th mat-header-cell *matHeaderCellDef> Value Raw </th>
        <td mat-cell *matCellDef="let element"> {{element.valueRaw}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="virtuan-mat-32" (click)="deleteRow(i)" matTooltip="Delete Target" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Add Call Properties</label>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Name</mat-label>
      <input matInput formControlName="callName"/>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value</mat-label>
      <input matInput formControlName="callValue"/>
    </mat-form-field>
    <button mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addCallProperties()"
            matTooltip="Add Call Property"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom: 15px;">
    <table mat-table [dataSource]="calldatasource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="virtuan-mat-32" (click)="deleteCallPropertyRow(i)" matTooltip="Delete Call Property" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="calldisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: calldisplayedColumns;"></tr>
    </table>
  </div>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Call Return Details</label>
  </section>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Return Record</mat-label>
    <mat-select formControlName="callreturnrecord">
      <mat-option value="s">Single</mat-option>
      <mat-option value="m">Multiple</mat-option>
    </mat-select>
  </mat-form-field>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Return Input Type</mat-label>
        <mat-select formControlName="callreturninputType">
          <mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
          <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.callreturninputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Model</mat-label>
        <mat-select formControlName="callreturnentity">
          <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.callreturninputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>DTO</mat-label>
        <mat-select formControlName="callreturncustomObject">
          <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>
  </section>
 <!-- <mat-form-field fxFlex class="mat-block">
    <mat-label>Save Result To</mat-label>
    <mat-select formControlName="assignedProperty">
      &lt;!&ndash;<mat-option *ngFor="let property of allModelProperties" [value]="property">
        {{property.name}}
      </mat-option>&ndash;&gt;
      <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
        {{modelproperty.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Save Result Type</mat-label>
      <mat-select formControlName="assignedtoinputType">
        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
        <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block" *ngIf="configuration.assignedtoinputType === 'PROPERTY'">
        <mat-label>Value Property</mat-label>
        <mat-select formControlName="assignedProperty">
          <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
            {{modelproperty.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.assignedtoinputType === 'REFERENCE'" fxFlex class="mat-block">
        <mat-label>Reference Property</mat-label>
        <mat-select formControlName="assignedReference">
          <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>

  </section>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
      <mat-option value="4">Call an Error Branch</mat-option>
    </mat-select>
  </mat-form-field>


  <div *ngIf="configuration.errorAction == '4'">
    <br>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Error Branch Details
        </mat-panel-title>
        <mat-panel-description>
          Call an error branch if error occured
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex class="mat-block">
          <mat-label>Branch</mat-label>
          <mat-select formControlName="errorBranch">
            <mat-option *ngFor="let root of allErrorBranches" [value]="root">
              {{root.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="errorIsAsync">
          Non Blocking
        </mat-checkbox>
      </section>

      <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
          <mat-label>Branch parameter</mat-label>
          <mat-select formControlName="errorBranchparameter">
            <ng-container *ngFor="let param of configuration?.errorBranch?.params">
              <mat-option *ngIf="param.name !== '_error'" [value]="param">
                {{param.name}} - {{param.input}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
          <mat-label>Error Parameter Input Type</mat-label>
          <mat-select formControlName="errorParameterinputType" (selectionChange)="refreshErrorParameterInputTypes()">
            <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
            <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
            <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
          </mat-select>
        </mat-form-field>
        <section class="mat-block" fxFlex>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'RULE_INPUT'" fxFlex class="mat-block">
            <mat-label>Rule Input</mat-label>
            <mat-select formControlName="errorParameterparam">
              <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                {{property.inputName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'PROPERTY'" fxFlex class="mat-block">
            <mat-label>Property</mat-label>
            <mat-select formControlName="errorParameterproperty">
              <mat-option *ngFor="let property of allModelProperties" [value]="property">
                {{property.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
            <mat-label>Branch Param</mat-label>
            <mat-select formControlName="errorParameterbranchparam">
              <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                {{param.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <button mat-icon-button class="virtuan-fullscreen-button-style"
                (click)="addErrorParameter()"
                matTooltip="Add Parameter"
                matTooltipPosition="above">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </section>

      <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
        <table mat-table [dataSource]="errordatasource" class="mat-elevation-z8">

          <ng-container matColumnDef="parameterName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
          </ng-container>

          <ng-container matColumnDef="inputType">
            <th mat-header-cell *matHeaderCellDef> Input Type </th>
            <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
          </ng-container>

          <ng-container matColumnDef="input">
            <th mat-header-cell *matHeaderCellDef> Input </th>
            <td mat-cell *matCellDef="let element"> {{element.input}} </td>
          </ng-container>

          <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef> Property </th>
            <td mat-cell *matCellDef="let element"> {{element.property}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element;let i = index">
              <button mat-icon-button class="virtuan-mat-32" (click)="deleteErrorRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
                <mat-icon style="color:red;">delete</mat-icon>
              </button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayErroredColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayErroredColumns;"></tr>
        </table>
      </div>


    </mat-expansion-panel>
  </div>

</div>

