<div [formGroup]="callNodeConfigFormGroup">
  <mat-checkbox formControlName="isInternal">
    Internal Service Call
  </mat-checkbox>
  <!--<mat-form-field *ngIf="!configuration.isInternal" fxFlex class="mat-block">
    <mat-label>URL</mat-label>
    <input matInput formControlName="url"/>
  </mat-form-field>-->
  <section *ngIf="!configuration.isInternal"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding-top: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>URL Input Type</mat-label>
        <mat-select formControlName="inputType" (selectionChange)="refreshInputTypes()">
          <mat-option *ngIf="!branchAvailability?.branchFound &&  allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
          <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
        </mat-select>
      </mat-form-field>
    </section>
    <section class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.inputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="param">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.inputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="constant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.inputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="property">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.inputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="branchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>

  </section>

  <section *ngIf="configuration.isInternal"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Microservice</mat-label>
    <mat-select formControlName="microservice" (selectionChange)="refreshMicroservices()">
      <mat-option *ngFor="let microservice of allMicroservices" [value]="microservice">
        {{microservice.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Resource Path</mat-label>
    <mat-select formControlName="microserviceApi" (selectionChange)="onChangeMicroserviceAPI()">
      <mat-option *ngFor="let mapi of apiItems" [value]="mapi.api">
        {{mapi.api.resourcePath}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </section>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Action</mat-label>
    <mat-select formControlName="callAction">
      <mat-option value="CREATE">CREATE</mat-option>
      <mat-option value="UPDATE">UPDATE</mat-option>
      <mat-option value="DELETE">DELETE</mat-option>
      <mat-option value="FIND">FIND</mat-option>
    </mat-select>
  </mat-form-field>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Add Targets</label>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetParameterType">
        <mat-option value="QUERY">Param</mat-option>
        <mat-option value="HEADER">Header</mat-option>
        <mat-option value="BODY">Body</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.targetParameterType === 'QUERY'" fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetQueryType">
        <mat-option value="QUERY_PARAM">Query Param</mat-option>
        <mat-option value="URL_PARAM">URL Param</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.targetParameterType === 'BODY'" fxFlex class="mat-block">
      <mat-label>Target Type</mat-label>
      <mat-select formControlName="targetBodyType">
        <mat-option value="BODY_FORM_DATA">Form Data</mat-option>
        <mat-option value="BODY_URL_ENCODED">X-WWW-Form-urlencoded</mat-option>
        <mat-option value="BODY_RAW">Raw</mat-option>
      </mat-select>
    </mat-form-field>

  </section>

<!--  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">-->
<!--  <mat-form-field fxFlex class="mat-block">-->
<!--    <mat-label>Target Type</mat-label>-->
<!--    <mat-select formControlName="targetParameterType">-->
<!--      <mat-option value="QUERY_PARAM">Query Param</mat-option>-->
<!--      <mat-option value="URL_PARAM">URL Param</mat-option>-->
<!--      <mat-option value="HEADER">Header</mat-option>-->
<!--      <mat-option value="FORM_DATA">Body - Form Data</mat-option>-->
<!--      <mat-option value="URL_ENCODED">Body - Url-encoded</mat-option>-->
<!--      <mat-option value="RAW">Body - Raw</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  </section>-->

  <section *ngIf="!(configuration.targetParameterType === 'BODY' && configuration.targetBodyType === 'BODY_RAW')" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Key Input Type</mat-label>
      <mat-select formControlName="keyType">
        <mat-option value="PROPERTY">Property</mat-option>
        <mat-option value="IN-LINE">In-Line</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.keyType === 'IN-LINE'" fxFlex class="mat-block">
      <mat-label>Key</mat-label>
      <input matInput formControlName="key"/>
    </mat-form-field>

      <mat-form-field *ngIf="configuration.keyType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Key Property Type</mat-label>
        <mat-select formControlName="keyinputType" (selectionChange)="refreshKeyInputTypes()">
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
        </mat-select>
      </mat-form-field>
      <section *ngIf="configuration.keyType === 'PROPERTY'" class="mat-block" fxFlex>
        <mat-form-field *ngIf="configuration.keyinputType === 'CONSTANT'" fxFlex class="mat-block">
          <mat-label>Constant</mat-label>
          <mat-select formControlName="keyconstant">
            <mat-option *ngFor="let constant of allConstants" [value]="constant">
              {{constant.constantName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="configuration.keyinputType === 'PROPERTY'" fxFlex class="mat-block">
          <mat-label>Property</mat-label>
          <mat-select formControlName="keyproperty">
            <mat-option *ngFor="let property of allModelProperties" [value]="property">
              {{property.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value Input Type</mat-label>
      <mat-select formControlName="valueType">
        <mat-option value="PROPERTY">Property</mat-option>
        <mat-option value="IN-LINE">In-Line</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="configuration.valueType === 'PROPERTY'" fxFlex class="mat-block">
      <mat-label>Value Property Type</mat-label>
      <mat-select formControlName="valueinputType" (selectionChange)="refreshValueInputTypes()">
        <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
        <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
        <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
      </mat-select>
    </mat-form-field>
    <section *ngIf="configuration.valueType === 'PROPERTY'" class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.valueinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="valueconstant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="valueproperty">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="valueparam">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.valueinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="valuebranchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <button *ngIf="configuration.valueType !== 'IN-LINE'" mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addTarget()"
            matTooltip="Add Target"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

  <section *ngIf="configuration.valueType === 'IN-LINE'" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value</mat-label>
      <textarea matInput formControlName="value" rows="8"></textarea>
    </mat-form-field>
    <button mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addTarget()"
            matTooltip="Add Target"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

<!--  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">-->

<!--    <mat-form-field fxFlex class="mat-block">-->
<!--      <mat-label>Name</mat-label>-->
<!--      <input matInput formControlName="targetName"/>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field fxFlex class="mat-block">-->
<!--      <mat-label>Input Type</mat-label>-->
<!--      <mat-select formControlName="targetinputType" (selectionChange)="refreshTargetInputTypes()">-->
<!--        <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>-->
<!--        <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>-->
<!--        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>-->
<!--        <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <section class="mat-block" fxFlex>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'RULE_INPUT'" fxFlex class="mat-block">-->
<!--        <mat-label>Rule Input</mat-label>-->
<!--        <mat-select formControlName="targetparam">-->
<!--          <mat-option *ngFor="let property of allRuleInputs" [value]="property">-->
<!--            {{property.inputName}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'CONSTANT'" fxFlex class="mat-block">-->
<!--        <mat-label>Constant</mat-label>-->
<!--        <mat-select formControlName="targetconstant">-->
<!--          <mat-option *ngFor="let constant of allConstants" [value]="constant">-->
<!--            {{constant.constantName}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'PROPERTY'" fxFlex class="mat-block">-->
<!--        <mat-label>Property</mat-label>-->
<!--        <mat-select formControlName="calltargetproperty">-->
<!--          <mat-option *ngFor="let property of allModelProperties" [value]="property">-->
<!--            {{property.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field *ngIf="configuration.targetinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">-->
<!--        <mat-label>Branch Param</mat-label>-->
<!--        <mat-select formControlName="calltargetbranchparam">-->
<!--          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">-->
<!--            {{param.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </section>-->
<!--    <button mat-icon-button class="virtuan-fullscreen-button-style"-->
<!--            (click)="addTarget()"-->
<!--            matTooltip="Add Target"-->
<!--            matTooltipPosition="above">-->
<!--      <mat-icon color="primary">add</mat-icon>-->
<!--    </button>-->
<!--  </section>-->

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom: 15px;">
    <table mat-table [dataSource]="targetdatasource" class="mat-elevation-z8">

      <ng-container matColumnDef="targetType">
        <th mat-header-cell *matHeaderCellDef> Target Type </th>
        <td mat-cell *matCellDef="let element"> {{element.targetType}} </td>
      </ng-container>

      <ng-container matColumnDef="keyPropertyType">
        <th mat-header-cell *matHeaderCellDef> Key Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.keyPropertyType}} </td>
      </ng-container>

      <ng-container matColumnDef="keyProperty">
        <th mat-header-cell *matHeaderCellDef> Key Property </th>
        <td mat-cell *matCellDef="let element"> {{element.keyProperty}} </td>
      </ng-container>

      <ng-container matColumnDef="keyRaw">
        <th mat-header-cell *matHeaderCellDef> Key Raw </th>
        <td mat-cell *matCellDef="let element"> {{element.keyRaw}} </td>
      </ng-container>

      <ng-container matColumnDef="valuePropertyType">
        <th mat-header-cell *matHeaderCellDef> Value Property Type </th>
        <td mat-cell *matCellDef="let element"> {{element.valuePropertyType}} </td>
      </ng-container>

      <ng-container matColumnDef="valueProperty">
        <th mat-header-cell *matHeaderCellDef> Value Property </th>
        <td mat-cell *matCellDef="let element"> {{element.valueProperty}} </td>
      </ng-container>

      <ng-container matColumnDef="valueRaw">
        <th mat-header-cell *matHeaderCellDef> Value Raw </th>
        <td mat-cell *matCellDef="let element"> {{element.valueRaw}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="virtuan-mat-32" (click)="deleteRow(i)" matTooltip="Delete Target" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Add Call Properties</label>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

    <mat-form-field fxFlex class="mat-block">
      <mat-label>Name</mat-label>
      <input matInput formControlName="callName"/>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Value</mat-label>
      <input matInput formControlName="callValue"/>
    </mat-form-field>
    <button mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addCallProperties()"
            matTooltip="Add Call Property"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </section>

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom: 15px;">
    <table mat-table [dataSource]="calldatasource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="virtuan-mat-32" (click)="deleteCallPropertyRow(i)" matTooltip="Delete Call Property" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="calldisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: calldisplayedColumns;"></tr>
    </table>
  </div>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Call Return Details</label>
  </section>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Return Record</mat-label>
    <mat-select formControlName="callreturnrecord">
      <mat-option value="s">Single</mat-option>
      <mat-option value="m">Multiple</mat-option>
    </mat-select>
  </mat-form-field>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Return Input Type</mat-label>
        <mat-select formControlName="callreturninputType">
          <mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
          <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.callreturninputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Model</mat-label>
        <mat-select formControlName="callreturnentity">
          <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.callreturninputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>DTO</mat-label>
        <mat-select formControlName="callreturncustomObject">
          <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>
  </section>
 <!-- <mat-form-field fxFlex class="mat-block">
    <mat-label>Save Result To</mat-label>
    <mat-select formControlName="assignedProperty">
      &lt;!&ndash;<mat-option *ngFor="let property of allModelProperties" [value]="property">
        {{property.name}}
      </mat-option>&ndash;&gt;
      <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
        {{modelproperty.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Save Result Type</mat-label>
      <mat-select formControlName="assignedtoinputType">
        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
        <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block" *ngIf="configuration.assignedtoinputType === 'PROPERTY'">
        <mat-label>Value Property</mat-label>
        <mat-select formControlName="assignedProperty">
          <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
            {{modelproperty.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.assignedtoinputType === 'REFERENCE'" fxFlex class="mat-block">
        <mat-label>Reference Property</mat-label>
        <mat-select formControlName="assignedReference">
          <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>

  </section>

  <mat-checkbox formControlName="isReturn">
    Respond Saved Result
  </mat-checkbox>

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
      <mat-option value="4">Call an Error Process</mat-option>
    </mat-select>
  </mat-form-field>


  <div *ngIf="configuration.errorAction == '4'">
    <br>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Error Process Details
        </mat-panel-title>
        <mat-panel-description>
          Call an error process if error occured
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex class="mat-block">
          <mat-label>Error Process</mat-label>
          <mat-select formControlName="errorBranch">
            <mat-option *ngFor="let root of allSubRules" [value]="root">
              {{root.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="errorIsAsync">
          Non Blocking
        </mat-checkbox>
      </section>

      <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
          <mat-label>Process Input</mat-label>
          <mat-select formControlName="errorBranchparameter">
            <ng-container *ngFor="let param of configuration?.errorBranch?.params">
              <mat-option [value]="param">
                <span *ngIf="param.inputType === 'model' || param.inputType === 'dto';else primitive_param">{{param.paramName}} - {{param.inputName}}</span><ng-template #primitive_param><span>{{param.paramName}} - {{param.inputType}}</span></ng-template>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
          <mat-label>Process Input Type</mat-label>
          <mat-select formControlName="errorParameterinputType" (selectionChange)="refreshErrorParameterInputTypes()">
            <mat-option value="ERROR">Error String</mat-option>
            <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
            <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
            <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
          </mat-select>
        </mat-form-field>
        <section class="mat-block" fxFlex>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'RULE_INPUT'" fxFlex class="mat-block">
            <mat-label>Rule Input</mat-label>
            <mat-select formControlName="errorParameterparam">
              <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                {{property.inputName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'PROPERTY'" fxFlex class="mat-block">
            <mat-label>Property</mat-label>
            <mat-select formControlName="errorParameterproperty">
              <mat-option *ngFor="let property of allModelProperties" [value]="property">
                {{property.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="configuration.errorParameterinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
            <mat-label>Branch Param</mat-label>
            <mat-select formControlName="errorParameterbranchparam">
              <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                {{param.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <button mat-icon-button class="virtuan-fullscreen-button-style"
                (click)="addErrorParameter()"
                matTooltip="Add Parameter"
                matTooltipPosition="above">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </section>

      <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
        <table mat-table [dataSource]="errordatasource" class="mat-elevation-z8">

          <ng-container matColumnDef="parameterName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
          </ng-container>

          <ng-container matColumnDef="inputType">
            <th mat-header-cell *matHeaderCellDef> Input Type </th>
            <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
          </ng-container>

          <ng-container matColumnDef="input">
            <th mat-header-cell *matHeaderCellDef> Input </th>
            <td mat-cell *matCellDef="let element"> {{element.input}} </td>
          </ng-container>

          <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef> Property </th>
            <td mat-cell *matCellDef="let element"> {{element.property}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element;let i = index">
              <button mat-icon-button class="virtuan-mat-32" (click)="deleteErrorRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
                <mat-icon style="color:red;">delete</mat-icon>
              </button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayErroredColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayErroredColumns;"></tr>
        </table>
      </div>


    </mat-expansion-panel>
  </div>

  <mat-checkbox formControlName="isRetry">
    Retry
  </mat-checkbox>
  <mat-form-field fxFlex class="mat-block" *ngIf="configuration.isRetry">
    <mat-label>Retry Count</mat-label>
    <input type="number" formControlName="retryCount" matInput/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block" *ngIf="configuration.isRetry">
    <mat-label>Retry Delay(Seconds)</mat-label>
    <input type="number" formControlName="retryDelay" matInput/>
  </mat-form-field>

  <mat-form-field fxFlex class="mat-block" *ngIf="configuration.isRetry">
    <mat-label>Retry HTTP Response Status Code</mat-label>
    <mat-select formControlName="retryCode">
      <mat-option value="100">100 Continue</mat-option>
      <mat-option value="101">101 Switching Protocols</mat-option>
      <mat-option value="102">102 Processing</mat-option>
      <mat-option value="103">102 Early Hints</mat-option>

      <mat-option value="200">200 OK</mat-option>
      <mat-option value="201">201 Created</mat-option>
      <mat-option value="202">202 Accepted</mat-option>
      <mat-option value="203">203 Non-Authoritative Information</mat-option>
      <mat-option value="204">204 No Content</mat-option>
      <mat-option value="205">205 Reset Content</mat-option>
      <mat-option value="206">206 Partial Content</mat-option>
      <mat-option value="207">207 Multi-Status</mat-option>
      <mat-option value="208">208 Already Reported</mat-option>
      <mat-option value="226">226 IM Used</mat-option>

      <mat-option value="300">300 Multiple Choices</mat-option>
      <mat-option value="301">301 Moved Permanently</mat-option>
      <mat-option value="302">302 Found</mat-option>
      <mat-option value="303">303 See Other</mat-option>
      <mat-option value="304">304 Not Modified</mat-option>
      <mat-option value="305">305 Use Proxy</mat-option>
      <mat-option value="306">306 Switch Proxy</mat-option>
      <mat-option value="307">307 Temporary Redirect</mat-option>
      <mat-option value="308">308 Permanent Redirect</mat-option>

      <mat-option value="400">400 Bad Request</mat-option>
      <mat-option value="401">401 Unauthorized</mat-option>
      <mat-option value="402">402 Payment Required</mat-option>
      <mat-option value="403">403 Forbidden</mat-option>
      <mat-option value="404">404 Not Found</mat-option>
      <mat-option value="405">405 Method Not Allowed</mat-option>
      <mat-option value="406">406 Not Acceptable</mat-option>
      <mat-option value="407">407 Proxy Authentication Required</mat-option>
      <mat-option value="408">408 Request Timeout</mat-option>
      <mat-option value="409">409 Conflict</mat-option>
      <mat-option value="410">410 Gone</mat-option>
      <mat-option value="411">411 Length Required</mat-option>
      <mat-option value="412">412 Precondition Failed</mat-option>
      <mat-option value="413">413 Payload Too Large</mat-option>
      <mat-option value="414">414 URI Too Long</mat-option>
      <mat-option value="415">415 Unsupported Media Type</mat-option>
      <mat-option value="416">416 Range Not Satisfiable</mat-option>
      <mat-option value="417">417 Expectation Failed</mat-option>
      <mat-option value="418">418 I'm a teapot</mat-option>
      <mat-option value="421">421 Misdirected Request</mat-option>
      <mat-option value="422">422 Unprocessable Entity</mat-option>
      <mat-option value="423">423 Locked</mat-option>
      <mat-option value="424">424 Failed Dependency</mat-option>
      <mat-option value="425">425 Too Early</mat-option>
      <mat-option value="426">426 Upgrade Required</mat-option>
      <mat-option value="428">428 Precondition Required</mat-option>
      <mat-option value="429">429 Too Many Requests</mat-option>
      <mat-option value="431">431 Request Header Fields Too Large</mat-option>
      <mat-option value="451">451 Unavailable For Legal Reasons</mat-option>

      <mat-option value="500">500 Internal Server Error</mat-option>
      <mat-option value="501">501 Not Implemented</mat-option>
      <mat-option value="502">502 Bad Gateway</mat-option>
      <mat-option value="503">503 Service Unavailable</mat-option>
      <mat-option value="504">504 Gateway Timeout</mat-option>
      <mat-option value="505">505 HTTP Version Not Supported</mat-option>
      <mat-option value="506">506 Variant Also Negotiates (RFC 2295)</mat-option>
      <mat-option value="507">507 Insufficient Storage</mat-option>
      <mat-option value="508">508 Loop Detected</mat-option>
      <mat-option value="510">510 Not Extended</mat-option>
      <mat-option value="511">511 Network Authentication Required</mat-option>

    </mat-select>
  </mat-form-field>

</div>
