<div [formGroup]="eventReceiverNodeConfigFormGroup">
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Event Source</mat-label>
        <mat-select formControlName="eventSource">
            <mat-option value="nats">NATS</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-block">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" required>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Event</mat-label>
        <mat-select formControlName="event">
            <mat-option *ngFor="let event of allEvents" [value]="event">
                {{event}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Message</mat-label>
        <input matInput formControlName="errorMsg"/>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Action</mat-label>
        <mat-select formControlName="errorAction">
            <mat-option value="1">Log & Continue</mat-option>
            <mat-option value="2">Log & Exit</mat-option>
            <mat-option value="3">Return</mat-option>
        </mat-select>
    </mat-form-field>
</div>
