<div [formGroup]="iteratorNodeConfigFormGroup">
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Input Type</mat-label>
    <mat-select formControlName="inputType">
      <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
      <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block" *ngIf="configuration.inputType === 'PROPERTY'">
    <mat-label>Property</mat-label>
    <mat-select formControlName="property">
      <!--<mat-option *ngFor="let property of allModelProperties" [value]="property">
        {{property.name}}
      </mat-option>-->
      <ng-container *ngFor="let modelproperty of allModelProperties">
        <mat-option *ngIf="modelproperty?.record === 'm'" [value]="modelproperty">
          {{modelproperty.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="configuration.inputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
    <mat-label>Branch Param</mat-label>
    <mat-select formControlName="branchparam">
      <ng-container *ngFor="let param of branchAvailability?.branchParams">
      <mat-option *ngIf="param?.record === 'm'" [value]="param">
        {{param.name}}
      </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Iterate Element</mat-label>
    <mat-select formControlName="assignedProperty">
      <!--<mat-option *ngFor="let property of allModelProperties" [value]="property">
        {{property.name}}
      </mat-option>-->
        <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
          {{modelproperty.name}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <!--<section fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="root">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isAsync">
      Non Blocking
    </mat-checkbox>
  </section>-->

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>

</div>

