<div [formGroup]="lambdaFunctionNodeConfigFormGroup">

    <mat-form-field fxFlex class="mat-block">
        <mat-label>Lambda Function</mat-label>
        <mat-select formControlName="function">
            <mat-option *ngFor="let function of allLambdaFunctions" [value]="function">
                {{function.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Function parameter</mat-label>
            <mat-select formControlName="functionparameter">
                <mat-option *ngFor="let param of configuration?.function?.params" [value]="param">
                    {{param.inputName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Parameter Input Type</mat-label>
            <mat-select formControlName="parameterinputType" (selectionChange)="refreshParameterInputTypes()">
                <mat-option *ngIf="!branchAvailability?.branchFound && inputProperties?.length" value="PARAM">Param</mat-option>
                <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
            </mat-select>
        </mat-form-field>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.parameterinputType === 'PARAM'" fxFlex class="mat-block">
                <mat-label>Param</mat-label>
                <mat-select formControlName="parameterparam">
                    <mat-option *ngFor="let property of inputProperties" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.parameterinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="parameterproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.parameterinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="parameterbranch">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <button mat-icon-button class="tb-fullscreen-button-style"
                (click)="addParameter()"
                matTooltip="Add Parameter"
                matTooltipPosition="above">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </section>

    <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

            <ng-container matColumnDef="parameterName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
            </ng-container>

            <ng-container matColumnDef="inputType">
                <th mat-header-cell *matHeaderCellDef> Input Type </th>
                <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef> Input </th>
                <td mat-cell *matCellDef="let element"> {{element.input}} </td>
            </ng-container>

            <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef> Property </th>
                <td mat-cell *matCellDef="let element"> {{element.property}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-icon-button class="tb-mat-32" (click)="deleteRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
                        <mat-icon style="color:red;">delete</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Save Result To</mat-label>
        <mat-select formControlName="assignedProperty">
            <!--<mat-option *ngFor="let property of allModelProperties" [value]="property">
              {{property.name}}
            </mat-option>-->
            <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
                {{modelproperty.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!--<section class="mat-block" fxFlex>
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Function</mat-label>
            <textarea matInput formControlName="function" required rows="10"></textarea>
        </mat-form-field>
    </section>-->

    <!--<section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">

        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>Return Input Type</mat-label>
                <mat-select formControlName="inputType">
                    <mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
                    <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.inputType === 'MODEL'" fxFlex class="mat-block">
                <mat-label>Model</mat-label>
                <mat-select formControlName="entity">
                    <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
                        {{nodeEntity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.inputType === 'DTO'" fxFlex class="mat-block">
                <mat-label>DTO</mat-label>
                <mat-select formControlName="customObject">
                    <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
                        {{nodeEntity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </section>
    </section>-->
    <!--<mat-form-field fxFlex class="mat-block">
        <mat-label>Return Record</mat-label>
        <mat-select formControlName="record">
            <mat-option value="s">Single</mat-option>
            <mat-option value="m">Multiple</mat-option>
        </mat-select>
    </mat-form-field>-->
</div>
