<div [formGroup]="payloadNodeConfigFormGroup">
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Input Type</mat-label>
    <mat-select formControlName="payloadInputType">
      <mat-option value="INLINE">In-Line</mat-option>
      <mat-option value="REMOTE_PATH">Remote File Path</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Paylod Type</mat-label>
    <mat-select formControlName="payloadType">
      <mat-option value="JSON">JSON</mat-option>
      <mat-option value="CSV">CSV</mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field *ngIf="configuration.payloadInputType === 'INLINE'" class="mat-block">
      <mat-label>Payload</mat-label>
      <textarea matInput formControlName="payload" rows="20"></textarea>
      <!--<mat-error *ngIf="payloadNodeConfigFormGroup.get('payload').hasError('required')">
        Payload is required
      </mat-error>-->
    </mat-form-field>
  <mat-form-field *ngIf="configuration.payloadInputType === 'REMOTE_PATH'" fxFlex class="mat-block">
    <mat-label>File Path</mat-label>
    <input matInput formControlName="url"/>
  </mat-form-field>
  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Save Result Type</mat-label>
      <mat-select formControlName="assignedtoinputType">
        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
        <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block" *ngIf="configuration.assignedtoinputType === 'PROPERTY'">
        <mat-label>Value Property</mat-label>
        <mat-select formControlName="assignedProperty">
          <mat-option *ngFor="let modelproperty of allModelProperties" [value]="modelproperty">
            {{modelproperty.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.assignedtoinputType === 'REFERENCE'" fxFlex class="mat-block">
        <mat-label>Reference Property</mat-label>
        <mat-select formControlName="assignedReference">
          <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>
  </section>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>
</div>
