<div [formGroup]="validatorNodeConfigFormGroup">

  <section style="padding-top: 10px;padding-bottom: 20px;">
    <label>Add Validators</label>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Input Type</mat-label>
        <mat-select formControlName="validatorinputType" (selectionChange)="refreshInputTypes()">
          <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <!--<mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>-->
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="mat-block" fxFlex>
      <mat-form-field *ngIf="configuration.validatorinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="validatorparam">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.validatorinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="validatorproperty">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.parameterinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="validatorbranch">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>
  </section>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Condition</mat-label>
    <mat-select formControlName="validatorcondition">
      <mat-option value="equal">Equal</mat-option>
      <mat-option value="notequal">Not Equal</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'TEXT' || configuration?.validatorparam?.inputType == 'string' || configuration?.validatorparam?.inputType == 'String' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'String') ||
                                    configuration?.validatorproperty?.type == 'TEXT' || configuration?.validatorproperty?.type == 'string' || configuration?.validatorproperty?.type == 'String'" value="isblank">Is Blank</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'TEXT' || configuration?.validatorparam?.inputType == 'string' || configuration?.validatorparam?.inputType == 'String' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'String') ||
                                    configuration?.validatorproperty?.type == 'TEXT' || configuration?.validatorproperty?.type == 'string' || configuration?.validatorproperty?.type == 'String'" value="isnotblank">Is Not Blank</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'TEXT' || configuration?.validatorparam?.inputType == 'string' || configuration?.validatorparam?.inputType == 'String' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'String') ||
                                    configuration?.validatorproperty?.type == 'TEXT' || configuration?.validatorproperty?.type == 'string' || configuration?.validatorproperty?.type == 'String'" value="contains">Contains</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'TEXT' || configuration?.validatorparam?.inputType == 'string' || configuration?.validatorparam?.inputType == 'String' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'String') ||
                                    configuration?.validatorproperty?.type == 'TEXT' || configuration?.validatorproperty?.type == 'string' || configuration?.validatorproperty?.type == 'String'" value="notcontains">Not Contains</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'NUMBER' || configuration?.validatorparam?.inputType == 'Integer' || configuration?.validatorparam?.inputType == 'int' ||
                         configuration?.validatorparam?.inputType == 'FLOAT' || configuration?.validatorparam?.inputType == 'Float' || configuration?.validatorparam?.inputType == 'float64' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Integer') ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Float') ||
                                    configuration?.validatorproperty?.type == 'Integer' || configuration?.validatorproperty?.type == 'NUMBER' || configuration?.validatorproperty?.type == 'int' ||
                                    configuration?.validatorproperty?.type == 'Float' || configuration?.validatorproperty?.type == 'FLOAT' || configuration?.validatorproperty?.type == 'float64'" value="greaterthan">Greater Than</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'NUMBER' || configuration?.validatorparam?.inputType == 'Integer' || configuration?.validatorparam?.inputType == 'int' ||
                         configuration?.validatorparam?.inputType == 'FLOAT' || configuration?.validatorparam?.inputType == 'Float' || configuration?.validatorparam?.inputType == 'float64' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Integer') ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Float') ||
                                    configuration?.validatorproperty?.type == 'Integer' || configuration?.validatorproperty?.type == 'NUMBER' || configuration?.validatorproperty?.type == 'int' ||
                                    configuration?.validatorproperty?.type == 'Float' || configuration?.validatorproperty?.type == 'FLOAT' || configuration?.validatorproperty?.type == 'float64'" value="lessthan">Less Than</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'DATE' || configuration?.validatorparam?.inputType == 'Date' || configuration?.validatorparam?.inputType == 'time.Time' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Date') ||
                                    configuration?.validatorproperty?.type == 'Date' || configuration?.validatorproperty?.type == 'DATE' || configuration?.validatorproperty?.inputType == 'time.Time'" value="before">Before</mat-option>
      <mat-option *ngIf="configuration?.validatorparam?.inputType == 'DATE' || configuration?.validatorparam?.inputType == 'Date' || configuration?.validatorparam?.inputType == 'time.Time' ||
                              (configuration?.validatorbranch?.inputType == 'PRIMITIVE' && configuration?.validatorbranch?.input == 'Date') ||
                                    configuration?.validatorproperty?.type == 'Date' || configuration?.validatorproperty?.type == 'DATE' || configuration?.validatorproperty?.inputType == 'time.Time'" value="after">After</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="configuration?.validatorcondition !== 'isblank' && configuration?.validatorcondition !== 'isnotblank'" fxFlex class="mat-block">
    <mat-label>Custom Value</mat-label>
    <mat-select formControlName="customValue">
      <mat-option *ngFor="let property of allConstants" [value]="property">
        {{property.constantName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="configuration?.validators.length" fxFlex class="mat-block">
    <mat-label>Join</mat-label>
    <mat-select formControlName="join">
      <mat-option value="AND">AND</mat-option>
      <mat-option value="OR">OR</mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="tb-fullscreen-button-style"
            (click)="addValidator()"
            matTooltip="Add Validator"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </div>

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

      <ng-container matColumnDef="inputType">
        <th mat-header-cell *matHeaderCellDef> Input Type </th>
        <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
      </ng-container>

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Property </th>
        <td mat-cell *matCellDef="let element"> {{element.property}} </td>
      </ng-container>
      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef> Condition </th>
        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Custom Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="join">
        <th mat-header-cell *matHeaderCellDef> Join </th>
        <td mat-cell *matCellDef="let element"> {{element.join}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="tb-mat-32" (click)="deleteRow(i)" matTooltip="Delete Validator" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!--<section fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="root">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isAsync">
      Non Blocking
    </mat-checkbox>
  </section>-->

  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>

</div>

