<div [formGroup]="mediatorNodeConfigFormGroup" style="margin-top: 10px;margin-bottom: 10px;">
  <ng-container *ngIf="ruleType === 'CONNECTOR'">
    <tb-connector-node-config #connectorNodeConfigComponent
                              formControlName="configuration"
                              [ruleNodeId]="ruleNodeId"
                              [ruleEntities]="ruleEntities"
                              [inputCustomobjects]="inputCustomobjects"
                              [inputProperties]="inputProperties"
                              [inputEntities]="inputEntities"
                              [allFields]="allFields"
                              [allConstants]=" allConstants"
                              [allSavedObjects]="allSavedObjects"
                              [allVariables]="allVariables"
                              [nodeDefinition]="nodeDefinitionValue"
                              [allValueObjectProperties]="allValueObjectProperties"
                              [fields]="connectorfields">
    </tb-connector-node-config>
  </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiRootNode'">
      <tb-root-node-config #rootNodeConfigComponent
                           formControlName="configuration"
                           [ruleNodeId]="ruleNodeId"
                           [nodeDefinition]="nodeDefinitionValue">
      </tb-root-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiPayloadNode'">
      <tb-payload-node-config #payloadNodeConfigComponent
                              formControlName="configuration"
                              [ruleNodeId]="ruleNodeId"
                              [nodeDefinition]="nodeDefinitionValue">
      </tb-payload-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiConstantNode'">
      <tb-constant-node-config #constantNodeConfigComponent
                               formControlName="configuration"
                               [ruleNodeId]="ruleNodeId"
                               [nodeDefinition]="nodeDefinitionValue">
      </tb-constant-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiEmailInitNode'">
      <tb-email-init-node-config #emailInitNodeConfigComponent
                                 formControlName="configuration"
                                 [ruleNodeId]="ruleNodeId"
                                 [nodeDefinition]="nodeDefinitionValue">
      </tb-email-init-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiEmailSendNode'">
      <tb-email-send-node-config #emailSendNodeConfigComponent
                                 formControlName="configuration"
                                 [ruleNodeId]="ruleNodeId"
                                 [allConstants]=" allConstants"
                                 [inputEntities]=" inputEntities"
                                 [inputCustomobjects]="inputCustomobjects"
                                 [allVariables]="allVariables"
                                 [inputProperties]="inputProperties"
                                 [apptype]="apptype"
                                 [allModelProperties]="allModelProperties"
                                 [nodeDefinition]="nodeDefinitionValue">
      </tb-email-send-node-config>
    </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiLambdaFunctionNode'">
    <tb-lambda-function-node-config #lambdaFunctionNodeConfigComponent
                               formControlName="configuration"
                               [ruleNodeId]="ruleNodeId"
                               [allConstants]=" allConstants"
                               [inputEntities]=" inputEntities"
                               [inputCustomobjects]="inputCustomobjects"
                               [allVariables]="allVariables"
                               [inputProperties]="inputProperties"
                               [apptype]="apptype"
                               [allModelProperties]="allModelProperties"
                               [nodeDefinition]="nodeDefinitionValue">
    </tb-lambda-function-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiValidatorNode'">
    <tb-validator-node-config #validatorNodeConfigComponent
                                    formControlName="configuration"
                                    [ruleNodeId]="ruleNodeId"
                                    [allConstants]=" allConstants"
                                    [inputEntities]=" inputEntities"
                                    [inputCustomobjects]="inputCustomobjects"
                                    [allVariables]="allVariables"
                                    [inputProperties]="inputProperties"
                                    [apptype]="apptype"
                                    [allModelProperties]="allModelProperties"
                                    [nodeDefinition]="nodeDefinitionValue">
    </tb-validator-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiSmsInitNode'">
    <tb-sms-init-node-config #smsInitNodeConfigComponent
                               formControlName="configuration"
                               [ruleNodeId]="ruleNodeId"
                               [nodeDefinition]="nodeDefinitionValue">
    </tb-sms-init-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiSmsSendNode'">
    <tb-sms-send-node-config #smsSendNodeConfigComponent
                               formControlName="configuration"
                               [ruleNodeId]="ruleNodeId"
                               [allConstants]=" allConstants"
                               [inputEntities]=" inputEntities"
                               [inputCustomobjects]="inputCustomobjects"
                               [allVariables]="allVariables"
                               [inputProperties]="inputProperties"
                               [apptype]="apptype"
                               [allModelProperties]="allModelProperties"
                               [nodeDefinition]="nodeDefinitionValue">
    </tb-sms-send-node-config>
  </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiFilterNode'">
      <tb-filter-node-config #filterNodeConfigComponent
                             formControlName="configuration"
                             [ruleNodeId]="ruleNodeId"
                             [allConstants]=" allConstants"
                             [inputEntities]=" inputEntities"
                             [inputCustomobjects]="inputCustomobjects"
                             [allVariables]="allVariables"
                             [inputProperties]="inputProperties"
                             [apptype]="apptype"
                             [allModelProperties]="allModelProperties"
                             [nodeDefinition]="nodeDefinitionValue">
      </tb-filter-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiCRUDNode'">
      <tb-crud-node-config #filterNodeConfigComponent
                           formControlName="configuration"
                           [ruleNodeId]="ruleNodeId"
                           [allConstants]=" allConstants"
                           [inputEntities]=" inputEntities"
                           [inputCustomobjects]="inputCustomobjects"
                           [allVariables]="allVariables"
                           [inputProperties]="inputProperties"
                           [queryDb]="queryDb"
                           [commandDb]="commandDb"
                           [apptype]="apptype"
                           [allModelProperties]="allModelProperties"
                           [nodeDefinition]="nodeDefinitionValue">
      </tb-crud-node-config>
    </ng-container>
    <ng-container *ngIf="nodeClazz === 'xiModelPropertyNode'">
      <tb-domain-model-variable-node-config #modelPropertyNodeConfigComponent
                           formControlName="configuration"
                           [ruleNodeId]="ruleNodeId"
                           [allDomainModels]=" allDomainModels"
                                            [allViewModels]="allViewModels"
                                            [allRuleInputs]="allRuleInputs"
                                            [allVariables]="allVariables"
                           [nodeDefinition]="nodeDefinitionValue">
      </tb-domain-model-variable-node-config>
    </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiEventPublisherNode'">
    <tb-event-publisher-node-config #eventPublisherNodeConfigComponent
                                          formControlName="configuration"
                                          [ruleNodeId]="ruleNodeId"
                                          [allEvents]="allEvents"
                                          [nodeDefinition]="nodeDefinitionValue">
    </tb-event-publisher-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiEventReceiverNode'">
    <tb-event-receiver-node-config #eventReceiverNodeConfigComponent
                                    formControlName="configuration"
                                    [ruleNodeId]="ruleNodeId"
                                    [allEvents]="allEvents"
                                    [nodeDefinition]="nodeDefinitionValue">
    </tb-event-receiver-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiEventStoreNode'">
    <tb-event-store-node-config #eventStoreNodeConfigComponent
                         formControlName="configuration"
                         [ruleNodeId]="ruleNodeId"
                         [allConstants]=" allConstants"
                         [inputEntities]=" inputEntities"
                         [inputCustomobjects]="inputCustomobjects"
                         [allVariables]="allVariables"
                         [inputProperties]="inputProperties"
                         [queryDb]="queryDb"
                         [commandDb]="commandDb"
                         [apptype]="apptype"
                         [allModelProperties]="allModelProperties"
                                [allEvents]="allEvents"
                         [nodeDefinition]="nodeDefinitionValue">
    </tb-event-store-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiQueryStoreNode'">
    <tb-query-store-node-config #queryStoreNodeConfigComponent
                         formControlName="configuration"
                         [ruleNodeId]="ruleNodeId"
                         [allConstants]=" allConstants"
                         [inputEntities]=" inputEntities"
                         [inputCustomobjects]="inputCustomobjects"
                         [allVariables]="allVariables"
                         [inputProperties]="inputProperties"
                         [queryDb]="queryDb"
                         [commandDb]="commandDb"
                         [apptype]="apptype"
                         [allModelProperties]="allModelProperties"
                         [nodeDefinition]="nodeDefinitionValue">
    </tb-query-store-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiShopifyInitNode'">
    <tb-shopify-init-node-config #shopifyInitNodeConfigComponent
                                formControlName="configuration"
                                [ruleNodeId]="ruleNodeId"
                                [nodeDefinition]="nodeDefinitionValue">
    </tb-shopify-init-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiShopifyEventNode'">
    <tb-shopify-event-node-config #shopifyEventNodeConfigComponent
                                formControlName="configuration"
                                [ruleNodeId]="ruleNodeId"
                                [inputEntities]=" inputEntities"
                                [inputCustomobjects]="inputCustomobjects"
                                [nodeDefinition]="nodeDefinitionValue">
    </tb-shopify-event-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiShopifyProductNode'">
    <tb-shopify-product-node-config #shopifyProductNodeConfigComponent
                                formControlName="configuration"
                                [ruleNodeId]="ruleNodeId"
                                [nodeDefinition]="nodeDefinitionValue">
    </tb-shopify-product-node-config>
  </ng-container>
  <ng-container *ngIf="nodeClazz === 'xiShopifyOrderNode'">
    <tb-shopify-order-node-config #shopifyOrderNodeConfigComponent
                                formControlName="configuration"
                                [ruleNodeId]="ruleNodeId"
                                [nodeDefinition]="nodeDefinitionValue">
    </tb-shopify-order-node-config>
  </ng-container>
</div>
