<!--<div class="mat-content" fxFlex virtuan-fullscreen [fullscreen]="isFullscreen" virtuan-hotkeys
     fxLayout="column" class="virtuan-rulechain">
    <div>
        <div *ngIf="ruleChainLoaded && ruleChainMetaDataLoaded && ruleNodeComponentsLoaded && connectionPropertyTemplatesLoaded">
            <virtuan-rulechain-page [ruleChain]="ruleChain"
                                    [ruleChainMetaData]="ruleChainMetaData"
                                    [connectionPropertyTemplates]="connectionPropertyTemplates"
                                    [username]="username"
                                    [uid]="projectUid"
                                    [ruleNodeComponents]="ruleNodeComponents"></virtuan-rulechain-page>
            &lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;
        </div>
    </div>

</div>-->

<div style="height: 90vh;">
    <div style="width: 100%; height: 92vh; background: #ffffff;">

        <as-split direction="horizontal">
            <!--<as-split-area [size]="15">TOP</as-split-area>-->
            <as-split-area [size]="81">
                <as-split direction="vertical">
                    <as-split-area [size]="65" style="overflow: auto">

                        <!-- <router-outlet></router-outlet>-->
                        <virtuan-design-editor-new *ngIf="loadDesignRequirement" [requirementUid]="requirementUid" [desprojectUid]="desprojectUid"></virtuan-design-editor-new>
                        <virtuan-microservice-model *ngIf="loadModelView" [projectUid]="projectUid" [modelUid]="modelUid"></virtuan-microservice-model>
                        <virtuan-lamdafunction-editor *ngIf="loadFunctionEditor" [projectUid]="projectUid" [lamdafunctionUuid]="lambdauid"></virtuan-lamdafunction-editor>
                        <virtuan-rulechain-page  *ngIf="ruleChainLoaded && ruleChainMetaDataLoaded && ruleNodeComponentsLoaded && connectionPropertyTemplatesLoaded" [ruleChain]="ruleChain"
                                                 [ruleChainMetaData]="ruleChainMetaData"
                                                 [connectionPropertyTemplates]="connectionPropertyTemplates"
                                                 [username]="username"
                                                 [uid]="projectUid"
                                                 [ruleNodeComponents]="ruleNodeComponents"></virtuan-rulechain-page>

                        <virtuan-single-page-view *ngIf="loadPageEditor" [projectUid]="projectUid" [pageId]="pageId" ></virtuan-single-page-view>

                    </as-split-area>
                    <as-split-area [size]="35">
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="Console">
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <div style="min-height: 40px;margin: 5px;">
                                            <button mat-raised-button color="primary" type="button" style="float:right;" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions" [(ngModel)]="code" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Git">
                                <ng-template matTabContent>
                                    Debugger
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Run">
                                <ng-template matTabContent>
                                    Run
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>

                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area [size]="19">
                <div>
                    <ul class="nav nav-tabs right-tabs sideways-tabs" role="tablist" style="position: fixed; background-color: lightgrey; margin-top: 0; padding-top: 55px">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" (click)="currentTab = 'design'" data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'design'}" type="button" role="tab"  aria-selected="false">Design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" (click)="currentTab = 'service'"  data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'service'}" type="button" role="tab" aria-selected="true">Service</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" (click)="currentTab = 'portal'" data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'portal'}" type="button" role="tab"  aria-selected="false">UI</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade size-limit" [ngClass]="{'show active': currentTab == 'design'}" role="tabpanel"
                             aria-labelledby="home-tab">
                            <mat-tree [dataSource]="designdataSource" [treeControl]="treeControl" style="margin-top: 25px;">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="cursor: pointer" (click)="viewComponent(node.data)" >
                                    <button mat-icon-button disabled></button>
                                    <mat-icon class="mat-icon-rtl-mirror" color="primary">
                                        {{node.data.isParent ? 'folder' : 'description'}}
                                    </mat-icon>
                                    <!--                                            <mat-icon class="mat-icon-rtl-mirror" color="primary" >-->
                                    <!--                                                description-->
                                    <!--                                            </mat-icon>-->
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>

                                    <!--<button *ngIf="!node.data.isParent" (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ item: node.data }"
                                            [matMenuTriggerFor]="actionsMenu"
                                            mat-icon-button
                                            type="button">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>-->
                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent && node.data.type == 'PARENT_REQUIREMENT'"  (click)="add(node.data)" ><mat-icon>add</mat-icon></button>
                                </mat-tree-node>
                                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
                                    <button mat-icon-button
                                            [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                        <mat-icon class="mat-icon-rtl-mirror" color="primary">
                                            {{ treeControl.isExpanded(node) ?  "folder_open" :"folder"  }}
                                        </mat-icon>
                                    </button>
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>
                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent && node.data.type == 'PARENT_REQUIREMENT'"  (click)="add(node.data)" ><mat-icon>add</mat-icon></button>

                                </mat-tree-node>
                            </mat-tree>
                        </div>
                        <div class="tab-pane fade size-limit" [ngClass]="{'show active': currentTab == 'service'}" role="tabpanel"
                             aria-labelledby="profile-tab">
                            <button mat-icon-button  class="top-node" style="float: right" (click)="add('PARENT_SERVICE')"><mat-icon >add</mat-icon></button>
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="margin-top: 25px;">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectActiveNode(node)" [ngClass]="{ 'background-highlight': activeNode === node }" style="cursor: pointer">
                                    <button mat-icon-button disabled></button>
                                    <mat-icon class="mat-icon-rtl-mirror" color="primary" [ngClass]="{ 'background-highlight': activeNode === node }">
                                        {{node.data.isParent ? 'folder' : 'description'}}
                                    </mat-icon>
                                    <!--                                            <mat-icon class="mat-icon-rtl-mirror" color="primary" >-->
                                    <!--                                                description-->
                                    <!--                                            </mat-icon>-->
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>

                                    <button *ngIf="!node.data.isParent" (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ item: node.data }"
                                            [matMenuTriggerFor]="actionsMenu"
                                            mat-icon-button
                                            type="button">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent && node.data.type != 'PARENT_MAIN_TASK' && node.data.type != 'PARENT_SERVICE' "  (click)="add(node.data)" [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>add</mat-icon></button>
                                </mat-tree-node>
                                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
                                    <button mat-icon-button
                                            [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                        <mat-icon class="mat-icon-rtl-mirror" color="primary">
                                            {{ treeControl.isExpanded(node) ?  "folder_open" :"folder"  }}
                                        </mat-icon>
                                    </button>
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>


                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent && node.data.type != 'PARENT_MAIN_TASK' && node.data.type != 'PARENT_SERVICE' "  (click)="add(node.data)" [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon >add</mat-icon></button>
                                    <mat-progress-bar *ngIf="node.isLoading"
                                                      mode="indeterminate"
                                                      class="example-tree-progress-bar"></mat-progress-bar>

                                </mat-tree-node>
                            </mat-tree>
                        </div>
                        <div class="tab-pane fade size-limit" [ngClass]="{'show active': currentTab == 'portal'}" role="tabpanel"
                             aria-labelledby="contact-tab">
                            <mat-tree [dataSource]="uiTreeDaSource" [treeControl]="treeControl" style="margin-top: 25px;">
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectActiveNode(node)" [ngClass]="{ 'background-highlight': activeNode === node }" style="cursor: pointer">
                                    <button mat-icon-button disabled></button>
                                    <mat-icon class="mat-icon-rtl-mirror" color="primary" [ngClass]="{ 'background-highlight': activeNode === node }">
                                        {{node.data.isParent ? 'folder' : 'description'}}
                                    </mat-icon>
                                    <!--                                            <mat-icon class="mat-icon-rtl-mirror" color="primary" >-->
                                    <!--                                                description-->
                                    <!--                                            </mat-icon>-->
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>

                                    <button *ngIf="!node.data.isParent" (click)="$event.stopPropagation()"
                                            [matMenuTriggerData]="{ item: node.data }"
                                            [matMenuTriggerFor]="actionsMenu"
                                            mat-icon-button
                                            type="button">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent"  (click)="add(node.data)" [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>add</mat-icon></button>
                                </mat-tree-node>
                                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding >
                                    <button mat-icon-button
                                            [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                        <mat-icon class="mat-icon-rtl-mirror" color="primary">
                                            {{ treeControl.isExpanded(node) ?  "folder_open" :"folder"  }}
                                        </mat-icon>
                                    </button>
                                    <div style="margin-left: 15px">
                                        {{node.name}}
                                    </div>


                                    <button mat-icon-button  class="top-node" *ngIf="node.data.isParent"  (click)="add(node.data)" [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon >add</mat-icon></button>
                                    <mat-progress-bar *ngIf="node.isLoading"
                                                      mode="indeterminate"
                                                      class="example-tree-progress-bar"></mat-progress-bar>

                                </mat-tree-node>
                            </mat-tree>
                        </div>
                    </div>
                </div>
            </as-split-area>
        </as-split>
    </div>


    <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
        <ng-template let-item="item" matMenuContent>
            <button *ngIf="item.type !== 'HYBRID' && item.type !== 'EVENT'" (click)="viewComponent(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icEdit"></mat-icon>-->
                <span>View</span>
            </button>
            <button *ngIf="item.type !== 'MAIN_TASK'" (click)="edit(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icDelete"></mat-icon>-->
                <span>Edit</span>
            </button>
            <button *ngIf="item.type !== 'MAIN_TASK'" (click)="delete(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icDelete"></mat-icon>-->
                <span>Delete</span>
            </button>
        </ng-template>
    </mat-menu>
</div>
