table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.title-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 25px;
  padding: 0.2%;
}

body .ui-multiselect .ui-multiselect-label {
  padding: 0.429em;
  padding-right: 2em;
  color: #333333;
  width: 700px;
}

body .ui-multiselect {
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid #8f8e8e;
}

.pi-chevron-down:before {
  content: "\e902";
  display: none;
}

thead{
  background-color: #00948500;
}