<div [formGroup]="filterNodeConfigFormGroup">

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>First Input</mat-label>
        <mat-select formControlName="firstinputType" (selectionChange)="refreshInputTypes()">
          <!--<mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
          <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>-->
          <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
          <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>

      <!--<mat-form-field *ngIf="configuration.firstinputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Model</mat-label>
        <mat-select formControlName="entity">
          <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.firstinputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>DTO</mat-label>
        <mat-select formControlName="customObject">
          <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->

      <mat-form-field *ngIf="configuration.firstinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="param">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="constant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="property">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="branchparam">
            <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
              {{param.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<mat-form-field *ngIf="configuration.firstinputType === 'VARIABLE'" fxFlex class="mat-block">
        <mat-label>Variable</mat-label>
        <mat-select formControlName="variable">
          <mat-option *ngFor="let variable of allVariables" [value]="variable">
            {{variable.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->

    </section>

    <!--<section class="mat-block" fxFlex>

      <mat-form-field *ngIf="configuration.firstinputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="entityProperty">
          <mat-option *ngFor="let property of selectedEntityProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="customObjectProperty">
          <mat-option *ngFor="let property of selectedCustomObjectProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="configuration.firstinputType === 'VARIABLE'">
        &lt;!&ndash;<mat-form-field *ngIf="configuration?.variable.type != 'String' || configuration?.variable.type != 'Integer' || configuration?.variable.type != 'Boolean' || configuration?.variable.type != 'Date' || configuration?.variable.type != 'Image' || configuration?.variable.type != 'File'" class="mat-block">&ndash;&gt;
          <mat-form-field *ngIf="configuration?.variable?.pkg === 'model' || configuration?.variable?.pkg === 'dto'" fxFlex class="mat-block">
          <mat-label>Property</mat-label>
          <mat-select formControlName="variableProperty">
            <mat-option *ngFor="let property of selectedVariableProperties" [value]="property">
              {{property.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </section>-->

  </section>

  <section class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Condition</mat-label>
      <mat-select formControlName="condition">
        <mat-option value="equal" *ngIf="configuration.param.inputType !== 'TRUE_OR_FALSE' && configuration.param.inputType !== 'Boolean' && configuration.param.inputType !== 'bool' &&
                                !(configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Boolean') &&
                                    configuration.constant.constantType !== 'Boolean' && configuration.constant.constantType !== 'TRUE_OR_FALSE' && configuration.constant.constantType !== 'bool' &&
                                    configuration.property.type !== 'Boolean' && configuration.property.type !== 'TRUE_OR_FALSE' && configuration.property.type !== 'bool'">Equal</mat-option>

        <mat-option value="notequal" *ngIf="configuration.param.inputType !== 'TRUE_OR_FALSE' && configuration.param.inputType !== 'Boolean' && configuration.param.inputType !== 'bool' &&
                                !(configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Boolean') &&
                                    configuration.constant.constantType !== 'Boolean' && configuration.constant.constantType !== 'TRUE_OR_FALSE' && configuration.constant.constantType !== 'bool' &&
                                    configuration.property.type !== 'Boolean' && configuration.property.type !== 'TRUE_OR_FALSE' && configuration.property.type !== 'bool'">Not Equal</mat-option>

        <mat-option value="istrue" *ngIf="configuration.param.inputType == 'TRUE_OR_FALSE' || configuration.param.inputType == 'Boolean' || configuration.param.inputType == 'bool' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Boolean') ||
                                    configuration.constant.constantType == 'Boolean' || configuration.constant.constantType == 'TRUE_OR_FALSE' || configuration.constant.constantType == 'bool' ||
                                    configuration.property.type == 'Boolean' || configuration.property.type == 'TRUE_OR_FALSE' || configuration.property.type == 'bool'">Is True</mat-option>
        <mat-option value="isfalse" *ngIf="configuration.param.inputType == 'TRUE_OR_FALSE' || configuration.param.inputType == 'Boolean' || configuration.param.inputType == 'bool' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Boolean') ||
                                    configuration.constant.constantType == 'Boolean' || configuration.constant.constantType == 'TRUE_OR_FALSE' || configuration.constant.constantType == 'bool' ||
                                    configuration.property.type == 'Boolean' || configuration.property.type == 'TRUE_OR_FALSE' || configuration.property.type == 'bool'">Is False</mat-option>


        <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                           configuration.param.inputType == 'FLOAT' || configuration.param.inputType == 'Float' || configuration.param.inputType == 'float64' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Integer') ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Float') ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.constant.constantType == 'Float' || configuration.constant.constantType == 'FLOAT' || configuration.constant.constantType == 'float64' ||
                                    configuration.property.type == 'Integer' || configuration.property.type == 'NUMBER' || configuration.property.type == 'int' ||
                                    configuration.property.type == 'Float' || configuration.property.type == 'FLOAT' || configuration.property.type == 'float64'" value="greaterthan">Greater Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                           configuration.param.inputType == 'FLOAT' || configuration.param.inputType == 'Float' || configuration.param.inputType == 'float64' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Integer') ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Float') ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.constant.constantType == 'Float' || configuration.constant.constantType == 'FLOAT' || configuration.constant.constantType == 'float64' ||
                                    configuration.property.type == 'Integer' || configuration.property.type == 'NUMBER' || configuration.property.type == 'int' ||
                                    configuration.property.type == 'Float' || configuration.property.type == 'FLOAT' || configuration.property.type == 'float64'" value="lessthan">Less Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' || configuration.param.inputType == 'time.Time' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Date') ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' || configuration.constant.constantType == 'time.Time' ||
                                    configuration.property.type == 'Date' || configuration.property.type == 'DATE' || configuration.property.type == 'time.Time'" value="before">Before</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' || configuration.param.inputType == 'time.Time' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Date') ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' || configuration.constant.constantType == 'time.Time' ||
                                    configuration.property.type == 'Date' || configuration.property.type == 'DATE' || configuration.property.type == 'time.Time'" value="after">After</mat-option>
       <!-- <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.variable.type == 'Integer' || configuration.variable.type == 'NUMBER' || configuration.variable.type == 'int' ||
                                    configuration.entityProperty.type == 'Integer' || configuration.entityProperty.type == 'NUMBER' || configuration.entityProperty.type == 'int' ||
                                    configuration.customObjectProperty.type == 'Integer' || configuration.customObjectProperty.type == 'NUMBER' || configuration.customObjectProperty.type == 'int' ||
                                    configuration.variableProperty.type == 'Integer' || configuration.variableProperty.type == 'NUMBER' || configuration.variableProperty.type == 'int'" value="greaterthan">Greater Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.variable.type == 'Integer' || configuration.variable.type == 'NUMBER' || configuration.variable.type == 'int' ||
                                    configuration.entityProperty.type == 'Integer' || configuration.entityProperty.type == 'NUMBER' || configuration.entityProperty.type == 'int' ||
                                    configuration.customObjectProperty.type == 'Integer' || configuration.customObjectProperty.type == 'NUMBER' || configuration.customObjectProperty.type == 'int' ||
                                    configuration.variableProperty.type == 'Integer' || configuration.variableProperty.type == 'NUMBER' || configuration.variableProperty.type == 'int'" value="lessthan">Less Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' ||
                                    configuration.variable.type == 'Date' || configuration.variable.type == 'DATE' ||
                                    configuration.entityProperty.type == 'Date' || configuration.entityProperty.type == 'DATE' ||
                                    configuration.customObjectProperty.type == 'Date' || configuration.customObjectProperty.type == 'DATE' ||
                                    configuration.variableProperty.type == 'Date' || configuration.variableProperty.type == 'DATE'" value="before">Before</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' ||
                                    configuration.variable.type == 'Date' || configuration.variable.type == 'DATE' ||
                                    configuration.entityProperty.type == 'Date' || configuration.entityProperty.type == 'DATE' ||
                                    configuration.customObjectProperty.type == 'Date' || configuration.customObjectProperty.type == 'DATE' ||
                                    configuration.variableProperty.type == 'Date' || configuration.variableProperty.type == 'DATE'" value="after">After</mat-option>-->

      </mat-select>
    </mat-form-field>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Second Input</mat-label>
        <mat-select formControlName="secondinputType" (selectionChange)="refreshSecondInputTypes()">
          <!--<mat-option *ngIf="inputEntities?.length" value="MODEL">Model</mat-option>
          <mat-option *ngIf="inputCustomobjects?.length" value="DTO">DTO</mat-option>-->
          <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
          <!--<mat-option *ngIf="allVariables?.length" value="VARIABLE">Variable</mat-option>-->
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>

      <!--<mat-form-field *ngIf="configuration.secondinputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Model</mat-label>
        <mat-select formControlName="secondentity">
          <mat-option *ngFor="let nodeEntity of inputEntities" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.secondinputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>DTO</mat-label>
        <mat-select formControlName="secondcustomObject">
          <mat-option *ngFor="let nodeEntity of inputCustomobjects" [value]="nodeEntity">
            {{nodeEntity.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->

      <mat-form-field *ngIf="configuration.secondinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="secondparam">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            {{property.inputName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.secondinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="secondconstant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.secondinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="secondproperty">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.secondinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="secondbranchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<mat-form-field *ngIf="configuration.secondinputType === 'VARIABLE'" fxFlex class="mat-block">
        <mat-label>Variable</mat-label>
        <mat-select formControlName="secondvariable">
          <mat-option *ngFor="let variable of allVariables" [value]="variable">
            {{variable.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->

    </section>

    <!--<section class="mat-block" fxFlex>

      <mat-form-field *ngIf="configuration.secondinputType === 'MODEL'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="secondentityProperty">
          <mat-option *ngFor="let property of selectedSecondEntityProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.secondinputType === 'DTO'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="secondcustomObjectProperty">
          <mat-option *ngFor="let property of selectedSecondCustomObjectProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="configuration.secondinputType === 'VARIABLE'">
        &lt;!&ndash;<mat-form-field *ngIf="configuration?.variable.type != 'String' || configuration?.variable.type != 'Integer' || configuration?.variable.type != 'Boolean' || configuration?.variable.type != 'Date' || configuration?.variable.type != 'Image' || configuration?.variable.type != 'File'" class="mat-block">&ndash;&gt;
        <mat-form-field *ngIf="configuration?.secondvariable?.pkg === 'model' || configuration?.secondvariable?.pkg === 'dto'" fxFlex class="mat-block">
          <mat-label>Property</mat-label>
          <mat-select formControlName="secondvariableProperty">
            <mat-option *ngFor="let property of selectedSecondVariableProperties" [value]="property">
              {{property.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </section>-->

  </section>
  <!--<section fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>First Branch</mat-label>
      <mat-select formControlName="root">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isAsync">
      Non Blocking
    </mat-checkbox>
  </section>
  <section fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Second Branch</mat-label>
      <mat-select formControlName="secondroot">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="secondisAsync">
      Non Blocking
    </mat-checkbox>
  </section>-->
<!--
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>-->
</div>

