<div [formGroup]="switchNodeConfigFormGroup">

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Target Input Type</mat-label>
        <mat-select formControlName="firstinputType" (selectionChange)="refreshInputTypes()">
          <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>

      <mat-form-field *ngIf="configuration.firstinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="param">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            <span *ngIf="property?.paramName">{{property.paramName}}</span>
            <span *ngIf="!property?.paramName">{{property.inputName}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="constant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.firstinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="property">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.firstinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="branchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

   </section>

  <section style="padding-top: 10px;padding-bottom: 10px;">
    <label>Add Switch Cases</label>
  </section>

  <section class="mat-block" fxFlex>
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Condition</mat-label>
      <mat-select formControlName="switchCondition">
        <mat-option value="equal">Equal</mat-option>
        <mat-option value="notequal">Not Equal</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                           configuration.param.inputType == 'FLOAT' || configuration.param.inputType == 'Float' || configuration.param.inputType == 'float64' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Integer') ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Float') ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.constant.constantType == 'Float' || configuration.constant.constantType == 'FLOAT' || configuration.constant.constantType == 'float64' ||
                                    configuration.property.type == 'Integer' || configuration.property.type == 'NUMBER' || configuration.property.type == 'int' ||
                                    configuration.property.type == 'Float' || configuration.property.type == 'FLOAT' || configuration.property.type == 'float64'" value="greaterthan">Greater Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'NUMBER' || configuration.param.inputType == 'Integer' || configuration.param.inputType == 'int' ||
                           configuration.param.inputType == 'FLOAT' || configuration.param.inputType == 'Float' || configuration.param.inputType == 'float64' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Integer') ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Float') ||
                                    configuration.constant.constantType == 'Integer' || configuration.constant.constantType == 'NUMBER' || configuration.constant.constantType == 'int' ||
                                    configuration.constant.constantType == 'Float' || configuration.constant.constantType == 'FLOAT' || configuration.constant.constantType == 'float64' ||
                                    configuration.property.type == 'Integer' || configuration.property.type == 'NUMBER' || configuration.property.type == 'int' ||
                                    configuration.property.type == 'Float' || configuration.property.type == 'FLOAT' || configuration.property.type == 'float64'" value="lessthan">Less Than</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' || configuration.param.inputType == 'time.Time' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Date') ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' || configuration.constant.constantType == 'time.Time' ||
                                    configuration.property.type == 'Date' || configuration.property.type == 'DATE' || configuration.property.type == 'time.Time'" value="before">Before</mat-option>
        <mat-option *ngIf="configuration.param.inputType == 'DATE' || configuration.param.inputType == 'Date' || configuration.param.inputType == 'time.Time' ||
                                (configuration?.branchparam?.inputType == 'PRIMITIVE' && configuration?.branchparam?.input == 'Date') ||
                                    configuration.constant.constantType == 'Date' || configuration.constant.constantType == 'DATE' || configuration.constant.constantType == 'time.Time' ||
                                    configuration.property.type == 'Date' || configuration.property.type == 'DATE' || configuration.property.type == 'time.Time'" value="after">After</mat-option>

      </mat-select>
    </mat-form-field>
  </section>

  <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
    <section class="mat-block" fxFlex>
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Second Input</mat-label>
        <mat-select formControlName="switchSecondinputType" (selectionChange)="refreshSecondInputTypes()">
          <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
          <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>
          <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
          <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="mat-block" fxFlex>

      <mat-form-field *ngIf="configuration.switchSecondinputType === 'RULE_INPUT'" fxFlex class="mat-block">
        <mat-label>Rule Input</mat-label>
        <mat-select formControlName="switchsecondparam">
          <mat-option *ngFor="let property of allRuleInputs" [value]="property">
            <span *ngIf="property?.paramName">{{property.paramName}}</span>
            <span *ngIf="!property?.paramName">{{property.inputName}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.switchSecondinputType === 'CONSTANT'" fxFlex class="mat-block">
        <mat-label>Constant</mat-label>
        <mat-select formControlName="switchsecondconstant">
          <mat-option *ngFor="let constant of allConstants" [value]="constant">
            {{constant.constantName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="configuration.switchSecondinputType === 'PROPERTY'" fxFlex class="mat-block">
        <mat-label>Property</mat-label>
        <mat-select formControlName="switchsecondproperty">
          <mat-option *ngFor="let property of allModelProperties" [value]="property">
            {{property.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="configuration.switchSecondinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
        <mat-label>Branch Param</mat-label>
        <mat-select formControlName="switchsecondbranchparam">
          <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
            {{param.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>
  </section>

  <!--<section fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="switchroot">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="switchisAsync">
      Non Blocking
    </mat-checkbox>
  </section>-->


  <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="virtuan-fullscreen-button-style"
            (click)="addSwitchCase()"
            matTooltip="Add Switch Case"
            matTooltipPosition="above">
      <mat-icon color="primary">add</mat-icon>
    </button>
  </div>

  <div fxFlex class="table-container" style="padding: 10px;margin-bottom:15px;">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Case </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef> Condition </th>
        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
      </ng-container>

      <ng-container matColumnDef="inputType">
        <th mat-header-cell *matHeaderCellDef> Input Type </th>
        <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
      </ng-container>

      <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef> Input </th>
        <td mat-cell *matCellDef="let element"> {{element.input}} </td>
      </ng-container>

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef> Property </th>
        <td mat-cell *matCellDef="let element"> {{element.property}} </td>
      </ng-container>

      <!--<ng-container matColumnDef="root">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let element"> {{element.root}} </td>
      </ng-container>
      <ng-container matColumnDef="isAsync">
        <th mat-header-cell *matHeaderCellDef> Non-Blocking </th>
        <td mat-cell *matCellDef="let element"> {{element.isAsync}} </td>
      </ng-container>-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <button mat-icon-button class="virtuan-mat-32" (click)="deleteRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
            <mat-icon style="color:red;">delete</mat-icon>
          </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!--<section>
    <mat-checkbox formControlName="defaultEnabled">
      Enable Default
    </mat-checkbox>
  </section>-->
  <!--<section *ngIf="configuration.defaultEnabled" fxLayout="column" fxLayout.gt-sm="row">
    <mat-form-field fxFlex class="mat-block">
      <mat-label>Default Branch</mat-label>
      <mat-select formControlName="defaultroot">
        <mat-option *ngFor="let root of allRoots" [value]="root">
          {{root}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="defaultisAsync">
      Non Blocking
    </mat-checkbox>
  </section>-->

<!--  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Message</mat-label>
    <input matInput formControlName="errorMsg"/>
  </mat-form-field>
  <mat-form-field fxFlex class="mat-block">
    <mat-label>Error Action</mat-label>
    <mat-select formControlName="errorAction">
      <mat-option value="1">Log & Continue</mat-option>
      <mat-option value="2">Log & Exit</mat-option>
      <mat-option value="3">Return</mat-option>
    </mat-select>
  </mat-form-field>-->
</div>

