<div [formGroup]="msgSubTaskNodeConfigFormGroup">

    <mat-form-field class="mat-block" >
        <mat-label>Event</mat-label>
        <mat-select formControlName="selectedEvent" (selectionChange)="onEventObjChange()" required>
            <mat-option *ngFor="let option of eventItems" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-block">
        <mat-label>Subject</mat-label>
        <input type="text" formControlName="subject" matInput name="subject" id="field_subject" required>
    </mat-form-field>

</div>

