<div [formGroup]="excelReadNodeConfigFormGroup">


        <mat-form-field fxFlex class="mat-block">
            <mat-label>Input Type</mat-label>
            <mat-select formControlName="excelFileInputType">
                <mat-option value="FILE_UPLOAD">File Upload</mat-option>
                <mat-option value="REMOTE_PATH">Remote File Path</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="configuration.excelFileInputType === 'REMOTE_PATH'" fxFlex class="mat-block">
            <mat-label>URL</mat-label>
            <input matInput formControlName="url"/>
        </mat-form-field>



    <section *ngIf="configuration.excelFileInputType === 'FILE_UPLOAD'" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>File Path Property Type</mat-label>
                <mat-select formControlName="propertyinputType" (selectionChange)="refreshInputTypes()">
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
                    <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.propertyinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>File Path Property</mat-label>
                <mat-select formControlName="propertyproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.propertyinputType === 'REFERENCE'" fxFlex class="mat-block">
                <mat-label>Reference Property</mat-label>
                <mat-select formControlName="propertyreference">
                    <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </section>

    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Sheet Name</mat-label>
            <input matInput formControlName="sheetName"/>
        </mat-form-field>

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Excel Input Type</mat-label>
            <mat-select formControlName="excelinputType">
                <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
                <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
<!--                <mat-option *ngIf="allConstants?.length" value="CONSTANT">Constant</mat-option>-->
<!--                <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>-->
                <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
            </mat-select>
        </mat-form-field>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.excelinputType === 'RULE_INPUT'" fxFlex class="mat-block">
                <mat-label>Rule Input</mat-label>
                <mat-select formControlName="excelparam">
                    <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                        {{property.inputName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.excelinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>Property</mat-label>
                <mat-select formControlName="excelproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.excelinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                <mat-label>Branch Param</mat-label>
                <mat-select formControlName="excelbranch">
                    <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                        {{param.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.excelinputType === 'CONSTANT'" fxFlex class="mat-block">
                <mat-label>Constant</mat-label>
                <mat-select formControlName="excelconstant">
                    <mat-option *ngFor="let constant of allConstants" [value]="constant">
                        {{constant.constantName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.excelinputType === 'REFERENCE'" fxFlex class="mat-block">
                <mat-label>Reference Property</mat-label>
                <mat-select formControlName="excelreference">
                    <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </section>

    <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Column Name</mat-label>
            <input matInput formControlName="colName"/>
        </mat-form-field>
        <mat-form-field fxFlex class="mat-block">
            <mat-label>Property</mat-label>
            <mat-select formControlName="childrenParam">
                <mat-option *ngFor="let property of ChildrenOfSelectedProperty" [value]="property">
                    {{property.childName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-icon-button class="virtuan-fullscreen-button-style"
                (click)="addParameter()"
                matTooltip="Add Parameter"
                matTooltipPosition="above">
            <mat-icon color="primary">add</mat-icon>
        </button>
    </section>

    <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

            <ng-container matColumnDef="colName">
                <th mat-header-cell *matHeaderCellDef> Column Name </th>
                <td mat-cell *matCellDef="let element"> {{element.colName}} </td>
            </ng-container>

            <ng-container matColumnDef="inputType">
                <th mat-header-cell *matHeaderCellDef> Input Type </th>
                <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef> Input </th>
                <td mat-cell *matCellDef="let element"> {{element.input}} </td>
            </ng-container>

            <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef> Property </th>
                <td mat-cell *matCellDef="let element"> {{element.property}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-icon-button class="virtuan-mat-32" (click)="deleteRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
                        <mat-icon style="color:red;">delete</mat-icon>
                    </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-checkbox formControlName="isReturn">
        Return Saved Result
    </mat-checkbox>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Message</mat-label>
        <input matInput formControlName="errorMsg"/>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Action</mat-label>
        <mat-select formControlName="errorAction">
            <mat-option value="1">Log & Continue</mat-option>
            <mat-option value="2">Log & Exit</mat-option>
            <mat-option value="3">Return</mat-option>
            <mat-option value="4">Call an Error Branch</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="configuration.errorAction == '4'">
        <br>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
          Error Branch Details
        </mat-panel-title>
                <mat-panel-description>
                    Call an error branch if error occured
                </mat-panel-description>
            </mat-expansion-panel-header>

            <section fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex class="mat-block">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="errorBranch">
            <mat-option *ngFor="let root of allErrorBranches" [value]="root">
              {{root.name}}
            </mat-option>
          </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="errorIsAsync">
                    Non Blocking
                </mat-checkbox>
            </section>

            <section fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
                <mat-form-field fxFlex class="mat-block">
                    <mat-label>Branch parameter</mat-label>
                    <mat-select formControlName="errorBranchparameter">
            <ng-container *ngFor="let param of configuration?.errorBranch?.params">
              <mat-option *ngIf="param.name !== '_error'" [value]="param">
                {{param.name}} - {{param.input}}
              </mat-option>
            </ng-container>
          </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex class="mat-block">
                    <mat-label>Error Parameter Input Type</mat-label>
                    <mat-select formControlName="errorParameterinputType" (selectionChange)="refreshErrorParameterInputTypes()">
                        <mat-option *ngIf="!branchAvailability?.branchFound && allRuleInputs?.length" value="RULE_INPUT">Rule Input</mat-option>
                        <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Property</mat-option>
                        <mat-option *ngIf="branchAvailability?.branchFound && branchAvailability?.branchParams?.length" value="BRANCH_PARAM">Branch Param</mat-option>
                    </mat-select>
                </mat-form-field>
                <section class="mat-block" fxFlex>
                    <mat-form-field *ngIf="configuration.errorParameterinputType === 'RULE_INPUT'" fxFlex class="mat-block">
                        <mat-label>Rule Input</mat-label>
                        <mat-select formControlName="errorParameterparam">
                            <mat-option *ngFor="let property of allRuleInputs" [value]="property">
                                {{property.inputName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="configuration.errorParameterinputType === 'PROPERTY'" fxFlex class="mat-block">
                        <mat-label>Property</mat-label>
                        <mat-select formControlName="errorParameterproperty">
                            <mat-option *ngFor="let property of allModelProperties" [value]="property">
                                {{property.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="configuration.errorParameterinputType === 'BRANCH_PARAM'" fxFlex class="mat-block">
                        <mat-label>Branch Param</mat-label>
                        <mat-select formControlName="errorParameterbranchparam">
                            <mat-option *ngFor="let param of branchAvailability?.branchParams" [value]="param">
                                {{param.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
                <button mat-icon-button class="virtuan-fullscreen-button-style"
                        (click)="addErrorParameter()"
                        matTooltip="Add Parameter"
                        matTooltipPosition="above">
                    <mat-icon color="primary">add</mat-icon>
                </button>
            </section>

            <div fxFlex class="table-container" style="padding: 10px;margin-bottom:10px;">
                <table mat-table [dataSource]="errordatasource" class="mat-elevation-z8">

                    <ng-container matColumnDef="parameterName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.parameterName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inputType">
                        <th mat-header-cell *matHeaderCellDef> Input Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="input">
                        <th mat-header-cell *matHeaderCellDef> Input </th>
                        <td mat-cell *matCellDef="let element"> {{element.input}} </td>
                    </ng-container>

                    <ng-container matColumnDef="property">
                        <th mat-header-cell *matHeaderCellDef> Property </th>
                        <td mat-cell *matCellDef="let element"> {{element.property}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element;let i = index">
                            <button mat-icon-button class="virtuan-mat-32" (click)="deleteErrorRow(i)" matTooltip="Delete Parameter" matTooltipPosition="above">
                                <mat-icon style="color:red;">delete</mat-icon>
                            </button></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayErroredColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayErroredColumns;"></tr>
                </table>
            </div>


        </mat-expansion-panel>
    </div>

</div>
