<div [formGroup]="excelCopyNodeConfigFormGroup">


    <mat-form-field fxFlex class="mat-block">
        <mat-label>Input Type</mat-label>
        <mat-select formControlName="excelFileInputType">
            <mat-option value="FILE_UPLOAD">File Upload</mat-option>
            <mat-option value="REMOTE_PATH">Remote File Path</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="configuration.excelFileInputType === 'REMOTE_PATH'" fxFlex class="mat-block">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url"/>
    </mat-form-field>

    <section *ngIf="configuration.excelFileInputType === 'FILE_UPLOAD'" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="padding: 10px;">
        <section class="mat-block" fxFlex>
            <mat-form-field fxFlex class="mat-block">
                <mat-label>File Path Property Type</mat-label>
                <mat-select formControlName="propertyinputType" (selectionChange)="refreshInputTypes()">
                    <mat-option *ngIf="allModelProperties?.length" value="PROPERTY">Value Property</mat-option>
                    <mat-option *ngIf="allReferenceProperties?.length" value="REFERENCE">Reference Property</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="mat-block" fxFlex>
            <mat-form-field *ngIf="configuration.propertyinputType === 'PROPERTY'" fxFlex class="mat-block">
                <mat-label>File Path Property</mat-label>
                <mat-select formControlName="propertyproperty">
                    <mat-option *ngFor="let property of allModelProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="configuration.propertyinputType === 'REFERENCE'" fxFlex class="mat-block">
                <mat-label>Reference Property</mat-label>
                <mat-select formControlName="propertyreference">
                    <mat-option *ngFor="let property of allReferenceProperties" [value]="property">
                        {{property.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </section>

        <mat-form-field fxFlex class="mat-block">
            <mat-label>Source Sheet Name</mat-label>
            <input matInput formControlName="sourcesheetName"/>
        </mat-form-field>

    <mat-form-field fxFlex class="mat-block">
        <mat-label>New Sheet Name</mat-label>
        <input matInput formControlName="newsheetName"/>
    </mat-form-field>

    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Message</mat-label>
        <input matInput formControlName="errorMsg"/>
    </mat-form-field>
    <mat-form-field fxFlex class="mat-block">
        <mat-label>Error Action</mat-label>
        <mat-select formControlName="errorAction">
            <mat-option value="1">Log & Continue</mat-option>
            <mat-option value="2">Log & Exit</mat-option>
            <mat-option value="3">Return</mat-option>
        </mat-select>
    </mat-form-field>
</div>
