<div style="height: 100%;" class="rulechain-page-custom-scroll">
    <div style="width: 100%; height: 100%; background: #ffffff;">

        <as-split direction="horizontal">
            <as-split-area [size]="84">
                <as-split direction="vertical">
                    <as-split-area [size]="100"
                        [ngClass]="{'build-in-page-custom-scroll': loadPageEditor, 'rulechain-page-custom-scroll': !loadPageEditor}">
                        <virtuan-single-page-view *ngIf="loadPageEditor" [projectUid]="projectUid"
                            [pageId]="pageId"></virtuan-single-page-view>
                        <virtuan-single-widget-view *ngIf="loadWidgetEditor" [projectUid]="projectUid" [pageId]="pageId"
                            [widgetId]="widgetId"></virtuan-single-widget-view>
                        <virtuan-custom-page-view *ngIf="loadCustomPageEditor" [projectUid]="projectUid"
                            [pageId]="pageId" [widgetId]="widgetId"></virtuan-custom-page-view>
                        <virtuan-flex-grid-handler *ngIf="loadGridPageEditor" [projectUid]="projectUid"
                            [pageId]="pageId"> </virtuan-flex-grid-handler>
                        <virtuan-tab-page-view *ngIf="loadTabPageEditor" [projectUid]="projectUid" [pageId]="pageId">
                        </virtuan-tab-page-view>
                        <virtuan-filter-page *ngIf="loadFilterPageEditor" [projectUid]="projectUid" [pageId]="pageId">
                        </virtuan-filter-page>
                        <router-outlet *ngIf="routeEnable"></router-outlet>
                    </as-split-area>
                    <as-split-area [size]="0"
                        [ngClass]="{'build-in-page-custom-scroll': loadPageEditor, 'rulechain-page-custom-scroll': !loadPageEditor}">
                        <div class="button-row" style="float:right; margin: 5px" *ngIf="selectedTab === 0">
                            <button mat-raised-button type="button"
                                style=" background-color: #a8554f; color: white; margin-left: 5px;" (click)="clearLog()"
                                cdkFocusInitial><mat-icon style="font-size: 25px"
                                    class="example-tab-icon">not_interested</mat-icon></button>
                            <!--                            <button mat-raised-button type="button" style="float:left; background-color: #4CAF50; color: white; " [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial><mat-icon style="font-size: 25px" class="example-tab-icon">play_circle_outline</mat-icon></button>-->

                        </div>

                        <div class="button-row" style="float:right; margin: 5px"
                            *ngIf="selectedTab === 1 || selectedTab === 2">
                            <button mat-raised-button type="button"
                                style=" background-color: darkgray; color: white; margin-right: 35px; height: 25px; margin-top: 3px"
                                (click)="loadPreviewStatus()" cdkFocusInitial><mat-icon
                                    style="font-size: 22px; margin-bottom: 9px"
                                    class="example-tab-icon">refresh</mat-icon></button>
                        </div>
                        <mat-tab-group dynamicHeight (selectedTabChange)="tabChanged($event)">
                            <mat-tab label="Console">
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">receipt</mat-icon>
                                    Events
                                </ng-template>
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <!--                                        <div style="min-height: 40px;margin: 5px;">-->
                                        <!--                                            <button mat-raised-button type="button" style="float:right; background-color: #4CAF50; color: white" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>-->

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions"
                                            [(ngModel)]="code" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Console">
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">receipt</mat-icon>
                                    UI Build
                                </ng-template>
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <!--                                        <div style="min-height: 40px;margin: 5px;">-->
                                        <!--                                            <button mat-raised-button type="button" style="float:right; background-color: #4CAF50; color: white" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>-->

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions"
                                            [(ngModel)]="fEBuildStatus" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Console">
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">cloud</mat-icon>
                                    Service Build
                                </ng-template>
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <!--                                        <div style="min-height: 40px;margin: 5px;">-->
                                        <!--                                            <button mat-raised-button type="button" style="float:right; background-color: #4CAF50; color: white" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>-->

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions"
                                            [(ngModel)]="bEBuildStatus" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Console">
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">receipt</mat-icon>
                                    UI Gen
                                </ng-template>
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <!--                                        <div style="min-height: 40px;margin: 5px;">-->
                                        <!--                                            <button mat-raised-button type="button" style="float:right; background-color: #4CAF50; color: white" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>-->

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions"
                                            [(ngModel)]="fEBuildStatus" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Console">
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">cloud</mat-icon>
                                    Service Gen
                                </ng-template>
                                <ng-template matTabContent>
                                    <div style="min-height: 200px; height:100% !important; width: 100%;">
                                        <!--                                        <div style="min-height: 40px;margin: 5px;">-->
                                        <!--                                            <button mat-raised-button type="button" style="float:right; background-color: #4CAF50; color: white" [disabled]="isGenerating && projectUid != ''" (click)="generateProject()" cdkFocusInitial>Generate</button></div>-->

                                        <ngx-monaco-editor style=" height: 100%; width: 100%;" [options]="editorOptions"
                                            [(ngModel)]="bEBuildStatus" ngDefaultControl></ngx-monaco-editor>
                                    </div>
                                </ng-template>
                            </mat-tab>
                            <!--                            <mat-tab label="Debugger">-->
                            <!--                                <ng-template mat-tab-label>-->
                            <!--                                    <mat-icon class="example-tab-icon">bug_report</mat-icon>-->
                            <!--                                    Debugger-->
                            <!--                                </ng-template>-->
                            <!--                                <ng-template matTabContent>-->
                            <!--                                    Debugger-->
                            <!--                                </ng-template>-->
                            <!--                            </mat-tab>-->
                            <!--                            <mat-tab label="Run">-->
                            <!--                                <ng-template mat-tab-label>-->
                            <!--                                    <mat-icon class="example-tab-icon">developer_mode</mat-icon>-->
                            <!--                                    Run-->
                            <!--                                </ng-template>-->
                            <!--                                <ng-template matTabContent>-->
                            <!--                                    Run-->
                            <!--                                </ng-template>-->
                            <!--                            </mat-tab>-->
                        </mat-tab-group>

                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area [size]="16">

                <ul class="nav nav-tabs right-tabs sideways-tabs" role="tablist"
                    style="width:105px; position: fixed; background-color: lightgrey; margin-top: 0; padding-top: 55px">
                    <div style="display:flex; flex-direction: column;height: 90%;
                 justify-content: space-evenly;">

                        <div role="presentation" style="display: flex; margin-bottom: 110px;">
                            <h1 class="display-4" style="transform: rotate(90deg);"><img
                                    src="../assets/images/apps_icon.png"
                                    style="width: 38px;margin-bottom: 8px;transform: rotate(270deg);"></h1>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" style="margin-top: 21px" (click)="changeSplit('design')"
                                    data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'design'}" type="button"
                                    role="tab" aria-selected="false">Design</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" style="margin-top: 21px" (click)="changeSplit('service')"
                                    data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'service'}" type="button"
                                    role="tab" aria-selected="true">Service</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" style="margin-top: 21px" (click)="changeSplit('portal')"
                                    data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'portal'}" type="button"
                                    role="tab" aria-selected="false">UI</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" style="margin-top: 21px" (click)="changeSplit('build')"
                                    data-bs-toggle="tab" [ngClass]="{'active': currentTab == 'build'}" type="button"
                                    role="tab" aria-selected="false">Build</button>
                            </li>
                        </div>
                        <span class="logout" style="width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;">
                            <button mat-mini-fab matTooltip="Logout" [matMenuTriggerFor]="menu"
                                style="width: 34px; height: 34px;margin-left: 5px;margin-bottom: 15px" color="primary">
                                <mat-icon>perm_identity</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="logout()">
                                    <mat-icon>power_settings_new</mat-icon>
                                    <span>Logout</span>
                                </button>
                            </mat-menu>
                        </span>

                    </div>

                </ul>

                <div class="tab-content" style="display: flex;
                width: 100%;
                flex-direction: column;">
                    <button mat-icon-button class="top-node" style="display: flex; flex-direction: row; width: 80%; justify-content: flex-end;"
                        (click)="refreshTree()"><mat-icon>refresh</mat-icon></button>
                    <mat-tree [dataSource]="uiTreeDaSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectActiveNode(node)"
                            [ngClass]="{ 'background-highlight': activeNode === node }" style="cursor: pointer">
                            <mat-icon class="mat-icon-rtl-mirror" style="margin-left: 28px" color="primary"
                                [ngClass]="{ 'background-highlight': activeNode === node }">
                                {{node.data.isParent ? 'folder' : 'description'}}
                            </mat-icon>
                            <div style="margin-left: 3px">
                                {{node.name}}
                            </div>

                            <button *ngIf="!node.data.isParent || node.data.type === 'PARENT_UI_SUB_MENU'"
                                (click)="$event.stopPropagation()" [matMenuTriggerData]="{ item: node.data }"
                                [matMenuTriggerFor]="actionsMenu" mat-icon-button type="button">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <button mat-icon-button class="top-node"
                                *ngIf="node.data.isParent && node.data.type != 'PARENT_PORTAL' && node.data.type != 'PARENT_PAGE_THEMES'"
                                (click)="add(node.data)"
                                [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>add</mat-icon></button>
                            <button title="import model" mat-icon-button class="top-node-import"
                                *ngIf="node.data.isParent && node.data.type === 'PARENT_UI_MODEL '"
                                (click)="importModel(node.data)"
                                [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>import_export</mat-icon></button>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                            (click)="selectActiveNode(node)" [ngClass]="{ 'background-highlight': activeNode === node }"
                            style="cursor: pointer">
                            <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                                <mat-icon class="mat-icon-rtl-mirror" color="primary">
                                    {{ treeControl.isExpanded(node) ? "folder_open" :"folder" }}
                                </mat-icon>
                            </button>
                            <div style="margin-left: 15px">
                                {{node.name}}
                            </div>


                            <button mat-icon-button class="top-node"
                                *ngIf="node.data.isParent && node.data.type != 'PARENT_PORTAL' && node.data.type != 'PARENT_PAGE_THEMES'"
                                (click)="add(node.data)"
                                [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>add</mat-icon></button>
                            <button title="import model" mat-icon-button class="top-node-import"
                                *ngIf="node.data.isParent && node.data.type === 'PARENT_UI_MODEL'"
                                (click)="importModel(node.data)"
                                [ngClass]="{ 'background-highlight': activeNode === node }"><mat-icon>import_export</mat-icon></button>
                            <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate"
                                class="example-tree-progress-bar"></mat-progress-bar>

                        </mat-tree-node>
                    </mat-tree>
                </div>
            </as-split-area>
        </as-split>
    </div>


    <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
        <ng-template let-item="item" matMenuContent>
            <button *ngIf="item.type === 'MODEL'" (click)="exportAggregateFile(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icDelete"></mat-icon>-->
                <span>Export</span>
            </button>
            <button *ngIf="item.type !== 'HYBRID' && item.type !== 'EVENT'" (click)="viewComponent(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icEdit"></mat-icon>-->
                <span>View</span>
            </button>
            <button *ngIf="item.type !== 'MAIN_TASK' && item.type !== 'UI_PAGE' && item.type !== 'PARENT_UI_SUB_MENU'"
                (click)="edit(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icDelete"></mat-icon>-->
                <span>Edit</span>
            </button>
            <button *ngIf="item.type !== 'MAIN_TASK'" (click)="delete(item)" mat-menu-item>
                <!--<mat-icon [icIcon]="icDelete"></mat-icon>-->
                <span>Delete</span>
            </button>
        </ng-template>
    </mat-menu>
</div>