<div class="row justify-content-center">
    <div class="col-12">
        <div class="justify-content-center " >
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <div class="justify-content-center tit-bar1">
                    <h4 id="theme-heading" style="padding: 10px 0 0 10px">Update Page Themes</h4>
                </div>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                            <p-header style="font-size: 18px"> General settings </p-header>
                        <div>
                            <div  class="form-group " [hidden]="!editForm.get('id').value">
                                <!--<label for="id">ID</label>-->
                                <input type="hidden" class="form-control" id="id" name="id" formControlName="id"/>
                            </div>
                            <div *ngIf="useDefaults"  class="form-group">
                                <label class="form-control-label">Default theme values will be used</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <button class="btn-primary" type="button" (click)="changeDefaults(false)">Customize</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!useDefaults" class="form-group">
                                <label class="form-control-label">Your custom values will be used</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <button class="btn-primary" type="button"  (click)="changeDefaults(true)">Use Defaults</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="form-control-label">Theme Style</h5>
                                <div class="ui-g-12" style="margin-bottom:10px">
                                    <div class="ui-g-2">
                                        <div class="ui-g-12">
                                            <img src="../../../../../assets/images/new_pages/page_wireframes/form.jpg"
                                                 style="width: 100%;height: 100%;border-style: ridge;" alt="Rounded">
                                        </div>
                                        <div class="ui-g-12">
                                            <p-radioButton name="themestyle" value="round" label="Rounded style"
                                                           formControlName="themestyle"></p-radioButton>
                                        </div>
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="ui-g-12">
                                            <img src="../../../../../assets/images/new_pages/page_wireframes/table.jpg"
                                                 style="width: 100%;height: 100%;border-style: ridge;" alt="Sharp">
                                        </div>
                                        <div class="ui-g-12">
                                            <p-radioButton name="themestyle" value="sharp" label="Sharp style"
                                                           formControlName="themestyle"></p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                 <label class="form-control-label">Layout Orientation</label>
                                 <div class="ui-g" style="width:250px;margin-bottom:10px">
                                     <div class="ui-g-12">
                                         <p-inputSwitch formControlName="layoutorientationRTL"></p-inputSwitch>
                                     </div>
                                     <div class="ui-g-12"><label>Right-To-Left : {{editForm.get(['layoutorientationRTL']).value}}</label></div>
                                 </div>
                             </div>-->

                            <div class="form-group">
                                <label class="form-control-label">Page</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <p-radioButton name="toolbarposition" value="fixed" label="Fixed"
                                                       formControlName="toolbarposition"></p-radioButton>
                                    </div>
                                    <div class="ui-g-12">
                                        <p-radioButton name="toolbarposition" value="static" label="Static"
                                                       formControlName="toolbarposition"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Portal display name: </label>
                                        <div class="ui-g">
                                            <input type="text" class="fullInput" formControlName="portalDisplayName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 20px">
                                            <label class="form-control-label" style="font-weight: bold">Main logo URL: </label>
                                            <div class="ui-g">
                                                <input type="text" class="fullInput" formControlName="mainLogoUrl">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <label class="form-control-label">Footer Visibility</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <p-inputSwitch formControlName="footervisibility"></p-inputSwitch>
                                    </div>
                                    <div class="ui-g-12"><label>Visible
                                        : {{editForm.get(['footervisibility']).value}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Footer Position</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <p-radioButton name="footerposition" value="fixed" label="Fixed"
                                                       formControlName="footerposition"></p-radioButton>
                                    </div>
                                    <div class="ui-g-12">
                                        <p-radioButton name="footerposition" value="static" label="Static"
                                                       formControlName="footerposition"></p-radioButton>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 10px">
                                <label class="form-control-label">Page Width</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-12">
                                        <p-radioButton name="generalpagewidth" value="fixed" label="Boxed"
                                                       formControlName="generalpagewidth"></p-radioButton>
                                    </div>
                                    <div class="ui-g-12">
                                        <p-radioButton name="generalpagewidth" value="static" label="Full-Width"
                                                       formControlName="generalpagewidth"></p-radioButton>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px">
                                <label style="margin-right: 5px">Canvas Background Color: </label>
                                <input type="color" value="#4735d3" matInput name="canvasbackgroundcolor" formControlName="canvasbackgroundcolor">
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <label class="form-control-label">General Font size</label>
                                <p-dropdown placeholder="Choose" name="generalfontsize"
                                            [options]="fontSizes" formControlName="generalfontsize"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" ></p-dropdown>
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <label class="form-control-label">General Font weight</label>
                                <p-dropdown placeholder="Choose" name="generalfontweight"
                                            [options]="fontWeights" formControlName="generalfontweight"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px">
                                    <label style="margin-right: 5px">General Font Color: </label>
                                    <input type="color" value="#4735d3"  name="generalfontcolor" formControlName="generalfontcolor">
                            </div>

                            <input type="hidden" style="margin-top: 10px" formControlName="themeselected" name="themeselected">
                            <div class="form-group col-md-4">
                                <h5 class="form-control-label">Mobile app icon</h5>
                                <p-fileUpload #fileInput name="file" [showUploadButton]="false" [showCancelButton]="false" maxFileSize="1000000" accept="image/*" styleClass="theme-fileupload">
                                </p-fileUpload>
                            </div>
                        </div>
                        </p-fieldset>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px"> Sidebar settings</p-header>
                    <div>
                        <div class="row">
                            <div class="form-group">
                                <label class="form-control-label" style="margin-top: 10px"> Font Size</label>
                                <p-dropdown placeholder="Choose" name="sidebarfontsize"
                                            [options]="fontSizes" formControlName="sidebarfontsize"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}" ></p-dropdown>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" style="margin-top: 10px"> Font Weight</label>
                                <p-dropdown placeholder="Choose" name="sidebarfontweight"
                                            [options]="fontWeights" formControlName="sidebarfontweight"
                                            [style]="{'width':'100%', 'margin-top': '3px', 'border': '1px solid rgb(66, 66, 66)'}"></p-dropdown>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px">
                                <label style="margin-right: 5px"> Font Color:</label>
                                <input type="color" value="#4735d3"  name="sidebarfontcolor" formControlName="sidebarfontcolor">
                            </div>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                            <p-header style="font-size: 18px"> Color settings</p-header>
                        <div>
                            <div class="row">
                                <div class="col-md-4 color-card">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Primary Color</label>
                                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                                            <input type="color" formControlName="primaryColor">
                                        </div>
                                    </div>
                                    <h6 style="color: #121253">Sidebar</h6>
                                </div>
                                <div class="col-md-4 color-card">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Primary Medium Color</label>
                                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                                            <input type="color" formControlName="primaryMediumColor">
                                        </div>
                                    </div>
                                    <h6 style="color: #121253">Hover and active sidebar items</h6>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 color-card">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Light Color</label>
                                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                                            <input type="color" formControlName="primaryLightColor">
                                        </div>
                                    </div>
                                    <h6 style="color: #121253">Default color of sidebar items and title</h6>
                                </div>
                                <div class="col-md-4 color-card">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Secondary Color</label>
                                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                                            <input type="color" formControlName="secondaryColor">
                                        </div>
                                    </div>
                                    <h6 style="color: #121253">Icon, Breadcrumbs and Buttons</h6>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 color-card">
                                    <div class="form-group">
                                        <label class="form-control-label" style="font-weight: bold">Secondary Medium Color</label>
                                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                                            <input type="color" formControlName="secondaryMediumColor">
                                        </div>
                                    </div>
                                    <h6 style="color: #121253">(After the active sidebar item)-icons</h6>
                                </div>
                            </div>
                        </div>
                        </p-fieldset>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">App settings</p-header>
                <div class="row">
                    <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12" style="float: right">
                                    <button type="button" id="add-row" class="btn btn-info" (click)="showDialogToAddApp()"
                                            style="float: right; margin: 4px">
                                       <span>Add</span>
                                    </button>
                                </div>
                            </div>
                            <div style="padding-top:20px;padding-bottom:20px;">

                                <p-table [value]="appPropertyKeyMappings" selectionMode="single" [paginator]="true" [rowsPerPageOptions]="[5,10,25]" (onRowSelect)="onAppRowSelect($event)" [rows]="10">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th>Name<p-sortIcon field="name"></p-sortIcon></th>
                                            <th>Value<p-sortIcon field="value"></p-sortIcon></th>
                                            <th>Action<p-sortIcon field="action"></p-sortIcon></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData>
                                        <tr [pSelectableRow]="rowData">
                                            <td>{{rowData.name}}</td>
                                            <td>{{rowData.value}}</td>
                                            <td>
                                                <button pButton type="button" (click)="deleteAppRow(rowData)"
                                                        class="ui-button-danger ui-button-raised" icon="fa fa-trash-o">
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <p-dialog header="{{headerText}}" [(visible)]="displayAppDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px'}">
                                    <div class="p-grid ui-fluid" >
                                        <div class="form-group">
                                            <label class="form-control-label">Key</label>
                                            <input type="text" class="form-control" name="propkey"
                                                   formControlName="propkey"/>
                                            <div
                                                    *ngIf="editForm.get('propkey').invalid && (editForm.get('propkey').dirty || editForm.get('propkey').touched)">
                                                <small class="form-text text-danger">
                                                    key is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Name</label>
                                            <input type="text" class="form-control" name="propname"
                                                   formControlName="propname"/>
                                            <div
                                                    *ngIf="editForm.get('propname').invalid && (editForm.get('propname').dirty || editForm.get('propname').touched)">
                                                <small class="form-text text-danger">
                                                    name Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Value</label>
                                            <input type="text" class="form-control" name="propvalue"
                                                   formControlName="propvalue"/>
                                            <div
                                                    *ngIf="editForm.get('propvalue').invalid && (editForm.get('propvalue').dirty || editForm.get('propvalue').touched)">
                                                <small class="form-text text-danger">
                                                    value Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Description</label>
                                            <input type="text" class="form-control" name="propdesc"
                                                   formControlName="propdesc"/>
                                        </div>

                                    </div>
                                    <p-footer>
                                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                            <button type="button" pButton icon="pi pi-check" (click)="addAppKey()" label="Save"></button>
                                        </div>
                                    </p-footer>
                                </p-dialog>
                            </div>
                    </div>

                </div>
                </p-fieldset>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Settings</p-header>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12" style="float: right">
                                    <button type="button" class="btn btn-info" (click)="showDialogToAddPage()"
                                            style="float: right; margin: 4px">
                                       &nbsp;<span>Add</span>
                                    </button>
                                </div>
                            </div>
                            <div style="padding-top:20px;padding-bottom:20px;">

                                <p-table [value]="pagePropertyKeyMappings" selectionMode="single" [paginator]="true" [rowsPerPageOptions]="[5,10,25]" (onRowSelect)="onPageRowSelect($event)" [rows]="10">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th>Name<p-sortIcon field="name"></p-sortIcon></th>
                                            <th>Value<p-sortIcon field="value"></p-sortIcon></th>
                                            <th>Action<p-sortIcon field="action"></p-sortIcon></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData>
                                        <tr [pSelectableRow]="rowData">
                                            <td>{{rowData.name}}</td>
                                            <td>{{rowData.value}}</td>
                                            <td>
                                                <button pButton type="button" (click)="deletePageRow(rowData)"
                                                        class="ui-button-danger ui-button-raised" icon="fa fa-trash-o">
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <p-dialog header="{{headerText}}" [(visible)]="displayPageDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px'}">
                                    <div class="p-grid ui-fluid" >
                                        <div class="form-group">
                                            <label class="form-control-label">Key</label>
                                            <input type="text" class="form-control" name="pagepropkey" id="pagepropkey"
                                                   formControlName="pagepropkey"/>
                                            <div
                                                    *ngIf="editForm.get('pagepropkey').invalid && (editForm.get('pagepropkey').dirty || editForm.get('pagepropkey').touched)">
                                                <small class="form-text text-danger">
                                                    key is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Name</label>
                                            <input type="text" class="form-control" name="pagepropname" id="pagepropname"
                                                   formControlName="pagepropname"/>
                                            <div
                                                    *ngIf="editForm.get('pagepropname').invalid && (editForm.get('pagepropname').dirty || editForm.get('pagepropname').touched)">
                                                <small class="form-text text-danger">
                                                    name Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Value</label>
                                            <input type="text" class="form-control" name="pagepropvalue" id="pagepropvalue"
                                                   formControlName="pagepropvalue"/>
                                            <div
                                                    *ngIf="editForm.get('pagepropvalue').invalid && (editForm.get('pagepropvalue').dirty || editForm.get('pagepropvalue').touched)">
                                                <small class="form-text text-danger">
                                                    value Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Description</label>
                                            <input type="text" class="form-control" name="pagepropdesc" id="pagepropdesc"
                                                   formControlName="pagepropdesc"/>
                                        </div>

                                    </div>
                                    <p-footer>
                                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                            <button type="button" pButton icon="pi pi-check" (click)="addPageKey()" label="Save"></button>
                                        </div>
                                    </p-footer>
                                </p-dialog>
                            </div>
                        </div>

                    </div>
                </p-fieldset>
                <p-fieldset [collapsed]="true"  [toggleable]="true">
                    <p-header style="font-size: 18px">Page Control Settings</p-header>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12" style="float: right">
                                    <button type="button" class="btn btn-info" (click)="showDialogToAddPageControl()"
                                            style="float: right; margin: 4px">
                                       &nbsp;<span>Add</span>
                                    </button>
                                </div>
                            </div>
                            <div style="padding-top:20px;padding-bottom:20px;">

                                <p-table [value]="pageControlPropertyKeyMappings" selectionMode="single" [paginator]="true" [rowsPerPageOptions]="[5,10,25]" (onRowSelect)="onPageControlRowSelect($event)" [rows]="10">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th>Name<p-sortIcon field="name"></p-sortIcon></th>
                                            <th>Value<p-sortIcon field="value"></p-sortIcon></th>
                                            <th>Action<p-sortIcon field="action"></p-sortIcon></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData>
                                        <tr [pSelectableRow]="rowData">
                                            <td>{{rowData.name}}</td>
                                            <td>{{rowData.value}}</td>
                                            <td>
                                                <button pButton type="button" (click)="deletePageControlRow(rowData)"
                                                        class="ui-button-danger ui-button-raised" icon="fa fa-trash-o">
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <p-dialog header="{{headerText}}" [(visible)]="displayPageControlDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px'}">
                                    <div class="p-grid ui-fluid" >
                                        <div class="form-group">
                                            <label class="form-control-label">Key</label>
                                            <input type="text" class="form-control" name="pagecontrolpropkey" id="pagecontrolpropkey"
                                                   formControlName="pagecontrolpropkey"/>
                                            <div
                                                    *ngIf="editForm.get('pagecontrolpropkey').invalid && (editForm.get('pagecontrolpropkey').dirty || editForm.get('pagecontrolpropkey').touched)">
                                                <small class="form-text text-danger">
                                                    key is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Name</label>
                                            <input type="text" class="form-control" name="pagecontrolpropname" id="pagecontrolpropname"
                                                   formControlName="pagecontrolpropname"/>
                                            <div
                                                    *ngIf="editForm.get('pagecontrolpropname').invalid && (editForm.get('pagecontrolpropname').dirty || editForm.get('pagecontrolpropname').touched)">
                                                <small class="form-text text-danger">
                                                    name Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Value</label>
                                            <input type="text" class="form-control" name="pagecontrolpropvalue" id="pagecontrolpropvalue"
                                                   formControlName="pagecontrolpropvalue"/>
                                            <div
                                                    *ngIf="editForm.get('pagecontrolpropvalue').invalid && (editForm.get('pagecontrolpropvalue').dirty || editForm.get('pagecontrolpropvalue').touched)">
                                                <small class="form-text text-danger">
                                                    value Variable is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Description</label>
                                            <input type="text" class="form-control" name="pagecontrolpropdesc" id="pagecontrolpropdesc"
                                                   formControlName="pagecontrolpropdesc"/>
                                        </div>

                                    </div>
                                    <p-footer>
                                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                            <button type="button" pButton icon="pi pi-check" (click)="addPageControlKey()" label="Save"></button>
                                        </div>
                                    </p-footer>
                                </p-dialog>
                            </div>
                        </div>

                    </div>
                </p-fieldset>

                <!--                        <div id='button' class="tab-contentx">-->
                <!--                            <div class='py-5'>-->
                <!--                                <div class='container ml-0'>-->
                <!--                                    <div class='row'>-->
                <!--                                        <div class='col-md-3 my-auto text-center'>-->
                <!--                                                <p-radioButton name="buttonTheme" value="themeStyle1" label="Button Style 1" formControlName="buttonTheme"></p-radioButton>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Primary Design</h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center'>-->
                <!--                                                        <button disabled type="button" class='style1-button' id="style1-button" >-->
                <!--                                                            <span>Button</span>-->
                <!--                                                        </button>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Secondary Design</h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center'>-->
                <!--                                                    <button disabled type="button" class='style1-sec-button' id="style1-sec-button" >-->
                <!--                                                        <span>Button</span>-->
                <!--                                                    </button>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Ternary Design</h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center'>-->
                <!--                                                        <button disabled type="button" class='style1-ter-button' id="style1-ter-button" >-->
                <!--                                                            <span>Button</span>-->
                <!--                                                        </button>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div><br>-->
                <!--                                    <div class='row'>-->
                <!--                                        <div class='col-md-3 my-auto text-center'>-->
                <!--                                            <p-radioButton name="buttonTheme" value="themeStyle2" label="Button Style 2" formControlName="buttonTheme"></p-radioButton>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Primary Design</h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center' >-->
                <!--                                                        <button disabled type="button" class='style2-button' id="style2-button" >-->
                <!--                                                            <span>Button</span>-->
                <!--                                                        </button>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Secondary Design</h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center' >-->
                <!--                                                        <button disabled type="button" class='style2-sec-button' id="style2-sec-button" >-->
                <!--                                                            <span>Button</span>-->
                <!--                                                        </button>-->
                <!--                                                    </div>-->

                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                        <div class='col-md-3'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Ternary Design </h5>-->
                <!--                                                    <div class='margin-top-bottom-40 text-center' >-->
                <!--                                                        <button disabled type="button" class='style2-ter-button' id="" >-->
                <!--                                                            <span>Button</span>-->
                <!--                                                        </button>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                    </div><br>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <!--                        <div id='input' class="tab-contentx">-->
                <!--                            <div class='py-5'>-->
                <!--                                <div class='container'>-->
                <!--                                    <div class='row'>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card' style="padding: 20px">-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Material Design</h5>-->
                <!--                                                    <div class='style1-group margin-top-bottom-40'>-->
                <!--                                                        <input class='style1-input' placeholder="Input field" type="text" required="">-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer" >-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="materialDesign" label="Material Design" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card' style="padding: 20px">-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Material Design Fill</h5>-->
                <!--                                                        <div class="style2-group margin-top-bottom-40">-->
                <!--                                                            <input class='style2-input' type="text" required>-->
                <!--                                                            <span class="highlight"></span>-->
                <!--                                                            <span class="bar"></span>-->
                <!--                                                            <label class='style2-label'>Input Field</label>-->
                <!--                                                        </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer">-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="fill" label="Fill" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Material Design Outline</h5>-->
                <!--                                                    <div class="style3-group margin-top-bottom-40" >-->
                <!--                                                    <p>-->
                <!--                                                        <input class='style3-input'  type="text" required />-->
                <!--                                                        <label class='style3-label' for="input"  placeholder="Input Field"></label>-->
                <!--                                                    </p>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer">-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="outline" label="Outline" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div><br>-->
                <!--                                    <div class='row'>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Primary Design</h5>-->
                <!--                                                    <div class='style4-group margin-top-bottom-40'>-->
                <!--                                                        <input class='style4-input' type="text" placeholder="Name" />-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer" style="padding-bottom: 32px;">-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="primaryDesign" label="Primary Design" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Primary Design Outline</h5>-->
                <!--                                                        <div class="style5-group margin-top-bottom-40">-->
                <!--                                                            <input id="firstname" class='style5-input' type="text" placeholder=" " />-->
                <!--                                                            <div class="style5-cutt"></div>-->
                <!--                                                            <label for="firstname" class='style5-label'>First name</label>-->
                <!--                                                        </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer" style="padding-bottom: 32px;">-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="primaryOutline" label="Primary Outline" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                        <div class='col-md-4'>-->
                <!--                                            <div class='card'>-->
                <!--                                                <div class="card-body">-->
                <!--                                                    <h5 class="card-title text-center">Primary placeholder </h5>-->
                <!--                                                    <div class="style6-group margin-top-bottom-40">-->
                <!--                                                        <input class='style6-input' type="text" placeholder="Name" />-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                                <div class="card-footer" style="padding-bottom: 32px;">-->
                <!--                                                    <div class='text-center'>-->
                <!--                                                        <p-radioButton name="inputStyle" value="primaryPlaceholder" label="Placeholder" formControlName="inputStyle"></p-radioButton>-->
                <!--                                                    </div>-->
                <!--                                                </div>-->
                <!--                                            </div>-->

                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->

                <div class="form-button-footer" style="float: right;">
<!--                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()"-->
<!--                            style="margin-right: 8px">-->
<!--                       &nbsp;<span>Cancel</span>-->
<!--                    </button>-->
                    <button style="margin: 30px" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                            class="btn btn-primary">
                       <span>Save</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please wait... </p>
</ngx-spinner>
