<form class="mat-form-dialog" [formGroup]="editForm" (ngSubmit)="save()">
    <mat-toolbar color="primary">
        <h2 mat-dialog-title *ngIf="data.createStatus === 'Update'">Update Story</h2>
        <h2 mat-dialog-title *ngIf="data.createStatus !== 'Update'">Create Story</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">
            <h5>Requirement</h5>
            <div class="col-12" style="text-align: center;">
                <div >
                    <div class="card-body">
                        <h5 class="card-title">{{epic.name}}</h5>
                        <div *ngIf="descriptions" class="inner-html-des" [innerHTML]="descriptions"> </div>
                    </div>
                </div>
            </div>

            <h5 style="margin-top: 5px">Select Story Template</h5>
            <div class="row">
                <div class="col-6">
                    <p-carousel class="story-temp-carousel" verticalViewPortHeight="160px" orientation="vertical" [value]="stories" [numVisible]="1" [numScroll]="1" [circular]="true"
                                *ngIf="selectedLabel !== 'custom'">
                        <ng-template let-story pTemplate="item">
                            <div class="product-item">
                                <div class="product-item-content">
                                    <div class="mb-2" align="center">
                                        <div class="card story-card" *ngIf="story === 'custom'">
                                            <h6>Custom</h6>
                                            <div class="story-icon">
                                                <mat-icon class="material-icons" style="color: #6c6c6c; font-size: 40px;">
                                                    extension
                                                </mat-icon>
                                            </div>
                                        </div>
                                        <div class="card story-card" *ngIf="story === 'login'">
                                            <h6>Login</h6>
                                            <div class="story-icon">
                                                <mat-icon class="material-icons" style="color: #6c6c6c; font-size: 40px">
                                                    account_circle
                                                </mat-icon>
                                            </div>
                                        </div>
                                        <div class="card story-card" *ngIf="story === 'email'">
                                            <h6>Email</h6>
                                            <div class="story-icon">
                                                <mat-icon class="material-icons" style="color: #6c6c6c; font-size: 40px">email
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 15px;" align="center">
                                    <p-radioButton name="screenselection"
                                                   [value]="story" label="{{story}}"
                                                   formControlName="storyTemplate"></p-radioButton>

                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
                <div class="col-6"></div>
            </div>



            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="hidden" class="form-control" id="id" name="id" formControlName="id"/>
            </div>

            <div>

                <mat-form-field class="flex-auto" style="width: 100%;">
                    <mat-label>Title</mat-label>
                    <input type="text" formControlName="name" matInput>
                    <mat-error *ngIf="editForm.controls.name.hasError('required')">This field is required</mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="flex-auto">
                     <mat-label>Description</mat-label>
                     <input type="text" formControlName="description" matInput>
                 </mat-form-field>-->

                <!--            <mat-form-field class="flex-auto">-->
                <!--                <div class="flex-auto" >-->
                <!--                    <mat-label>Description</mat-label>-->
                <!--                    <p-editor name="description" id="field_desc"-->
                <!--                              formControlName="description" [style]="{'height':'320px'}"></p-editor>-->
                <!--                </div>-->


                <!--                <input type="text" formControlName="description" matInput>-->
                <!--            </mat-form-field>-->

            </div>


        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="editForm.invalid || isSaving"
                type="submit" cdkFocusInitial>
            Save
        </button>
        <button mat-button color="primary"
                type="button"
                mat-dialog-close>
            Cancel
        </button>
    </div>
</form>
