<form class="mat-form-dialog" [formGroup]="editForm" (ngSubmit)="save()" >
    <mat-toolbar color="primary" >
        <h2 mat-dialog-title *ngIf="data.createStatus === 'Update'">Update Requirement</h2>
        <h2 mat-dialog-title *ngIf="data.createStatus !== 'Update'">Create Requirement</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">

            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="hidden" class="form-control" id="id" name="id" formControlName="id" />
            </div>

            <mat-form-field class="flex-auto">
                <mat-label>Title</mat-label>
                <input type="text" formControlName="name" matInput>
                <mat-error *ngIf="editForm.controls.name.hasError('required')">This field is required</mat-error>
            </mat-form-field>

           <!-- <mat-form-field class="flex-auto">
                <mat-label>Description</mat-label>
                <input type="text" formControlName="description" matInput>
            </mat-form-field>-->

<!--            <mat-form-field class="flex-auto">-->
            <div class="flex-auto">
            <mat-label>Description</mat-label>
                <p-editor name="description" id="field_desc"
                          formControlName="description" [style]="{'height':'320px'}"></p-editor>
            </div>


<!--                <input type="text" formControlName="description" matInput>-->
<!--            </mat-form-field>-->



        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="editForm.invalid || isSaving"
                type="submit" cdkFocusInitial>
            Save
        </button>
        <button mat-button color="primary"
                type="button"
                mat-dialog-close >
            Cancel
        </button>
    </div>
</form>
