<div *ngIf="!viewEditor" class="fixed-position">
    <div class="row">
        <div class="wrapper option-1 option-1-1">
            <ol class="c-stepper">
                <li [ngClass]="currentLevel === 'requirement' || requirementLevel ? 'c-stepper__item_selected': 'c-stepper__item'">
                    <h6 class="c-stepper__title">Step 1</h6>
                </li>
                <li [ngClass]="currentLevel === 'epic' || epicLevel ? 'c-stepper__item_selected': 'c-stepper__item'">
                    <h6 class="c-stepper__title">Step 2</h6>
                </li>
                <li [ngClass]="currentLevel === 'story' || storyLevel ? 'c-stepper__item_selected': 'c-stepper__item'">
                    <h6 class="c-stepper__title">Step 3</h6>
                </li>
            </ol>
        </div>
    </div>
</div>
<div *ngIf="!viewEditor" class="container vertical" style="width: 990px">
    <div style="position: relative">
    <div id="requirements" class="row section border row-height create-req" style="height: 222px">
        <div class="col-12 p-0">
            <div class="row">
<!--                <div class="col-9 d-flex">-->
<!--                    <div class="new" (click)="createRequirement()" style="display: flex; justify-content: start;">-->
<!--                        <button mat-fab disabled aria-label="Example icon button with a heart icon" style="background-color: #00A74E; color: white; cursor: pointer ">-->
<!--                            <mat-icon style="font-size: 25px">add</mat-icon>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-3 d-flex justify-content-center">-->
<!--                    <h1 class="d-flex justify-content-center" style="color: #CDCDCD; font-size: 2rem">Requirements</h1>-->
<!--                </div>-->
            </div>
        </div>
<!--        <div class="col-1">-->

<!--            <div class="wrap add-button add-req-block" (click)="createRequirement()">-->
<!--                <mat-icon class="material-icons add-icons"-->
<!--                          style="color: seagreen;margin-top: 18px">add-->
<!--                </mat-icon>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-7" style="padding-left: 0">
            <!--            <div class="row" style="padding-bottom: 30px;">-->
            <!--                <div class="col-11">-->
            <p-carousel class="req-carousel" [value]="reqArray" [numVisible]="1" [numScroll]="1" [circular]="true"  (onPage)="selectedReq($event)"  [ngClass]="{'carousel-next-hide': hideCarouselNext}" >
                <ng-template let-req pTemplate="item">
                    <div class="wrap mb-0" [ngClass]="{'currentReq': req.uuid === currentReq.uuid }" [ngStyle]="{'border-style' : req.uuid === currentReq.uuid ? '' : 'dashed' }" style="height: 200px;width: 331px;
}" matTooltip="{{req?.name}}"  [matTooltipPosition]="'above'" (click)="clickReq(req)">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <i class="fa fa-cogs" style="font-size: 25px; color: orange" aria-hidden="true"></i>
                            </div>
                            <div class="col-8" style="display: flex; justify-content: start">
                                <h4 class="txt-overflow" style="font-weight: 600;">{{req?.name}}</h4>
                                <a class="edit" (click)="editRequirement(req?.uuid)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Title">
                                    <textarea name="descripton" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a virtuan-click-stop-propagation class="delete" (click)="deleteDesign(req?.uuid,'requirement')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a virtuan-click-stop-propagation class="assign" (click)="assignRequirementToEpic(currentReq)"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-12" style="display:flex; justify-content: center">
                                <div style="height: 100px; width: 257px;" >
                                    <div *ngFor="let tag of req.tags"  >
                                        <l1 class="txt-description" [matTooltipPosition]="'below'"  matTooltip="{{tag}}">{{tag}}</l1>
<!--                                        <h5 class="txt-description" style="font-weight: 100;">{{tag}}</h5>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 style="justify-content: start; display: flex; font-weight: 400; padding-left: 10px;">{{reqCreatedAt}}</h6>
                            </div>
                        </div>
                    </div>
<!--                    <div class="d-flex justify-content-center py-1" *ngIf="req.uuid === currentReq.uuid">-->
<!--                        <img src="/assets/images/arrow-up-black.png" class="epics-arrow">-->
<!--                    </div>-->
                    <!--                    <div class="add-icon">-->
                    <!--                        <mat-icon class="material-icons"-->
                    <!--                                  style="color: mediumseagreen; font-size: 50px;transform: rotate(180deg);"-->
                    <!--                                  (click)="assignRequirementToEpic(req)">publish-->
                    <!--                        </mat-icon>-->
                    <!--                    </div>-->
                </ng-template>
            </p-carousel>
            <!--                </div>-->
            <!--            </div>-->
<!--                    <div class="col-1">-->
<!--&lt;!&ndash;                        <div style="margin-left: 25px; margin-bottom: 56px; cursor: pointer">&ndash;&gt;-->
<!--&lt;!&ndash;                            <mat-icon class="material-icons" (click)="nextReq()" style="color: #6C6C6C; font-size: 30px">last_page&ndash;&gt;-->
<!--&lt;!&ndash;                            </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                                            <div class="new" (click)="createRequirement()" style="display: flex; justify-content: start;">-->
<!--                                                <button mat-fab disabled aria-label="Example icon button with a heart icon" style="background-color: #00A74E; color: white; cursor: pointer ">-->
<!--                                                    <mat-icon style="font-size: 25px">add</mat-icon>-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                    </div>-->
        </div>
        <div class="col-5" style="justify-content: end; display: flex;padding-bottom: 26px;">
            <div class="row" style="display: flex; justify-content: end;">
<!--                 <div class="col-12">-->
                     <div class="new button-visible" (click)="createRequirement()" style="display: flex; justify-content: end;">
                         <button mat-flat-button disabled aria-label="Example icon button with a heart icon" style="background-color: #00A74E; color: white; cursor: pointer; margin-right: -17px; margin-bottom: 139px;">
                             <mat-icon style="font-size: 25px">add</mat-icon>
                         </button>
                     </div>
<!--                </div>-->
                <div class="col-12" style="display: flex; justify-content: end;">
                    <div reqCounter class="counter-container content-center" style="bottom: 75px;
    right: 295px; position: absolute">
                        <p id="reqCounter" class="h2 text-secondary mb-0">{{reqCount}}</p>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="col-12 d-flex justify-content-start">-->
<!--            &lt;!&ndash;            <div class="pb-1">&ndash;&gt;-->
<!--            &lt;!&ndash;                <img src="/assets/images/curved-up-arrow-green.png" style="width: 25px; height: 25px; margin-left: 95px;" >&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
    </div>

    <div  *ngIf="existingEpics.length === 0" @inOutAnimation>
        <hr>

        <div style="text-align: center;" >
            <!--        <mat-icon class="material-icons"-->
            <!--                  style="color: slateblue; font-size: 50px;transform: rotate(180deg);">add-->
            <!--        </mat-icon>-->
            <button mat-raised-button style="top: -32px" (click)="assignRequirementToEpic(currentReq)"><mat-icon>add</mat-icon>Epic</button>
        </div>

    </div>


    <div id="epics" class="row section border" *ngIf="existingEpics.length != 0" @inOutAnimation style="margin-left: 35px;">
<!--        <div class="col-12">-->
<!--            <div class="row">-->
<!--                <div class="col-9"></div>-->
<!--                <div class="col-3 d-flex justify-content-center">-->
<!--                    <h1 class="d-flex justify-content-center" style="color: #CDCDCD; font-size: 2rem;">Epics</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="col-9 pt-4">
            <div class="row">
                <div class="col-1">
                    <div *ngIf="isBtnPrevious" (click)="getData(false)" class="btns previous">
                        <mat-icon style="font-size: 30px">keyboard_arrow_left</mat-icon>
                    </div>
                </div>


                <div class="col-10">
                    <div class="content">
                        <div class="flex wrap-epic" *ngFor="let item of ListData">
                            <div (click)="setState(item)" class="outer" [ngClass]="{ 'active' : item.isActive == true }">
                                <div class="inner rotate epic-title-overflow">{{ item.name }}</div>
                            </div>
                            <div class="description" [ngClass]="{ 'active' : item.isActive == true }">
                                <div matTooltip="{{item?.name}}"
                                     [matTooltipPosition]="toolTipPosition"
                                     class="title epic-titledes-overflow">{{ item.name }}</div>
                                <p matTooltip="{{item?.description}}"
                                   [matTooltipPosition]="toolTipPosition"> {{ item.description }}</p>
                            </div>
                            <a class="edit" (click)="editEpics(item)"><i class="fa fa-pencil"
                                                                         aria-hidden="true"></i></a>
                            <a virtuan-click-stop-propagation class="delete" (click)="deleteDesign(item?.uuid, 'epic')"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                            <a virtuan-click-stop-propagation class="assign" (click)="addStory(selectedEpic)"><i
                                    class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-1">
                    <div *ngIf="isBtnNext" (click)="getData(true)" class="btns next">
                        <mat-icon style="font-size: 30px">keyboard_arrow_right</mat-icon>
                    </div>
                </div>


            </div>
                                    <!--            <p-carousel  [value]="existingEpics" [numVisible]="4" [numScroll]="4" [circular]="true"  [ngClass]="{'carousel-next-hide-epic': hideCarouselEpicNext}" class="">-->
<!--                <ng-template ngFor  let-epic [ngForOf]="existingEpics" pTemplate="body" let-index="index" >-->
<!--                    <div class="wrap-epic"  (click)="filterEpic(epic, index)" [ngClass]="epic.selected ? 'selected' : ''"  [ngStyle]="{'border-style' : epic.selected  ? '' : 'dashed' }" style="height: 72px" matTooltip="{{epic?.name}}">-->
<!--                        <a class="edit" (click)="editEpics(epic)"><i class="fa fa-pencil" aria-hidden="true"></i></a>-->
<!--                        <div class="d-flex justify-content-center">-->
<!--                            <h5 class="txt-overflow-epic">{{epic?.name}}</h5>-->
<!--                        </div>-->
<!--                        <div class="inner-wrap">-->
<!--                            <input type="text" placeholder="Title">-->
<!--                            <textarea name="descripton" cols="" rows=""></textarea>-->
<!--                            <button>Submit</button>-->
<!--                        </div>-->
<!--                        <a virtuan-click-stop-propagation class="delete" (click)="deleteDesign(epic?.uuid, 'epic')"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
<!--                        <a virtuan-click-stop-propagation class="assign" (click)="addStory(selectedEpic)"><i class="fa fa-link" aria-hidden="true"></i></a>-->
<!--&lt;!&ndash;                        <a class="delete" (click)="deleteDesign(epic?.uuid, 'epic')"><i class="fa fa-trash" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="assign" (click)="addStory(selectedEpic)"><i class="fa fa-link" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </ng-template>-->
<!--            </p-carousel>-->
<!--            <div class="row">-->
<!--                <ng-container *ngFor="let epic of existingEpics; let j = index">-->
<!--                    <div class="col-4" (click)="filterEpic(epic, j)">-->
<!--                        <div class="wrap" [ngClass]="epic.selected ? 'selected' : ''"  [ngStyle]="{'border-style' : epic.selected  ? '' : 'dashed' }"-->
<!--                             matTooltip="{{epic?.name}}"-->
<!--                             [matTooltipPosition]="toolTipPosition" style="height: 50px">-->
<!--                            <h5 class="txt-overflow">{{epic?.name}}</h5>-->
<!--                            &lt;!&ndash;                    <a class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--                            <div class="inner-wrap">-->
<!--                                <input type="text" placeholder="Title">-->
<!--                                <textarea name="descripton" cols="" rows=""></textarea>-->
<!--                                <button>Submit</button>-->
<!--                            </div>-->
<!--                            <a class="delete" (click)="deleteDesign(epic?.uuid, 'epic')"><i class="fa fa-trash"-->
<!--                                                                                            aria-hidden="true"></i></a>-->
<!--                            <a class="assign" (click)="addStory(selectedEpic)"><i class="fa fa-link" aria-hidden="true"></i></a>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; <div *ngIf="epic.selected" class="add-icon">-->
<!--                            <mat-icon class="material-icons"-->
<!--                                    style="color: slateblue; font-size: 50px;transform: rotate(180deg);"-->
<!--                                    (click)="addStory(selectedEpic)">publish-->
<!--                            </mat-icon>-->
<!--                        </div> &ndash;&gt;-->
<!--                    </div>-->
<!--                </ng-container>-->
<!--            </div>-->
        </div>
        <!-- <div class="watermark" style="left: 88%;">
            Epics
        </div>
        <div> -->
        <div class="col-3">
            <!--            <div class="col-12">-->
            <!--                <h1 class="d-flex justify-content-center" style="color: #CDCDCD; font-size: 2rem">Epics</h1>-->
            <!--            </div>-->
            <div class="col-12 d-flex justify-content-center" style="padding-bottom: 20px">
                <div class="chart-wrapper" style="height: 150px; width: 300px; padding-bottom: 20px; ">
                    <canvas baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>

        <!--        <div class="col-1" *ngIf="selectedEpicId">-->
        <!--            <a class="new" (click)="addStory(selectedEpic)">-->
        <!--                <div class="wrap add">-->
        <!--                    <i class="fa fa-plus" aria-hidden="true"></i>-->
        <!--                </div>-->
        <!--            </a>-->
        <!--        </div>-->
    </div>

    <div *ngIf="existingEpics.length != 0 && filteredStories.length == 0 && selectedEpic" @inOutAnimation style="margin-left: 50px;">
        <hr>
        <div class="col-12 d-flex justify-content-center">
            <button mat-raised-button style="top: -32px; margin-right: 10px" (click)="addStory(selectedEpic)"><mat-icon>add</mat-icon>Story</button>
            <button mat-raised-button style="top: -32px" (click)="addText(selectedEpic)"><mat-icon>add</mat-icon>Text</button>
<!--            <a class="add-req" virtuan-click-stop-propagation (click)="addStory(selectedEpic)"><i style="padding-right: 6px;" class="fa fa-plus" aria-hidden="true"></i>Story</a>-->
<!--            <a class="add-text" virtuan-click-stop-propagation (click)="addText(selectedEpic)"><i style="padding-right: 6px;" class="fa fa-plus" aria-hidden="true"></i>Text</a>-->
        </div>
    </div>

    <div *ngIf="filteredStories.length != 0" @inOutAnimation>
        <ng-container *ngFor="let story of filteredStories" >
            <div id="storiesText" class="row section border row-color wrap-text"  style="margin-left: 120px; margin-bottom: -20px" *ngIf="story.storyText">
                <div class="col-12 d-flex justify-content-center" style="padding-top: 10px">
                    <a class="delete" virtuan-click-stop-propagation (click)="deleteDesign('story')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a class="edit-icon-text" (click)="editStory(currentReq?.uuid)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <p-editor class="story-text" name="text-pane" id="field_reqdescription" [(ngModel)]="story.storyText"
                          [style]="{'height':'100px', 'margin-top':'10px'}" [readonly]="true">
                    <p-header hidden>
                        <span class="ql-formats"></span>
                    </p-header>
                </p-editor>

            </div>
            <div  id="stories"  class="row section border row-color wrap-story p-0"  style="margin-left: 120px; margin-top: 34px" *ngIf="story.storyTemplate != 'CREATE-TEXT' ">
                <div class="top-req">
                    <div class="col-12 d-flex justify-content-center add-req-top">
                        <button mat-raised-button style="top: -15px; margin-right: 10px" (click)="addStory(selectedEpic)"><mat-icon>add</mat-icon>Story</button>
                        <button mat-raised-button style="top: -15px" (click)="addText(selectedEpic , story.uuid)" *ngIf="!story.storyText"><mat-icon>add</mat-icon>Text</button>
                        <!--            <a class="add-req" virtuan-click-stop-propagation (click)="addStory(selectedEpic)"><i style="padding-right: 6px;" class="fa fa-plus" aria-hidden="true"></i>Story</a>-->
                        <!--            <a class="add-text" virtuan-click-stop-propagation (click)="addText(selectedEpic)"><i style="padding-right: 6px;" class="fa fa-plus" aria-hidden="true"></i>Text</a>-->
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center" style="height: 20px;" matTooltip="{{story.name}}" [matTooltipPosition]="toolTipPosition">
                  <h5 style="bottom: 20px" class="txt-overflow">{{story.name}}</h5>
<!--                    <div class="row pb-1">-->
<!--                        <div class="col-6 d-flex justify-content-center align-item-center">-->
<!--                            <div  matTooltip="{{story.storyTemplate}}" [matTooltipPosition]="toolTipPosition">-->
<!--                                <h5 class="txt-overflow p-0">{{story.name}}</h5>-->
<!--                            </div>-->
                            <div>
                                <a class="delete" virtuan-click-stop-propagation (click)="deleteDesign('story')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
<!--                        </div>-->
<!--                        <div class="col-6">-->
<!--                            <div>-->
<!--                                &lt;!&ndash;                                <a class="edit-icon" (click)="editStory(currentReq?.uuid)"><i class="fa fa-pencil" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <a class="delete" virtuan-click-stop-propagation (click)="deleteDesign('story')"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!--                <div class="col-2 wrap" matTooltip="{{story?.name}}" style="margin-right: 50px"-->
                <!--                     >-->
                <!--                    <h5 class="txt-overflow">{{story.name}}</h5>-->
                <!--                    <a class="edit" (click)="editStory(currentReq?.uuid)"><i class="fa fa-pencil"-->
                <!--                                                                             aria-hidden="true"></i></a>-->
                <!--                    &lt;!&ndash;                    <a class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>&ndash;&gt;-->
                <!--                    <div class="inner-wrap">-->
                <!--                        <input type="text" placeholder="Title">-->
                <!--                        <textarea name="descripton" cols="" rows=""></textarea>-->
                <!--                        &lt;!&ndash;                        <select name="" >&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <option value="" selected>Epic 1</option>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <option value="">Epic 2</option>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <option value="">Epic 3</option>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        </select>&ndash;&gt;-->
                <!--                        <button>Submit</button>-->
                <!--                    </div>-->
                <!--                    <a class="delete" virtuan-click-stop-propagation (click)="deleteDesign('story')"><i-->
                <!--                            class="fa fa-trash" aria-hidden="true"></i></a>-->
                <!--                </div>-->
                <div class="col-1">
                    <div id="generate">
                        <div [ngClass]="spinnerButton ? 'spinner spinner-load' : 'spinner'"  (click)="generateStory(story)">
                            <i class="fa fa-play" aria-hidden="true" style="color: #009579;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-center" style="margin-right: 10px">
                    <div class="new" (click)="loadStoryDesignEditor(story)"  style="display: flex; justify-content: center;">
                        <button  mat-mini-fab disabled aria-label="Example icon button with a heart icon"  style="background-color: #40a2dc; color: white; cursor: pointer;">
                            <!--                            <i class="material-icons">edit_note</i>-->
                            <mat-icon  style="font-size: 18px">border_color</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-3 justify-content-center">
                    <mat-form-field class="flex-auto" style="width: 100%">
                        <mat-label>Progress</mat-label>
                        <mat-select [ngModel]="story.status" (selectionChange)="handleProgress($event.value, story.uuid)">
                            <mat-option value="NEW">New</mat-option>
                            <mat-option value="IN_PROGRESS">In Progress</mat-option>
                            <mat-option value="COMPLETED">Completed</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3 justify-content-center">
                    <mat-progress-bar mode="determinate" class="audio-progress-bar" value='{{story.statusCompletedValue}}' style="width: 300px; margin-left: 42px;"></mat-progress-bar>
                    <div class="line" style="margin-left: 47px; margin-top: 5px;"></div>
                    <h6 class="mt-0" style="position: absolute; right: 354px; font-size: 11px">New</h6>
                    <div class="line" style="position: absolute;margin-left: 183px; margin-top: -4px;"></div>
                    <h6 class="mt-0" style="position: absolute; right: 207px; font-size: 11px">Progress</h6>
                    <div class="line" style="position: absolute;margin-left: 325px;margin-top: -4px;"></div>
                    <h6 class="mt-0" style="position: absolute; right: 66px; font-size: 11px">Completed</h6>
                </div>
<!--                <div class="col-1 justify-content-end">-->
<!--                    <button mat-mini-fab disabled aria-label="Example icon button with a heart icon"-->
<!--                            style="background-color: rgba(108,64,220,0.83); color: white; cursor: pointer; right: -110px; bottom: -20px">-->
<!--                        <mat-icon class="material-icons"  style="font-size: 18px">link</mat-icon>-->
<!--                    </button>-->

                    <div class="col-12 d-flex justify-content-end" >
<!--                        <a class="swagger-link" virtuan-click-stop-propagation><i class="fa fa-trash" aria-hidden="true"></i></a>-->
                        <mat-icon class="material-icons swagger-link" (click)="openNewTab()" style="font-size: 25px">move_to_inbox</mat-icon>
                    </div>


<!--                    <div style="right: -110px; bottom: -20px">-->
<!--                        <mat-icon class="material-icons"  style="font-size: 18px">skip_next</mat-icon>-->
<!--                    </div>-->


<!--                </div>-->
                <div class="bottom-req" >
                    <div class="col-12 d-flex justify-content-center add-req-bottom">
                        <button mat-raised-button style="top: -1px; margin-right: 10px" (click)="addStory(selectedEpic)"><mat-icon>add</mat-icon>Story</button>
<!--                        <button mat-raised-button style="top: -1px" (click)="addText(selectedEpic)"><mat-icon>add</mat-icon>Text</button>-->
                 </div>
                </div>
            </div>
            <div id="stories" class="row section border row-color wrap-text"  style="margin-left: 120px" *ngIf="story.storyTemplate === 'CREATE-TEXT' ">
                <div class="col-12 d-flex justify-content-center" style="padding-top: 10px">
                    <a class="delete" virtuan-click-stop-propagation (click)="deleteDesign('story')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <p-editor class="story-text" name="text-pane" id="field_reqdescription" [(ngModel)]="story.description"
                          [style]="{'height':'120px', 'margin-top':'10px', 'border' : 0}" [readonly]="true">
                    <p-header hidden>
                        <span class="ql-formats"></span>
                    </p-header>
                </p-editor>

            </div>
        </ng-container>
        <!--        <div class="watermark" style="left: 88%;">-->
        <!--            Stories-->
        <!--        </div>-->


        <!--<div class="col-3">
            <a href="" class="new">
                <div class="wrap add">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
            </a>
        </div>-->
    </div>


    <!--<div id="story-details" class="row section border" >
        <div class="col-12">
            <div class="row">
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faPerson"></fa-icon>
                    </div>
                </div>
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faMobileScreen"></fa-icon>
                    </div>
                </div>
                <div class="col-3 sub-sec">
                    <div class="wrap icon-wrap">
                        <fa-icon [icon]="faGear"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3 sub-sec">
                    <div class="wrap">
                        <h3>Actor1</h3>
                        <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                        <div class="inner-wrap">
                            <input type="text" placeholder="Actor">
                            <textarea name="descripton" id="" cols="" rows=""></textarea>
                            <button>Submit</button>
                        </div>
                        <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                    </div>
                </div>
                <div class="col-6 sub-sec">
                    <div class="row border">
                        <div class="col-6">
                            <div class="wrap screen">
                                <h3>Screen1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Screen">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap process">
                                <h3>Process1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Process">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap screen">
                                <h3>Screen1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Screen">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="wrap process">
                                <h3>Process1</h3>
                                <a href="" class="edit"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Process">
                                    <textarea name="descripton" id="" cols="" rows=""></textarea>
                                    <button>Submit</button>
                                </div>
                                <a href="" class="delete"><fa-icon [icon]="faWindowClose"></fa-icon></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="" class="new">
                                <div class="wrap add">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    </div>
</div>

<virtuan-story-design-page
  *ngIf="viewEditor && ruleChainLoaded && ruleChainMetaDataLoaded && ruleNodeComponentsLoaded && connectionPropertyTemplatesLoaded"
  [ruleChain]="ruleChain"
  [ruleChainMetaData]="ruleChainMetaData"
  [connectionPropertyTemplates]="connectionPropertyTemplates"
  [username]="username"
  [uid]="desprojectUid"
  [ruleNodeComponents]="ruleNodeComponents"
  [serviceUuid]="storyserviceUuid"
  [projectUid]="desprojectUid"
  [storyuuid]="storyuuid"></virtuan-story-design-page>
