<form class="mat-form-dialog" [formGroup]="editForm" (ngSubmit)="save()">
    <mat-toolbar color="primary">
        <h2 mat-dialog-title>Assign to Epic</h2>
        <span fxFlex></span>
        <button mat-icon-button
                mat-dialog-close
                type="button">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <div class="row">
            <div class="pb-3">
                <mat-radio-group formControlName="epicCreateType">
                    <mat-radio-button class="pe-5" value="new" color="primary" (change)="handleEpicCreateTypeChange()">
                        <span>Create New Epic</span>
                    </mat-radio-button>
                    <mat-radio-button value="existing" color="primary" (change)="handleEpicCreateTypeChange()">
                        <span>Select Existing</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field *ngIf="editForm.value.epicCreateType === 'new'" class="flex-auto">
                <mat-label>Epic Name</mat-label>
                <input type="text" formControlName="name" matInput>
                <mat-error *ngIf="editForm.controls.name.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="editForm.value.epicCreateType === 'new'" class="mat-block">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field *ngIf="editForm.value.epicCreateType === 'existing'" fxFlex class="mat-block">
                <mat-label>Epic</mat-label>
                <mat-select formControlName="epicselection">
                    <ng-container *ngFor="let property of existingEpics">
                        <mat-option [value]="property">
                            {{property.name}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <div class="flex-auto">
                <mat-label>Requirement</mat-label>
                <p-editor name="reqdescription" id="field_reqdescription"
                          formControlName="reqdescription" [style]="{'height':'200px'}">
                    <!--<p-header>
                    <span class="ql-formats">
                        <button class="ql-bold" aria-label="Bold"></button>
                        <button class="ql-italic" aria-label="Italic"></button>
                        <button class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
                        <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
                    </span>
                    </p-header>-->
                </p-editor>
            </div>

        </div>
    </mat-dialog-content>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="editForm.invalid || isSaving"
                type="submit" cdkFocusInitial>
            Save
        </button>
        <button mat-button color="primary"
                type="button"
                mat-dialog-close>
            Cancel
        </button>
    </div>
</form>
