
<div class="card-body" >
        <div class="row" style="height: 100%; overflow-y: hidden;">
            <div class="col-sm-6">
                <h2>Domain Model Design</h2>
            </div>
            <div class="col-sm-6">
                <div style="text-align: right; align-items: end">

<!--                    <button mat-fab color="accent" class="virtuan-btn-footer"-->
<!--                            (click)="save()"-->
<!--                            matTooltip="{{ 'action.apply-changes' | translate }}"-->
<!--                            matTooltipPosition="above">-->
<!--                        <mat-icon>done</mat-icon>-->
<!--                    </button>-->

                    <!--<button mat-fab color="accent" class="virtuan-btn-footer"
                            matTooltip="{{ 'action.decline-changes' | translate }}"
                            matTooltipPosition="above">
                        <mat-icon>close</mat-icon>
                    </button>-->

<!--                    <button mat-raised-button > <mat-icon>cancel</mat-icon>Cancel</button>&nbsp;-->
<!--                    <button mat-raised-button style="background-color: #007ad9; color: white;" (click)="save()"> <mat-icon>save</mat-icon>SAVE</button>-->

                </div>
            </div>

        </div>
<!--    <hr>-->
    <div class="scroll-bar" style="margin-top:20px;margin-bottom:10px;height: 590px;  overflow-y: auto;">
        <p-tree [style]="{'border': 'none'}"
                [value]="data"  layout="horizontal" selectionMode="single" [(selection)]="selectedNode" [contextMenu]="cm" (onNodeContextMenuSelect)="contextMenu($event, cm)"
                (onNodeSelect)="onNodeSelect($event)"></p-tree>
        <p-contextMenu #cm appendTo="body" [style]="{'text-decoration': 'none'}" [model]="items"></p-contextMenu>
    </div>
</div>
