.aggregate-tree {
  .fa-cube {
    color: black !important;
  }
}

.backImg {
  height: 386px;
  width: 400px;
  background-blend-mode: initial;
  background-repeat: no-repeat;
}

.ui-button {
  background-color: #dee6eb;
  color: #6d7f8b;
  border: none;
}

.modal-title-color {
  color: white;
}

:host ::ng-deep body .ui-tree {
  border: none;
  background-color: #e79999;
  color: #333333;
  /* padding: 0.571em 1em; */
}
::ng-deep .redNoMatch
{
  color:white;
  font-size: 30px;
  width: auto;
  background: #F44336 !important;
}

::ng-deep .greenNoMatch
{
  color:white;
  background: #1ab94f !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a73e8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1558b0;
}
