<form class="mat-form-dialog" [formGroup]="editForm" (ngSubmit)="save()" >
    <h2 mat-dialog-title>CREATE MODEL</h2>
    <mat-dialog-content>
        <div class="row">

            <mat-form-field class="flex-auto"  >
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let option of typeItems" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.controls.type.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto"  *ngIf="editForm.value.type !== 'entity' && editForm.value.type !== 'property-group'">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput>
                <mat-error *ngIf="editForm.controls.name.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto"  *ngIf="editForm.value.type === 'property'">
                <mat-label>Property Type</mat-label>
                <mat-select formControlName="propertytype">
                    <mat-option *ngFor="let option of propertytypeItems" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.controls.propertytype.hasError('required')">This field is required</mat-error>


            </mat-form-field>
            <section class="flex-auto"  *ngIf="editForm.value.type === 'property'">
                <mat-checkbox formControlName="isNotPersist">
                    Do not Persist
                </mat-checkbox>
            </section>

            <mat-form-field class="flex-auto"  *ngIf="editForm.value.type === 'entity'" >
                <mat-label>Import an Entity</mat-label>
                <mat-select formControlName="selectedEntity">
                    <mat-option *ngFor="let option of entityList" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.controls.propertytype.hasError('required')">This field is required</mat-error>


            </mat-form-field>

            <mat-form-field class="flex-auto"  *ngIf="editForm.value.type === 'property-group'">
                <mat-label>Import a Property Group</mat-label>
                <mat-select formControlName="selectedEntity">
                    <mat-option *ngFor="let option of propertyGroupList" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="editForm.controls.selectedEntity.hasError('required')">This field is required</mat-error>


            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button style="background-color: #007ad9; color: white;" type="submit" [disabled]="editForm.invalid || isSaving" cdkFocusInitial>SAVE</button>
    </mat-dialog-actions>
</form>
